{% extends 'layouts/main.html' %}
{% set title %}
Check your answers
{% endset %}
{% set _inError = data.validationError == "true"  %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">


      {{
govukBackLink ({
                  text: 'Back',
                  href: 'javascript:history.back()'
              })
      }}

  </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
       
        <span class="govuk-caption-l">Add further information about {% if data.companyname %}{{data.companyname}}{% else %}Radienteco Ltd{% endif %}</span>

            <h1 class="govuk-heading-l">{{title}}</h1>
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {% if data.companyname %}
          {{data.companyname}}
          {% else %}
          Radienteco Ltd
          {% endif %}
                    </dd>

                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                     Type
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {% if data.accounttype %}
                      {{data.accounttype}}
                      {% else %}
                      UK organisation registered with Companies House
                      {% endif %}
                    </dd>

                  </div>
                  {% if data.accounttype == "UK organisation registered with Companies House" %}
                  <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Company number
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {% if data.companynumber %}
                        {{data.companynumber}}
                        {% else %}
                        1241241
                        {% endif %}
                        
                      </dd>
                    </div>
                    {% endif %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Address
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if data.orgaddressSelect %} 
                    {% set address = data.orgaddressSelect.toString() %}
                    {{address | replace(", , ", ",<br />") | replace(", ", ",<br />") | safe}}
                    {% else %}
                    19 Grosvenor Road <br />
                    Solihull <br />
                    B91 3PU
                    {% endif %} 
                </dd>
              </div>
              {% if data.orghastradingname %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Organisation trades using a different name?
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data.orghastradingname}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link govuk-link--no-visited-state" href="trading-name">Change<span class="govuk-visually-hidden"> trading name</span></a>
                </dd>
              </div>
              {% endif %}
              {% if data.orgtradingname %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Trading name
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data.orgtradingname}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link govuk-link--no-visited-state" href="trading-name">Change<span class="govuk-visually-hidden"> trading name</span></a>
                </dd>
              </div>
              {% endif %}
              {% if data.orghastradingaddress %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Organisation uses a different address?
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data.orghastradingaddress}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link govuk-link--no-visited-state" href="trading-address">Change<span class="govuk-visually-hidden"> trading address</span></a>
                </dd>
              </div>
              {% endif %}
              {% if data.tradingaddressSelect %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Trading address
                </dt>
                <dd class="govuk-summary-list__value">
                  {% set address = data.tradingaddressSelect.toString() %}
                    {{address | replace(", , ", ",<br />") | replace(", ", ",<br />") | safe}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link govuk-link--no-visited-state" href="trading-address">Change<span class="govuk-visually-hidden"> trading address</span></a>
                </dd>
              </div>
              {% endif %}
              {% if data.orgprofit %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  For profit organisation?
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data.orgprofit}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link govuk-link--no-visited-state" href="profit">Change<span class="govuk-visually-hidden"> organisation profit</span></a>
                </dd>
              </div>
              {% endif %}
              {% if data.orgsubtype %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Organisation description
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data.orgsubtype}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link govuk-link--no-visited-state" href="what">Change<span class="govuk-visually-hidden"> organisation description</span></a>
                </dd>
              </div>
              {% endif %}
              {% if (data.orgsubtype != "Housing association") or (data.orgsubtype != "Local authority") or (data.orgsubtype != "Other social housing provider") %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Start and end of financial year?
                </dt>
                <dd class="govuk-summary-list__value">
                  Start: {{data.orgfinancialstartday}}/{{data.orgfinancialstartmonth}}<br />
                  End: {{data.orgfinancialendday}}/{{data.orgfinancialendmonth}}

                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link govuk-link--no-visited-state" href="date">Change<span class="govuk-visually-hidden"> end date</span></a>
                </dd>
              </div>
              {% endif %}
              {% if data.orgaccounts %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Accounts for last financial period?
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data.orgaccounts}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link govuk-link--no-visited-state" href="accounts">Change<span class="govuk-visually-hidden"> organisation accounts</span></a>
                </dd>
              </div>
              {% endif %}

              {% if data.orgaccounts == "No" %}
              {% if data.orgsolvent %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Solvent for the next 12 months?  
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data.orgsolvent}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link govuk-link--no-visited-state" href="solvent">Change<span class="govuk-visually-hidden"> organisation accounts</span></a>
                </dd>
              </div>
              {% endif %}
              {% if data.orgsolvent == "No" %}

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  How long is {% if data.companyname %}{{data.companyname}}{% else %}Radienteco Ltd{% endif %} solvent for?
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data.orgsolventmonths}} months
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link govuk-link--no-visited-state" href="solvent-months">Change<span class="govuk-visually-hidden"> organisation accounts</span></a>
                </dd>
              </div>
              {% endif %}

              {% endif %}
              {% if data.orgaccounts == "Yes" %}





              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Net profit or loss for the most recent financial year
                </dt>
                <dd class="govuk-summary-list__value">
                  £{{data.financialprofit}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link govuk-link--no-visited-state" href="financial-profit">Change<span class="govuk-visually-hidden"> organisation accounts</span></a>
                </dd>
              </div>


              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Total liquid assets
                </dt>
                <dd class="govuk-summary-list__value">
                  £{{data.financialliquid}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link govuk-link--no-visited-state" href="financial-liquid">Change<span class="govuk-visually-hidden"> organisation accounts</span></a>
                </dd>
              </div>


              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Did {% if data.companyname %}{{data.companyname}}{% else %}Radienteco Ltd{% endif %} exceed it's liabilities?
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data.financialexceed}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link govuk-link--no-visited-state" href="financial-exceed">Change<span class="govuk-visually-hidden"> organisation accounts</span></a>
                </dd>
              </div>


              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Average monthly fixed costs for {% if data.companyname %}{{data.companyname}}{% else %}Radienteco Ltd{% endif %}'s heat networks 
                </dt>
                <dd class="govuk-summary-list__value">
                  £{{data.financialmonthly}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link govuk-link--no-visited-state" href="financial-monthly">Change<span class="govuk-visually-hidden"> organisation accounts</span></a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Average monthly income for {% if data.companyname %}{{data.companyname}}{% else %}Radienteco Ltd{% endif %}'s heat networks 
                </dt>
                <dd class="govuk-summary-list__value">
                  £{{data.financialincome}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link govuk-link--no-visited-state" href="financial-income">Change<span class="govuk-visually-hidden"> organisation accounts</span></a>
                </dd>
              </div>


              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Able to meet its costs as they fall due within the next 12 months
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data.financialauthorised}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link govuk-link--no-visited-state" href="financial-authorised">Change<span class="govuk-visually-hidden"> organisation accounts</span></a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Percentage of energy needs that are hedged
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data.financialpercentage}}%
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link govuk-link--no-visited-state" href="financial-percentage">Change<span class="govuk-visually-hidden"> organisation accounts</span></a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  How long are energy needs hedged for?
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data.financiallength}} months
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link govuk-link--no-visited-state" href="financial-percentage">Change<span class="govuk-visually-hidden"> organisation accounts</span></a>
                </dd>
              </div>
              {% endif %}
              {% if data.orgstructure %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Organisation structure
                </dt>
                <dd class="govuk-summary-list__value">
                  {% if data.orgstructure != "Neither of these" %}
                  {{data.orgstructure}}
                  {% else %}
                 No parent company
                  {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link govuk-link--no-visited-state" href="structure">Change<span class="govuk-visually-hidden"> organisation description</span></a>
                </dd>
              </div>
              {% if data.orgstructure != "Neither of these" %}
              {% if data.parenttotal %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Number of parent companies?
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data.parenttotal}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link govuk-link--no-visited-state" href="parent-total">Change<span class="govuk-visually-hidden"> organisation description</span></a>
                </dd>
              </div>
              {% set parents = [] %}

              {% for i in range(1, 100) %}
                  {% set parents = parents.concat([{
                      "id": i,
                      "name": data["parentname" ~ i],
                      "address": data["parentaddressSelect" ~ i]
                  }]) %}
              {% endfor %}
              
            {% for parent in parents %}
            {% if (parent.id <= data.parenttotal) and parent.name %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Parent organisation {{parent.id}}
              </dt>
              <dd class="govuk-summary-list__value">
                {{parent.name}}<br />
                {{parent.address}}
                {% set parentaddress = parent.address.toString() %}
                {{parentaddress | replace(", , ", ",<br />") | replace(", ", ",<br />") | safe}}

              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="parent-total">Change<span class="govuk-visually-hidden"> parent name</span></a>
              </dd>
            </div>
            {% endif %}
            {% endfor %}
              {% else %}

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Parent organisation name
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data.parentname}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link govuk-link--no-visited-state" href="parent-name">Change<span class="govuk-visually-hidden"> parent name</span></a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Parent organisation address
                </dt>
                <dd class="govuk-summary-list__value">
                  {% set parentaddress = data.parentaddressSelect.toString() %}
                  {{parentaddress | replace(", , ", ",<br />") | replace(", ", ",<br />") | safe}}

                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link govuk-link--no-visited-state" href="parent-address">Change<span class="govuk-visually-hidden"> parent address</span></a>
                </dd>
              </div>
              {% endif %}
              {% endif %}
              {% endif %}
            </dl>

            </dl>
            <form method="POST" novalidate>
              {{
                govukButton ({
                    html: 'Confirm and save'
                })
            }}
        </form>


    </div>

</div>

{% endblock %}