{% extends 'layouts/main.html' %}
{% set title %}
 Does {% if data.companyname %}{{data.companyname}}{% else %}Radienteco Ltd{% endif %} have an alternative email address for legal correspondence?
 {% endset %}
{% set _inError = data.validationError == "true"  %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

{% include data.version + "/_partials/logout.html" %}
        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

          <form method="post" novalidate>
            
            <div class="govuk-form-group {% if data.validationErrors.orghasemailaddress %}govuk-form-group--error{% endif %}">
              <fieldset class="govuk-fieldset">
                
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <span class="govuk-caption-l">Add further information about {% if data.companyname %}{{data.companyname}}{% else %}Radienteco Ltd{% endif %}</span>

                  <h1 class="govuk-fieldset__heading">
                    
                    {{title}}
                  </h1>
                </legend>
                <p class="govuk-body">All regulatory notices and other documents that we may need to send regarding your organisation's heat networks will go to your email address, as the regulatory contact:  <strong>{% if data.onelingemail %}{{data.oneloginemail}}{% else %}john.smith@heatco.org{% endif %}</strong></p>

                <p class="govuk-body">You can provide an alternative email address for occasions where you are not available, or so additional members of your team receive legal correspondence. The email address can be for a shared mailbox.</p>

                {% if data.validationErrors.orghasemailaddress %}
                <p class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    {{data.validationErrors.orghasemailaddress.message}}
                </p>
                {% endif %}
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="orghasemailaddress" name="orghasemailaddress" type="radio" value="Yes" data-aria-controls="conditional-orghasemailaddress" {% if data.orghasemailaddress == "Yes" %} checked{% endif %}>
                    <label class="govuk-label govuk-radios__label" for="orghasemailaddress">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-orghasemailaddress">
                    <div class="govuk-form-group {% if data.validationErrors.orgemailaddress %}govuk-form-group--error{% endif %}">
                      <label class="govuk-label" for="orgemailaddress">
                       Email address
                      </label>
                      {% if data.validationErrors.orgemailaddress %}
                      <p class="govuk-error-message">
                          <span class="govuk-visually-hidden">Error:</span>
                          {{data.validationErrors.orgemailaddress.message}}
                      </p>
                      {% endif %}
                      <input class="govuk-input govuk-!-width-two-thirds {% if data.validationErrors.orgemailaddress %}govuk-input--error{% endif %}" id="orgemailaddress" name="orgemailaddress" type="text" value="{{data.orgemailaddress}}">        
                    </div>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="orghasemailaddress-2" name="orghasemailaddress" type="radio" value="No" {% if data.orghasemailaddress == "No" %} checked{% endif %}>
                    <label class="govuk-label govuk-radios__label" for="orghasemailaddress-2">
                      No
                    </label>
                  </div>

                  
                </div>
              </fieldset>
            </div>
            {{
                govukButton ({
                    html: 'Continue'
                })
            }}
      </form>
      
      
    </div>

</div>

{% endblock %}