{% extends 'layouts/main.html' %}
{% set title %}
What were {% if data.companyname %}{{data.companyname}}{% else %}Radienteco Ltd{% endif %}'s average monthly fixed costs for running its heat networks for the previous financial year?
{% endset %}
{% set _inError = data.validationError == "true"  %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

{% include data.version + "/_partials/logout.html" %}
        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <form  method="POST" novalidate>
            
            <div class="govuk-form-group {% if data.validationErrors.financialmonthly %}govuk-form-group--error{% endif %}">

                        <span class="govuk-caption-l">Add further information about {% if data.companyname %}{{data.companyname}}{% else %}Radienteco Ltd{% endif %}</span>
                        <h1 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--l" for="financialmonthly">
                                {{title}}
                            </label>
                          </h1>

                    <p class="govuk-body">Only include costs from parts of the business that deal with your organisation's heat networks.</p>
                    <p class="govuk-body">You must enter a whole number without decimals.</p>

                    {% if data.validationErrors.financialmonthly %}
                    <p class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{data.validationErrors.financialmonthly.message}}
                    </p>
                    {% endif %}

                            <div class="govuk-form-group">
                                <div class="govuk-input__wrapper">
                                    <div class="govuk-input__prefix" aria-hidden="true">£</div>

                                <input class="govuk-input govuk-input--width-5 {% if data.validationErrors.financialmonthly %}govuk-input--error{% endif %}" id="financialmonthly" name="financialmonthly" type="text" value="{{data.financialmonthly}}" >
                            </div>
                        </div>





            </div>
            {{
                govukButton ({
                    html: 'Continue'
                })
            }}
        </form>
    </div>

</div>

{% endblock %}