{% extends 'layouts/main.html' %}
{% set title %} Add further information about {% if data.companyname %}{{data.companyname}}{% else %}Radienteco Ltd{% endif %}{% endset %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group ">

                <span class="govuk-caption-l">
                    Organisation details
                  </span>
                        <h1 class="govuk-heading-l">
                            {{title}}
                        </h1>
                        <p class="govuk-body">
                            When you've finished adding this information, you'll have full access to the service and can start providing data about your heat networks.
                        </p>
                        <h2 class="govuk-heading-m">What you'll need</h2>
                        <p class="govuk-body">
                            You must tell us:
                        </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>if your organisation trades under another name or from another address</li>
                    <li>whether or not your organisation operates for profit, and what type of organisation it is</li>
                    <li>high-level information about your organisation's accounts, profit, assets, liabilities, heat network costs and income, cash flow and hedging</li>
                    <li>the start and end dates of your organisation's financial year</li>
                    <li>whether the organisation is part of a joint venture, special purpose vehicle or is a wholly owned subsidary of another organisation, and if so the details of any parent organisations</li>
                </ul>

                <p class="govuk-body">We'll provide definitions and guidance for any possibly unfamiliar concepts as you progress</p>
            </div>
        <a href="trading-name" class="govuk-button">Continue</a>
    </div>
</div>

{% endblock %}