{% extends 'layouts/main.html' %}
{% set title = "Does your orgnisation have a trading name?" %}
{% set _inError = data.validationError == "true"  %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

          <form method="post" novalidate>
            <span class="govuk-caption-l">
                {% if data.companyname %}{{data.companyname}}{% else %}Radienteco Ltd{% endif %}
              </span>
            <div class="govuk-form-group {% if data.validationErrors.orghastradingname %}govuk-form-group--error{% endif %}">
              <fieldset class="govuk-fieldset">

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    {{title}}
                  </h1>
                </legend>
                {% if data.validationErrors.orghastradingname %}
                <p class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    {{data.validationErrors.orghastradingname.message}}
                </p>
                {% endif %}
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="orghastradingname" name="orghastradingname" type="radio" value="Yes" data-aria-controls="conditional-orghastradingname" {% if data.orghastradingname == "Yes" %} checked{% endif %}>
                    <label class="govuk-label govuk-radios__label" for="orghastradingname">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-orghastradingname">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="orgtradingname">
                        Trading name
                      </label>
                      {% if data.validationErrors.orgtradingname %}
                      <p class="govuk-error-message">
                          <span class="govuk-visually-hidden">Error:</span>
                          {{data.validationErrors.orgtradingname.message}}
                      </p>
                      {% endif %}
                      <input class="govuk-input govuk-!-width-two-thirds {% if data.validationErrors.orgtradingname %}govuk-input--error{% endif %}" id="orgtradingname" name="orgtradingname" type="text" value="{{data.orgtradingname}}">        
                    </div>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="orghastradingname-2" name="orghastradingname" type="radio" value="No" {% if data.orghastradingname == "No" %} checked{% endif %}>
                    <label class="govuk-label govuk-radios__label" for="orghastradingname-2">
                      No
                    </label>
                  </div>

                  
                </div>
              </fieldset>
            </div>
            {{
                govukButton ({
                    html: 'Save and continue'
                })
            }}
      </form>
      
      
    </div>

</div>

{% endblock %}