{% extends 'layouts/main.html' %}
{% set title %}
{% if data.parenttotal > 1 %}
What type of organisation is parent organisation {{data.parentsentered}}?
{% else %}
What type of organisation is the parent organisation?
{% endif %}
{% endset %}
{% set _inError = data.validationError == "true"  %}


{% block pageTitle %}
{{title}}
{% endblock %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

{% include data.version + "/_partials/logout.html" %}
        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>


{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" parentaccounttype="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <form method="POST" novalidate>

            <div class="govuk-form-group {% if data.validationErrors.parentaccounttype %}govuk-form-group--error{% endif %}">

                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                        <h1 class="govuk-fieldset__heading">
                            {{title}}
                        </h1>

                    </legend>

                    {% if data.validationErrors.parentaccounttype %}
                    <p class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{data.validationErrors.parentaccounttype.message}}
                    </p>
                    {% endif %}





                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="parentaccounttype" name="parentaccounttype" type="radio" value="UK company registered with Companies House" {% if data.parentaccounttype=="UK company registered with Companies House" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="parentaccounttype">
                                UK company registered with Companies House
                            </label>
                        </div>
                        

 

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="parentaccounttype-4" name="parentaccounttype" type="radio" value="Other UK organisation" {% if data.parentaccounttype=="Other UK organisation" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="parentaccounttype-4">
                                Other UK organisation
                            </label>
                            <div id="parentaccounttype-4-hint" class="govuk-hint govuk-radios__hint">
                                For example, local authorities, charities, mutual societies, sole traders
                              </div>
                        </div>
                        <div class="govuk-radios__divider">or</div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="parentaccounttype-5" name="parentaccounttype" type="radio" value="Overseas organisation" {% if data.parentaccounttype=="Overseas organisation" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="parentaccounttype-5">
                                Overseas organisation
                            </label>
                        </div>


                    </div>


                </fieldset>


            </div>
            {{
                govukButton ({
                    html: 'Continue'
                })
            }}
        </form>

    </div>

</div>

{% endblock %}