{% extends 'layouts/main.html' %}

{% block pageTitle %}
    Check your answers from this section
{% endblock %}

{% block beforeContent %}

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">

            {{ super() }}

            {{ govukBackLink ({
                text: 'Back',
                href: 'javascript:history.back()'
            }) }}

        </div>

    </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="../../tasklist">

                {% if data['choose-organisation-role'] == "Third party representative"%}
                <h1 class="govuk-caption-l">Lumosense Energy Limited</h1>
                {% endif %}
                <h1 class="govuk-heading-l">Check your answers from this section</h1>

                <h2 class="govuk-heading-m">
                    Buildings and consumers
                </h2>

                {{ govukSummaryList ({
                    rows: [
                        
                        {
                            key: {
                                text: 'District networks provides heat to communally heated buildings'
                            },
                            value: {
                                text: data['connection-check']
                            },
                            actions: {
                                items: [
                                    {
                                        text: 'Change',
                                        href: 'connection-check',
                                        visuallyHiddenText: ' whether your district network provide heat to any communally heated buildings / networks'
                                    }
                                ]
                            }
                        },
                        {
                            key: {
                                text: 'For all of the connected communal networks do you operate and supply heat to all end consumers?'
                            },
                            value: {
                                text: data['bulk-check']
                            },
                            actions: {
                                items: [
                                    {
                                        text: 'Change',
                                        href: 'bulk-check',
                                        visuallyHiddenText: ' whether for all of the connected communal networks you operate and supply heat to all end consumers'
                                    }
                                ]
                            }
                        } if data['connection-check'] == "Yes",
                        {
                            key: {
                                text: 'Organisation name of the other heat supplier'
                            },
                            value: {
                                text: data['other-name']
                            },
                            actions: {
                                items: [
                                    {
                                        text: 'Change',
                                        href: 'other-name',
                                        visuallyHiddenText: ' the organisation name of the other heat supplier/network operator'
                                    }
                                ]
                            }
                        } if data['bulk-check'] == "No",
                        {
                            key: {
                                text: 'Address for the other organisation'
                            },
                            value: {
                                text: data['other-address']
                            },
                            actions: {
                                items: [
                                    {
                                        text: 'Change',
                                        href: 'other-postcode',
                                        visuallyHiddenText: ' the address for the other organisation'
                                    }
                                ]
                            }
                        } if data['bulk-check'] == "No",
                        {
                            key: {
                                text: 'Contact name for the other organisation'
                            },
                            value: {
                                text: data['other-contact']
                            },
                            actions: {
                                items: [
                                    {
                                        text: 'Change',
                                        href: 'other-contact',
                                        visuallyHiddenText: ' contact name for the other organisation'
                                    }
                                ]
                            }
                        } if data['bulk-check'] == "No",
                        {
                            key: {
                                text: 'Email address for the contact in the other organisation'
                            },
                            value: {
                                text: data['other-email']
                            },
                            actions: {
                                items: [
                                    {
                                        text: 'Change',
                                        href: 'other-email',
                                        visuallyHiddenText: ' email address for the contact in the other organisation'
                                    }
                                ]
                            }
                        } if data['bulk-check'] == "No",
                        {
                            key: {
                                text: 'Telephone number for the contact in the other organisation'
                            },
                            value: {
                                text: data['other-telephone']
                            },
                            actions: {
                                items: [
                                    {
                                        text: 'Change',
                                        href: 'other-telephone',
                                        visuallyHiddenText: ' telephone number for the contact in the other organisation'
                                    }
                                ]
                            }
                        } if data['bulk-check'] == "No",
                        {
                            key: {
                                text: 'Types of buildings the heat networks supplies'
                            },
                            value: {
                                text: data['building-type'] | arrayToBullets | safe
                            },
                            actions: {
                                items: [
                                    {
                                        text: 'Change',
                                        href: 'building-type',
                                        visuallyHiddenText: ' the type of buildings the heat networks supplies'
                                    }
                                ]
                            }
                        },
                        {
                            key: {
                                text: 'Number of residential buildings'
                            },
                            value: {
                                text: data['building-residential']
                            },
                            actions: {
                                items: [
                                    {
                                        text: 'Change',
                                        href: 'building-residential',
                                        visuallyHiddenText: ' number of residential buildings'
                                    }
                                ]
                            }
                        } if data['building-type'] | includes("Residential buildings"),
                        {
                            key: {
                                text: 'Number of domestic consumers'
                            },
                            value: {
                                text: data['domestic-consumers']
                            },
                            actions: {
                                items: [
                                    {
                                        text: 'Change',
                                        href: 'domestic-consumers',
                                        visuallyHiddenText: ' number of domestic consumers'
                                    }
                                ]
                            }
                        } if data['building-type'] | includes("Residential buildings"),
                        {
                            key: {
                                text: 'Number of commercial buildings'
                            },
                            value: {
                                text: data['building-commercial']
                            },
                            actions: {
                                items: [
                                    {
                                        text: 'Change',
                                        href: 'building-commercial',
                                        visuallyHiddenText: ' number of commercial buildings'
                                    }
                                ]
                            }
                        } if data['building-type'] | includes("Commercial buildings"),
                        {
                            key: {
                                text: 'Number of commercial consumers'
                            },
                            value: {
                                text: data['commercial-consumers']
                            },
                            actions: {
                                items: [
                                    {
                                        text: 'Change',
                                        href: 'commercial-consumers',
                                        visuallyHiddenText: ' number of commercial consumers'
                                    }
                                ]
                            }
                        } if data['building-type'] | includes("Commercial buildings"),
                        {
                            key: {
                                text: 'Number of industrial buildings'
                            },
                            value: {
                                text: data['building-industrial']
                            },
                            actions: {
                                items: [
                                    {
                                        text: 'Change',
                                        href: 'building-industrial',
                                        visuallyHiddenText: ' number of industrial buildings'
                                    }
                                ]
                            }
                        } if data['building-type'] | includes("Industrial buildings"),
                        {
                            key: {
                                text: 'Number of industrial consumers'
                            },
                            value: {
                                text: data['industrial-consumers']
                            },
                            actions: {
                                items: [
                                    {
                                        text: 'Change',
                                        href: 'industrial-consumers',
                                        visuallyHiddenText: ' number of industrial consumers'
                                    }
                                ]
                            }
                        } if data['building-type'] | includes("Industrial buildings"),
                        {
                            key: {
                                text: 'Number of public buildings'
                            },
                            value: {
                                text: data['building-public']
                            },
                            actions: {
                                items: [
                                    {
                                        text: 'Change',
                                        href: 'building-public',
                                        visuallyHiddenText: ' number of public buildings'
                                    }
                                ]
                            }
                        } if data['building-type'] | includes("Public buildings"),
                        {
                            key: {
                                text: 'Number of public consumers'
                            },
                            value: {
                                text: data['public-consumers']
                            },
                            actions: {
                                items: [
                                    {
                                        text: 'Change',
                                        href: 'public-consumers',
                                        visuallyHiddenText: ' number of public consumers'
                                    }
                                ]
                            }
                        } if data['building-type'] | includes("Public buildings"),
                        {
                            key: {
                                text: 'Number of other buildings'
                            },
                            value: {
                                text: data['building-other']
                            },
                            actions: {
                                items: [
                                    {
                                        text: 'Change',
                                        href: 'building-other',
                                        visuallyHiddenText: ' number of other buildings'
                                    }
                                ]
                            }
                        } if data['building-type'] | includes("Other buildings"),
                        {
                            key: {
                                text: 'Number of other consumers'
                            },
                            value: {
                                text: data['other-consumers']
                            },
                            actions: {
                                items: [
                                    {
                                        text: 'Change',
                                        href: 'other-consumers',
                                        visuallyHiddenText: ' number of other consumers'
                                    }
                                ]
                            }
                        } if data['building-type'] | includes("Other buildings")

                    }
                }) }}

                <input type="hidden" name="section-buildings-district" value="complete">                 

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}