{% extends 'layouts/main.html' %}
{% set title = data.name %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="../account-information">Account home</a>
                </li>
            </ol>
        </div>

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">



        <div class="govuk-form-group ">

            <span class="govuk-caption-l">Add a heat network</span>
            <h1 class="govuk-heading-l">
                {{title}}
            </h1>
            <ul class="govuk-task-list">
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                        <a class="govuk-link govuk-task-list__link" href="introduction/cya" aria-describedby="company-details-1-status">Introduction</a>
                    </div>
                    <div class="govuk-task-list__status hn-task-list__status" id="company-details-1-status">
                        {% if data.introcomplete == "true" %}
                        Completed
                        {% else %}
                        <strong class="govuk-tag govuk-tag--blue">
                            Not yet started
                        </strong>
                        {% endif %}
                    </div>
                </li>
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                        {% if data.locationcomplete == "true" %}
                        <a class="govuk-link govuk-task-list__link" href="location/cya" aria-describedby="company-details-2-status">Location</a>
                        {% else %}
                        <a class="govuk-link govuk-task-list__link" href="location/address" aria-describedby="company-details-2-status">Location</a>
                        {% endif %}

                        <div id="company-details-2-hint" class="govuk-task-list__hint">
                            Address of the network's energy centre
                        </div>
                    </div>
                    <div class="govuk-task-list__status hn-task-list__status" id="company-details-2-status">
                        {% if data.locationcomplete == "true" %}
                        Completed
                        {% else %}
                        <strong class="govuk-tag govuk-tag--blue">
                            Not yet started
                        </strong>
                        {% endif %}
                    </div>
                </li>
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                        {% if data.buildingcomplete == "true" %}
                            <a class="govuk-link govuk-task-list__link" href="buildingsandconsumers/cya" aria-describedby="company-details-3-hint company-details-3-status">Buildings and consumers</a>
                        {% else %}
                        <a class="govuk-link govuk-task-list__link" href="buildingsandconsumers/type" aria-describedby="company-details-3-hint company-details-3-status">Buildings and consumers</a>
                        {% endif %}

                        <div id="company-details-3-hint" class="govuk-task-list__hint">
                            Number of buildings and customers by type; information about connected communal networks, including their addresses
                        </div>
                    </div>
                    <div class="govuk-task-list__status hn-task-list__status" id="company-details-3-status">
                        {% if data.buildingcomplete == "true" %}
                        Completed
                        {% else %}
                        <strong class="govuk-tag govuk-tag--blue">
                            Not yet started
                        </strong>
                        {% endif %}
                    </div>
                </li>
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                        <a class="govuk-link govuk-task-list__link" href="technical/capacity" aria-describedby="company-details-4-status">Technical information</a>
                        <div id="company-details-3-hint" class="govuk-task-list__hint">
                            Details of network capacity, generation and supply, thermal storage and electricity production; also which technologies and energy sources the network uses
                        </div>

                    </div>
                    <div class="govuk-task-list__status hn-task-list__status" id="company-details-4-status">
                        {% if data.techcomplete == "true" %}
                        Completed
                        {% else %}
                        <strong class="govuk-tag govuk-tag--blue">
                            Not yet started
                        </strong>
                        {% endif %}
                    </div>
                </li>
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                        {% if data.meteringcomplete == "true" %}
                        <a class="govuk-link govuk-task-list__link" href="metering/cya" aria-describedby="company-details-5-status">Metering</a>
                        {% else %}
                        <a class="govuk-link govuk-task-list__link" href="metering/classes" aria-describedby="company-details-5-status">Metering</a>
                        {% endif %}
                        <div id="company-details-5-hint" class="govuk-task-list__hint">
                            Number of building-level meters, final consumer meters and heat cost allocators; details of any metering agents
                        </div>

                    </div>
                    <div class="govuk-task-list__status hn-task-list__status" id="company-details-5-status">
                        {% if data.meteringcomplete == "true" %}
                        Completed
                        {% else %}
                        <strong class="govuk-tag govuk-tag--blue">
                            Not yet started
                        </strong>
                        {% endif %}
                    </div>
                </li>
                {% if ((data.metertype or []).indexOf('Final consumer meters') > -1) or ((data.metertype or []).indexOf('Final consumer heat cost allocators') > -1)  %}
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                        {% if data.billingcomplete == "true" %}
                        <a class="govuk-link govuk-task-list__link" href="billing/cya" aria-describedby="company-details-5-status">Billing</a>
                        {% else %}
                        <a class="govuk-link govuk-task-list__link" href="billing/often" aria-describedby="company-details-5-status">Billing</a
>
                        {% endif %}
                    </div>
                    <div class="govuk-task-list__status hn-task-list__status" id="company-details-5-status">
                        {% if data.billingcomplete == "true" %}
                        Completed
                        {% else %}
                        <strong class="govuk-tag govuk-tag--blue">
                            Not yet started
                        </strong>
                        {% endif %}
                    </div>
                </li>
                {% endif %}
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                        <a class="govuk-link govuk-task-list__link" href="financial/plan" aria-describedby="company-details-7-status">Financial resilience</a>
                    </div>
                    <div class="govuk-task-list__status hn-task-list__status" id="company-details-7-status">
                        {% if data.financialcomplete == "true" %}
                        Completed
                        {% else %}
                        <strong class="govuk-tag govuk-tag--blue">
                            Not yet started
                        </strong>
                        {% endif %}
                    </div>
                </li>
                
                {% if (data.consumertyperesidential=='Yes') or (data.consumertypemicrobusiness=='Yes') %}

                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                        {% if (data.consumertyperesidential=='No') and (data.consumertypemicrobusiness=='Yes') %}

                        <a class="govuk-link govuk-task-list__link" href="consumerprotections/confirm" aria-describedby="company-details-8-status">Consumer protections</a>
                        {% else %}
                        <a class="govuk-link govuk-task-list__link" href="consumerprotections/vulnerable" aria-describedby="company-details-8-status">Consumer protections</a>
                        {% endif %}
                    </div>
                    <div class="govuk-task-list__status hn-task-list__status" id="company-details-8-status">
                      {% if data.protectionscomplete == "true" %}
                        Completed
                        {% else %}
                        <strong class="govuk-tag govuk-tag--blue">
                            Not yet started
                        </strong>
                        {% endif %}

                    </div>
                </li>
                {% endif %}
            </ul>


        </div>

        <a href="confirmsubmit" class="govuk-button">Submit</a>

    </div>

</div>

{% endblock %}