{% extends 'layouts/main.html' %}
{% set title = "Confirm address" %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">



            <div class="govuk-form-group ">

                        <span class="govuk-caption-l">Add a heat network - location</span>
                        <h1 class="govuk-heading-l">
                            {{title}}
                        </h1>
                    <p class="govuk-body">
                        1 result found for {{data.addressPostcode}}. <a href="address" class="govuk-link govuk-link--no-visited-state">Search again</a>
                    </p>
                    <div class="govuk-inset-text">
                        {{data.addressNumber}},<br />
                        Grosvenor Road,<br />
                        Solihull,<br />
                      {{data.addressPostcode}}
                    </div>







            </div>
        <a href="control" class="govuk-button">Use this address</a>

    </div>

</div>

{% endblock %}