{% extends 'layouts/main.html' %}

{% block pageTitle %}
    What type of buildings does the heat network supply?
{% endblock %}

{% block beforeContent %}

    <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">

                {{ super() }}

                {{ govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                }) }}

            </div>

    </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="building-residential">

                

                {{ govukCheckboxes({
                  name: "building-type",
                  fieldset: {
                    legend: {
                      text: "What type of buildings does the heat network supply?",
                      isPageHeading: true,
                      classes: "govuk-fieldset__legend--l"
                    }
                  },
                  hint: {
                    text: "Select all that apply."
                  },
                  items: [
                    {
                      value: "Residential buildings",
                      text: "Residential buildings",
                      checked: true if data['building-type'] | includes("Residential buildings")
                    },
                    {
                      value: "Commercial buildings",
                      text: "Commercial buildings",
                      checked: true if data['building-type'] | includes("Commercial buildings")
                    },
                    {
                      value: "Industrial buildings",
                      text: "Industrial buildings",
                      checked: true if data['building-type'] | includes("Industrial buildings")
                    },
                    {
                      value: "Public buildings",
                      text: "Public buildings",
                      checked: true if data['building-type'] | includes("Public buildings")
                    },
                    {
                      value: "Other buildings",
                      text: "Other buildings",
                      checked: true if data['building-type'] | includes("Other buildings")
                    }
                  ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

                <br>

                {{ govukButton ({
                    html: 'Save and return later',
                    classes: 'govuk-button--secondary',
                    href: '#'
                }) }}

            </form>

        </div>

</div>

{% endblock %}