{% extends 'layouts/onelogin.html' %}
{% set title = "Enter a password" %}
{% set _inError = data.validationError == "true"  %}


{% block pageTitle %}
   {{title}}
{% endblock %}
{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    {% if _inError %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                {% for name, item in data.validationErrors %}
                <li>
                    <a href="#{{item.anchor}}">{{item.message}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}


    <h1 class="govuk-heading-l">Create your password</h1>

    <form  method="post" novalidate="">



      <div class="govuk-form-group  {% if data.validationErrors.password %}govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="password">
          {{title}}
        </label>


        <div id="password-hint" class="govuk-hint">
          It must be at least 8 characters and must include letters and numbers. Do not use a very common password, such
          as ‘password’ or a sequence of numbers.
        </div>

        {% if data.validationErrors.password %}
        <p class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            {{data.validationErrors.password.message}}
        </p>
        {% endif %}

        <input class="govuk-input govuk-!-width-two-thirds" id="password" name="oneloginpassword" type="password" value="{{data.oneloginpassword}}"
          spellcheck="false" aria-describedby="password-hint" autocomplete="new-password">

      </div>

      <div class="govuk-form-group {% if data.validationErrors.confirmpassword %}govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="password-confirmation">
          Re-type password
        </label>
        {% if data.validationErrors.confirmpassword %}
        <p class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            {{data.validationErrors.confirmpassword.message}}
        </p>
        {% endif %}
        <input class="govuk-input govuk-!-width-two-thirds" id="password-confirmation" name="oneloginpasswordconfirm" value="{{data.oneloginpasswordconfirm}}"
          type="password" spellcheck="false" autocomplete="new-password">

      </div>


      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            How to create a secure password
          </span>
        </summary>
        <div class="govuk-details__text">
          A good way to create a secure and memorable password is to use 3 random words. You can use numbers, symbols
          and spaces.
        </div>
      </details>


      <h2 class="govuk-heading-s">Agree to our terms of use</h2>

      <p class="govuk-body">By continuing, you confirm that you agree to our:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">privacy notice (opens
            in a new tab)</a>, which explains how we use your personal information</li>
        <li><a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">terms and
            conditions (opens in a new tab)</a></li>
      </ul>


      {{
        govukButton ({
            html: 'Continue'
        })
    }}


    </form>

  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script>



</script>
{% endblock pageScripts %}