//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here

.govuk-header__service-name {
	@include govuk-font-size($size: 19);
}

.app-ofgem {

	.dwp-\!-background-grey {
		background-color: #f8f8f8 !important;
	}

	.ds-grid-row--item:last-of-type {
		margin-right: 0;
	}

	.govuk-\!-padding-4 {
		padding: 20px !important;
	}

	.ds-grid-row--item {
		float: none;
		width: 25%;
		padding: 0;
		margin: 0;
	}

	.ds-grid-row {
		display: flex;
		grid-template-columns: 1fr;
		grid-gap: 30px;
		margin: 0;
		padding: 0;
	}


}

.hn-task-list__status {
	min-width: 150px;
}

.hn-notification__red {
	border: 5px solid $govuk-error-colour;
	background: $govuk-error-colour
}

.link-red {
	@extend .govuk-link;
	color: $govuk-error-colour !important;
}

.account-link {
	display: inline-block;
	margin-left: 10px;
	@include govuk-responsive-margin(0, "bottom");	

	&s-container {
		float: right;
		margin-top: 15px;
    margin-bottom: 10px;
}

}

.govuk-breadcrumbs {
	display: inline-block;
}

.breakword {
	word-break: break-all;
}

.imagerow {
	display: table;
	border-collapse: collapse;
	width: 100%;
}
.imagerow {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Adjust spacing between items */
}

.imageitem {
    box-sizing: border-box;
    overflow: hidden; /* Ensures no overflow if the image aspect ratio differs */
	@include govuk-media-query($from: tablet) {
		flex: 1 1 calc(25% - 16px); /* 4 items per row with space for gaps */

		max-width: 25%;
	}
}

.imageitem img {
    width: 100%; /* Scale image width to fit the container */
    height: 100%; /* Scale image height to fit the container */
    object-fit: cover; /* Crop to cover the container, keeping aspect ratio */
}

.text-capitalise {
	text-transform: capitalize;
}