//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here

.govuk-header__service-name {
	@include govuk-font-size($size: 19);
}

.app-ofgem {

	.dwp-\!-background-grey {
		background-color: #f8f8f8 !important;
	}

	.ds-grid-row--item:last-of-type {
		margin-right: 0;
	}

	.govuk-\!-padding-4 {
		padding: 20px !important;
	}

	.ds-grid-row--item {
		float: none;
		width: 25%;
		padding: 0;
		margin: 0;
	}

	.ds-grid-row {
		display: flex;
		grid-template-columns: 1fr;
		grid-gap: 30px;
		margin: 0;
		padding: 0;
	}


}

.hn-task-list__status {
	min-width: 150px;
}

.hn-notification__red {
	border: 5px solid $govuk-error-colour;
	background: $govuk-error-colour
}

.link-red {
	@extend .govuk-link;
	color: $govuk-error-colour !important;
}

.account-link {
	display: inline-block;
	margin-left: 10px;
	@include govuk-responsive-margin(0, "bottom");	

	&s-container {
		float: right;
		margin-top: 15px;
    margin-bottom: 10px;
}

}

.govuk-breadcrumbs {
	display: inline-block;
}

.breakword {
	word-break: break-all;
}

.imagerow {
	display: table;
	border-collapse: collapse;
	width: 100%;
}
.imagerow {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Adjust spacing between items */
}

.imageitem {
    box-sizing: border-box;
    overflow: hidden; /* Ensures no overflow if the image aspect ratio differs */
	@include govuk-media-query($from: tablet) {
		flex: 1 1 calc(25% - 16px); /* 4 items per row with space for gaps */

		max-width: 25%;
	}
}

.imageitem img {
    width: 100%; /* Scale image width to fit the container */
    height: 100%; /* Scale image height to fit the container */
    object-fit: cover; /* Crop to cover the container, keeping aspect ratio */
}

.text-capitalise {
	text-transform: capitalize;
}

.text-red {
	color:  $govuk-error-colour !important;
}

.button-as-link {
	background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
}

.hn-tag {
	max-width: unset;
}

.hn-grid-row {
    display: flex;
    align-items: center; /* Centers content vertically */
}



/// Responsive table /// 
table.responsive thead {
	display: none;
  }
  table.responsive tr {
	margin-bottom: 10px;
	display: block;
	width: 100%;
	box-sizing: border-box;
  }
  table.responsive tr th, table.responsive tr td {
	display: block;
	clear: left;
	width: 100%;
	padding: 5px 0;
	box-sizing: border-box;
	border: 0;
  }
  table.responsive tr th:last-child, table.responsive tr td:last-child {
	border-bottom: 1px solid #b1b4b6;
	margin-bottom: 20px;
	padding-bottom: 15px;
  }
  table.responsive tr th:empty, table.responsive tr td:empty {
	display: none;
  }
  
  @media (min-width: 48.0625em) {
	table.responsive thead {
	  display: table-header-group;
	}
	table.responsive tr {
	  display: table-row;
	  border: none;
	  float: none;
	  margin: 0;
	}
	table.responsive tr th, table.responsive tr td {
	  display: table-cell;
	  text-align: left;
	  float: none;
	  clear: none;
	  padding: 0.6em 1em 0.5em;
	  border-bottom: 1px solid #b1b4b6;
	  width: auto;
	}
	table.responsive tr th:first-child, table.responsive tr td:first-child {
	  padding-left: 0;
	}
	table.responsive tr th:last-child, table.responsive tr td:last-child {
	  padding-right: 0;
	}
	table.responsive tr th:before, table.responsive tr td:before {
	  display: none;
	}
	table.responsive tr th.numeric, table.responsive tr td.numeric {
	  text-align: right;
	}
	table.responsive tr th.colgroup, table.responsive tr td.colgroup {
	  text-align: center;
	}
	table.responsive tr th:last-child, table.responsive tr td:last-child {
	  border-bottom: 1px solid #b1b4b6;
	}
	table.responsive tr th:empty, table.responsive tr td:empty {
	  display: table-cell;
	}
	table.responsive tr.total {
	  border: none;
	}
	table.responsive tr.total td {
	  border-bottom: none;
	}
	table.responsive tr.total td.total {
	  border-bottom: 2px solid #000;
	}
	table.responsive tr.total td:last-child {
	  padding-left: 0;
	}
	table.responsive tr th.tw-5 {
	  width: 5%;
	}
	table.responsive tr th.tw-10 {
	  width: 10%;
	}
	table.responsive tr th.tw-15 {
	  width: 15%;
	}
	table.responsive tr th.tw-20 {
	  width: 20%;
	}
	table.responsive tr th.tw-25 {
	  width: 25%;
	}
	table.responsive tr th.tw-30 {
	  width: 30%;
	}
	table.responsive tr th.tw-35 {
	  width: 35%;
	}
	table.responsive tr th.tw-40 {
	  width: 40%;
	}
	table.responsive tr th.tw-45 {
	  width: 45%;
	}
	table.responsive tr th.tw-50 {
	  width: 50%;
	}
	table.responsive tr th.tw-55 {
	  width: 55%;
	}
	table.responsive tr th.tw-60 {
	  width: 60%;
	}
	table.responsive tr th.tw-65 {
	  width: 65%;
	}
	table.responsive tr th.tw-70 {
	  width: 70%;
	}
	.break-line-desktop::before {
	  content: "\a";
	  white-space: pre;
	}
	.visually-hidden-desktop {
	  display: none;
	}
  }
  table.borderless tr {
	margin-bottom: 0px;
  }
  table.borderless tr th, table.borderless tr td {
	border-bottom: none !important;
	padding: 0 0 0.3em 0;
  }
  table.borderless tr th:last-child, table.borderless tr td:last-child {
	margin-bottom: 0px;
  }
  table.borderless tr th h3, table.borderless tr td h3 {
	padding: 0;
	margin: 0 0 0.3em 0;
  }
  table.borderless tr th p, table.borderless tr td p {
	margin-bottom: 0.3em;
  }
  table.borderless tbody {
	border-bottom: 1px solid #b1b4b6;
  }
  table.borderless tbody + tbody:before {
	height: 1em;
	display: table-row;
	content: "";
  }
  table.borderless tbody:after {
	height: 0.5em;
	display: table-row;
	content: "";
  }

  .float-right {
	float: right;
  }
  
  .hn-accordion {
	.govuk-accordion__controls {
		display: none;
	}
  }


  // QUERY MANAGEMENT

  .hn-contact--panel {
    border-top: 2px solid #1d70b8;
	@include govuk-responsive-padding(4, "top");	
	@include govuk-responsive-margin(8, "top");	
	margin-bottom: -20px;
  }


  .hn-contact--panel--v2 {
	background-color: govuk-colour("light-grey");
    border-top: 1px solid govuk-colour("mid-grey");
	@include govuk-responsive-padding(2, "top");	
	@include govuk-responsive-padding(2, "bottom");	
	margin-bottom: -20px;
  }