{% extends 'layouts/main.html' %}
{% set cdnumber = "027" %}

{% set title = "Manage users" %}
{% block pageTitle %}
{{title}}
{% endblock %}
{% set company %}
  {% if data.companyname %}
  {{data.companyname}}
  {% else %}
  Radienteco Ltd 
  {% endif %}
{% endset %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
      {% include data.version + "/_partials/logout.html" %}

      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="account-information">Home</a>
          </li>
        </ol>
      </div>

    </div>

</div>

{% endblock %}

{% block content %}



      {% if data.manageusersnotification %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
            {% if data.manageusersnotification == 'deleted' %}
            {{data.deletedusername}} has been deactivated from the heat networks service for {% if data.companyname %}{{data.companyname}}{% else %}Radienteco Ltd{% endif %}
            
            {% elif data.manageusersnotification == 'reactivated' %}
           {{data.deletedusername}} has been reactivated for the heat networks service for {% if data.companyname %}{{data.companyname}}{% else %}Radienteco Ltd{% endif %}

           {% elif data.manageusersnotification == 'removed' %}
           You've removed {{data.deleteduseremail}} from the heat networks service for {% if data.companyname %}{{data.companyname}}{% else %}Radienteco Ltd{% endif %}

           {% elif data.manageusersnotification == 'inviteremoved'  %}
           You've cancelled the invitation for {{data.deleteduseremail}} to use the heat networks service on behalf of {% if data.companyname %}{{data.companyname}}{% else %}Radienteco Ltd{% endif %}

            {% elif data.manageusersnotification == 'adduserpermissions' %}
            You've added additional permissions for {{data.useremail}}

            {% elif data.manageusersnotification == 'regchange' %}
            You've made {{data.regcontactname}} the regulatory contact for {% if data.companyname %}{{data.companyname}}{% else %}Radienteco Ltd{% endif %}'s heat networks
            {% endif %}
          </h3>
          {% if data.manageusersnotification == 'inviteremoved' %}
          <p class="govuk-body">They've also been removed from the heat networks service for {{company}}. We've let them know via email.</p>
          {% elif (data.manageusersnotification != 'removed') and (data.manageusersnotification != 'adduserpermissions') %}
          <p class="govuk-body">We've let them know via email.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
                        <span class="govuk-caption-l">
                          {{company}}
                        </span>
                        <h1 class="govuk-heading-l">
                            {{title}}
                        </h1>

                        <table class="govuk-table">
                          <caption class="govuk-table__caption govuk-table__caption--m">Users</caption>
                          <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Name</th>
                              <th scope="col" class="govuk-table__header govuk-!-width-one-third">Email address</th>
                              <th scope="col" class="govuk-table__header">Status</th>
                              <th scope="col" class="govuk-table__header "></th>

                            </tr>
                          </thead>
                          <tbody class="govuk-table__body">

                            {% set users = [] %}

                            {% for i in range(1, 100) %}
                                {% set users = users.concat([{
                                    "added": data["addeduser" ~ i],
                                    "firstname": data["userfirstname" ~ i],
                                    "lastname": data["userlastname" ~ i],
                                    "email": data["useremail" ~ i],
                                    "id": i,
                                    "deleted": data["isdeleted" ~ i],
                                    "thirdparty": data["userthirdparty" ~ i],
                                    "orgname": data["userorgname" ~ i]
                                }]) %}
                            {% endfor %}
                            
                          {% for user in users %}
                          {% if (data.regchange == user.id) %}

                              {% if user.added == "true" %}
                                    <tr class="govuk-table__row">
                                      <td class="govuk-table__cell">{{user.firstname}} {{user.lastname}}
                                          <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-1">(Regulatory contact)</p>
                                    </td>
                                      <td class="govuk-table__cell">{{ user.email }}</td>
                                      <td class="govuk-table__cell">
                                              <span class="govuk-tag govuk-tag--green">Active</span>
                                      </td>
                                      <td class="govuk-table__cell govuk-table__cell--numeric">
                                          <a href="manage-users/user-profile?id={{ user.id }}" class="govuk-link govuk-link--no-visited-state">View <span class="govuk-visually-hidden">user</span></a>
                                          {% if (data.currentuserid == user.id) and (data.usertotal > 1) %}
                                          <br /><a href="manage-users/reg-change" class="govuk-link govuk-link--no-visited-state">Reassign regulatory contact</a>
                                          {% endif %}
                                      </td>
                                  </tr>
                              {% endif %}
                              {% endif %}
                          {% endfor %}

                          {% for user in users %}
                          {% if (data.regchange != user.id) %}

                          {% if user.added == "true" %}
                                <tr class="govuk-table__row">
                                  {% if (user.id == "4") or (user.id == "5") %}
                                  <td class="govuk-table__cell">-

                                  {% else %}
                                  <td class="govuk-table__cell">{{user.firstname}} {{user.lastname}}
                                   
                                    {% if (user.thirdparty == "Yes") %}
                                    <br />(Third party)</span>
                                    {% endif %}
                                    {% endif %}
                                </td>
                                  <td class="govuk-table__cell">{{ user.email }}</td>
                                  <td class="govuk-table__cell">
                                    {% if user.deleted == true %}
                                    <span class="govuk-tag govuk-tag--red no-wrap">Deactivated</span>
                                    {% elif (user.id == "4") %}
                                    <span class="govuk-tag govuk-tag--yellow no-wrap">Invitation sent</span>
                                    {% elif (user.id == "5") %}
                                    <span class="govuk-tag govuk-tag--orange no-wrap">Invitation refused</span>

                                    {% else %}
                                          <span class="govuk-tag govuk-tag--green">Active</span>
          
                                          {% endif %}
                                  </td>
                                  <td class="govuk-table__cell govuk-table__cell--numeric">
                                    {% if (user.id == "4") %}
                                    <a href="manage-users/cancel-invite?id={{ user.id }}" class="govuk-link govuk-link--no-visited-state">Cancel invitation</a>
                                    {% elif (user.id == "5") %}
                                    <a href="manage-users/remove-user?id={{ user.id }}" class="govuk-link govuk-link--no-visited-state">Remove user</a>
                                    {% elif (user.deleted == true) %}
                                    <a href="manage-users/reactivate-user?id={{ user.id }}" class="govuk-link govuk-link--no-visited-state">Reactivate user</a>

                                    {% else %}
                                      <a href="manage-users/user-profile?id={{ user.id }}" class="govuk-link govuk-link--no-visited-state">View <span class="govuk-visually-hidden">user</span></a>
                                    {% endif %}
                                  </td>
                              </tr>
                          {% endif %}
                          {% endif %}


                      {% endfor %}


                          </tbody>
                        </table>



                        <form  method="POST" novalidate>

                        <div class="govuk-button-group">
                          {{
                            govukButton ({
                                html: 'Add new user'
                            })
                          }}
                        </div>
                  </form>
                  
                  </div>
</div>
{% endblock %}