{% extends 'layouts/main.html' %}
{% if data.building == "Yes" %}
    {% set title = "How many customers are on the heat network?" %}
{% else %}
    {% set title = "How many customers are in this building?" %}
{% endif %}



{% set _inError = data.validationError == "true"  %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
            govukBackLink ({
                text: 'Back',
                href: 'javascript:history.back()'
            })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <form method="POST" novalidate>

            <div class="govuk-form-group {% if data.validationErrors.customerstotal %}govuk-form-group--error{% endif %}">

                <span class="govuk-caption-l">Add a heat network - buildings and consumers</span>
                <h1 class="govuk-heading-l">
                    {{title}}
                </h1>


                <fieldset class="govuk-fieldset">
                    {% if data.building == "Yes" %}
                    {% set customertypes = data.buildingtypealt %}
                    {% if (data.buildingtypealt or []).indexOf('Mixed0use') > -1 %}
                        {% set mixeduse = true %}
                        {% set mixedtypes = ['Residential', 'Commercial', 'Public'] %}

                        
                    {% for type in mixedtypes %}
                            {% if (customertypes or []).indexOf(type) === -1 %}
                            {{customertypes.push(type) | reject() }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% for building in customertypes.sort() %}
                    {% if building != "Mixed0use" %}
                    <div class="govuk-form-group {% if data.validationErrors[building] %}govuk-form-group--error{% endif %}">
                        <label class="govuk-label" for="customers{{building}}">
                            {% if building == "Public" %}
                            {{building}} sector customers
                            {% else %}
                            {{building}} customers
                            {% endif %}
                        </label>
                        {% if data.validationErrors[building] %}
                        <p class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>
                            {{data.validationErrors[building].message}}
                        </p>

                        {% endif %}
                        {% if mixeduse and (building != "Industrial") %}
                        <p class="govuk-hint">Include any living in {% if building == "Public" %}commercial or {% endif %}Mixeduse buildings </p>
                        {% endif %}

                        <input class="govuk-input govuk-input--width-3" id="customers{{building}}" name="customers{{building}}" type="number" value="{{data['customers' + building]}}">
                    </div>



                    {% endif %}


                    {% endfor %}


                    {% else %}
                    <div class="govuk-form-group govuk-!-margin-bottom-4">

                        <input class="govuk-input govuk-input--width-4" id="customerstotal" name="customerstotal" type="text" spellcheck="false" inputmode="numeric">
                    </div>

                    {% endif %}



                </fieldset>
            </div>

            {{
                govukButton ({
                    html: 'Continue'
                })
            }}
        </form>

        <a href="cancel" class="govuk-link">Cancel</a>
    </div>

</div>

{% endblock %}