{% extends 'layouts/main.html' %}
{% set title = "How many 'final customers' does the heat network supply?" %}


{% set _inError = data.validationError == "true"  %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
            govukBackLink ({
                text: 'Back',
                href: 'javascript:history.back()'
            })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}



        <span class="govuk-caption-l">Add a heat network - buildings and consumers</span>
        <h1 class="govuk-heading-l">
            {{title}}
        </h1>


        <p class="govuk-body">A final customer is the person or organisation that purchases heating, hot water or cooling from a heat supplier.</p>
        <form method="POST" novalidate>
            <fieldset class="govuk-fieldset">

                {% if (data.howmanyresidential >= 1) or (data.howmanymixeduse >= 1) %}
                <div class="govuk-form-group {% if data.validationErrors.customersresidential %}govuk-form-group--error{% endif %}">
                    <label class="govuk-label" for="customersresidential">
                        Residential customers
                    </label>
                    {% if (data.howmanymixeduse >= 1) %}
                    <div id="customerscommercial-hint" class="govuk-hint">
                        Include any that are in mixed-use buildings
                    </div>
                    {% endif %}
                    {% if data.validationErrors.customersresidential %}
                    <p class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{data.validationErrors.customersresidential.message}}
                    </p>
                    {% endif %}
                    <input class="govuk-input {% if data.validationErrors.customersresidential %}govuk-input--error{% endif %} govuk-input--width-3" id="customersresidential" name="customersresidential" type="number" value="{{data.customersresidential}}">
                </div>
                {% endif %}

                {% if (data.howmanycommercial >= 1) or (data.howmanymixeduse >= 1) %}
                <div class="govuk-form-group {% if data.validationErrors.customerscommercial %}govuk-form-group--error{% endif %}">
                    <label class="govuk-label" for="customerscommercial">
                        Commercial customers
                    </label>
                    {% if (data.howmanymixeduse >= 1) %}
                    <div id="customerscommercial-hint" class="govuk-hint">
                        Include any that are in mixed-use buildings
                    </div>
                    {% endif %}

                    {% if data.validationErrors.customerscommercial %}
                    <p class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{data.validationErrors.customerscommercial.message}}
                    </p>
                    {% endif %}
                    <input class="govuk-input {% if data.validationErrors.customerscommercial %}govuk-input--error{% endif %} govuk-input--width-3" id="customerscommercial" name="customerscommercial" type="number" value="{{data.customerscommercial}}">
                </div>
                {% endif %}

                {% if (data.howmanyindustrial >= 1) %}
                <div class="govuk-form-group {% if data.validationErrors.customersindustrial %}govuk-form-group--error{% endif %}">
                    <label class="govuk-label" for="customersindustrial">
                        Industrial customers
                    </label>
                    {% if data.validationErrors.customersindustrial %}
                    <p class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{data.validationErrors.customersindustrial.message}}
                    </p>
                    {% endif %}
                    <input class="govuk-input {% if data.validationErrors.customersindustrial %}govuk-input--error{% endif %} govuk-input--width-3" id="customersindustrial" name="customersindustrial" type="number" value="{{data.customersindustrial}}">
                </div>
                {% endif %}

                
                {% if (data.howmanypublic >= 1) %}
                <div class="govuk-form-group {% if data.validationErrors.customerspublic %}govuk-form-group--error{% endif %}">
                    <label class="govuk-label" for="customerspublic">
                        Public customers
                    </label>
                    {% if data.validationErrors.customerspublic %}
                    <p class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{data.validationErrors.customerspublic.message}}
                    </p>
                    {% endif %}
                    <input class="govuk-input {% if data.validationErrors.customerspublic %}govuk-input--error{% endif %} govuk-input--width-3" id="customerspublic" name="customerspublic" type="number" value="{{data.customerspublic}}">
                </div>
                {% endif %}

                    {% if (data.howmanyother >= 1) %}
                <div class="govuk-form-group {% if data.validationErrors.customersother %}govuk-form-group--error{% endif %}">
                    <label class="govuk-label" for="customersother">
                        Other customers
                    </label>

                    {% if data.validationErrors.customersother %}
                    <p class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{data.validationErrors.customersother.message}}
                    </p>
                    {% endif %}
                    <input class="govuk-input {% if data.validationErrors.customersother %}govuk-input--error{% endif %} govuk-input--width-3" id="customersother" name="customersother" type="number" value="{{data.customersother}}">
                </div>
                {% endif %}





            </fieldset>


            {{
                govukButton ({
                    html: 'Continue'
                })
            }}
        </form>
        <a href="cancel" class="govuk-link">Cancel</a>
    </div>

</div>

{% endblock %}