{% extends 'layouts/main.html' %}
{% set title = "Check your answers" %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Add a heat network - buildings and consumers</span>
        <h1 class="govuk-heading-l">
            {{title}}
        </h1>


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            {% if data.building == "Yes" %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    How many buildings does network supply?
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if data.howmanyresidential >= 1 %}Residential - {{data.howmanyresidential}}<br />{% endif %}
                    {% if data.howmanycommercial >= 1 %}Commercial - {{data.howmanycommercial}}<br />{% endif %}
                    {% if data.howmanyindustrial >= 1 %}Industrial - {{data.howmanyindustrial}}<br />{% endif %}
                    {% if data.howmanypublic >= 1 %}Public - {{data.howmanypublic}}<br />{% endif %}
                    {% if data.howmanymixeduse >= 1 %}Mixed use - {{data.howmanymixeduse}}<br />{% endif %}
                    {% if data.howmanyother >= 1 %}Other - {{data.howmanyother}}<br />{% endif %}


                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="supply">Change<span class="govuk-visually-hidden"> network supply status</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    How many final consumers does network supply?
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if data.customersresidential >= 1 %}Residential - {{data.customersresidential}}<br />{% endif %}
                    {% if data.customerscommercial >= 1 %}Commercial - {{data.customerscommercial}}<br />{% endif %}
                    {% if data.customersindustrial >= 1 %}Industrial - {{data.customersindustrial}}<br />{% endif %}
                    {% if data.customerspublic >= 1 %}Public - {{data.customerspublic}}<br />{% endif %}
                    {% if data.customersother >= 1 %}Other - {{data.customersother}}<br />{% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="supply">Change<span class="govuk-visually-hidden"> network supply status</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Does network have communally-heated buildings?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data.communalheating}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="supply">Change<span class="govuk-visually-hidden"> network supply status</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    How many buildings on network are communally heated?
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if data.communalresidential >= 1 %}Residential - {{data.communalresidential}}<br />{% endif %}
                    {% if data.communalcommercial >= 1 %}Commercial - {{data.communalcommercial}}<br />{% endif %}
                    {% if data.communalindustrial >= 1 %}Industrial - {{data.communalindustrial}}<br />{% endif %}
                    {% if data.communalpublic >= 1 %}Public - {{data.communalpublic}}<br />{% endif %}
                    {% if data.communalmixeduse >= 1 %}Mixed use - {{data.communalmixeduse}}<br />{% endif %}
                    {% if data.communalother >= 1 %}Other - {{data.communalother}}<br />{% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="supply">Change<span class="govuk-visually-hidden"> network supply status</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    How many final customers are in the network's communally-heated buildings?
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if data.communalresidential >= 1 %}Residential - {{data.buildingaddressCustomers}}<br />{% endif %}
                    {% if data.communalcommercial >= 1 %}Commercial - {{data.buildingaddressCustomers | float + 3 | float}}<br />{% endif %}
                    {% if data.communalindustrial >= 1 %}Industrial - {{data.buildingaddressCustomers | float + 6 | float}}<br />{% endif %}
                    {% if data.communalpublic >= 1 %}Public - {{data.buildingaddressCustomers | float +68 | float}}<br />{% endif %}
                    {% if data.communalmixeduse >= 1 %}Mixed use - {{data.buildingaddressCustomers | float + 3 | float}}<br />{% endif %}
                    {% if data.communalother >= 1 %}Other - {{data.communalother}}<br />{% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="supply">Change<span class="govuk-visually-hidden"> network supply status</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Addresses of communally-heated buildings
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if (data.communalresidential >= 1) %}
                    {% for i in range(0, data.communalresidential) -%}
                    Residential building {{ i + 1 }}</br>
                    {{data.buildingaddressNumber}} Grosvenor Road,<br />
                    Solihull, {{data.buildingaddressPostcode}}</br></br>
                    {%- endfor %}
                    {% endif %}
                    {% if (data.communalcommercial >= 1) %}
                    {% for i in range(0, data.communalcommercial) -%}
                    Commercial building {{ i + 1 }}</br>
                    155 Grosvenor Road,<br />
                    Solihull, {{data.buildingaddressPostcode}}</br></br>
                    {%- endfor %}
                    {% endif %}
                    {% if (data.communalindustrial >= 1) %}
                    {% for i in range(0, data.communalindustrial) -%}
                    Industrial building {{ i + 1 }}</br>
                    168 Grosvenor Road,<br />
                    Solihull, {{data.buildingaddressPostcode}}</br></br>
                    {%- endfor %}
                    {% endif %}
                    {% if (data.communalpublic >= 1) %}
                    {% for i in range(0, data.communalpublic) -%}
                    Public building {{ i + 1 }}</br>
                    201 Grosvenor Road,<br />
                    Solihull, {{data.buildingaddressPostcode}}</br></br>
                    {%- endfor %}
                    {% endif %}
                    {% if (data.communalmixeduse >= 1) %}
                    {% for i in range(0, data.communalmixeduse) -%}
                    Mixed use building {{ i + 1 }}</br>
                    77 Grosvenor Road,<br />
                    Solihull, {{data.buildingaddressPostcode}}</br></br>
                    {%- endfor %}
                    {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="supply">Change<span class="govuk-visually-hidden"> network supply status</span></a>
                </dd>
            </div>

            {% else %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    How many final consumers does network supply?      
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if data.howmanyresidential >= 1 %}Residential - {{data.howmanyresidential}}<br />{% endif %}
                    {% if data.howmanycommercial >= 1 %}Commercial - {{data.howmanycommercial}}<br />{% endif %}
                    {% if data.howmanyindustrial >= 1 %}Industrial - {{data.howmanyindustrial}}<br />{% endif %}
                    {% if data.howmanypublic >= 1 %}Public - {{data.howmanypublic}}<br />{% endif %}
                    {% if data.howmanyother >= 1 %}Other - {{data.howmanyother}}<br />{% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="supply">Change<span class="govuk-visually-hidden"> network supply status</span></a>
                </dd>
            </div>
            {% endif %}
        </dl>
        <form method="POST" novalidate>
            <input type="hidden" id="locationcomplete" name="buildingcomplete" value="true" />
            {{
                govukButton ({
                    html: 'Save and continue'
                })
            }}
        </form>

    </div>

</div>

{% endblock %}