{% extends 'layouts/main.html' %}

{% block pageTitle %}
    Register a heat network
{% endblock %}

{% macro taskListRow(props) %}
    <li class="app-task-list__item">
        <span class="app-task-list__task-name">
            {% if props.href %}
                <a href="{{ props.href }}" aria-describedby="{{ props.id }}">
                    {{ props.title }}
                </a>
            {% else %}
                {{ props.title }}
            {% endif %}
        </span>
        {% set tagColor = 'grey' %}
        {% if props.status == 'Complete' %}
            {% set tagColor = 'blue' %}
        {% elseif props.status == 'Not started' %}
            {% set tagColor = 'orange' %}
        {% endif %}
        {{ govukTag({
            text: props.status,
            classes: 'app-task-list__tag govuk-tag--' + tagColor,
            id: props.id
        }) }}
    </li>
{% endmacro %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                <h1 class="govuk-heading-l">Register a heat network</h1>

                <p>
                    <b>Application incomplete</b><br>
                    You have completed 0 of 3 sections.
                </p>

                <ol class="app-task-list">
                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">1. </span>
                            Check before you start
                        </h2>

                        <ul class="app-task-list__items">
                            {% set contactDetailsStatus = 'Complete' if data['section-contact-details'] == 'complete' else 'Not started' %}
                            {{ taskListRow({
                                id: 'contact-details',
                                title: 'Contact details',
                                href: 'contact-details/email' if contactDetailsStatus == 'Not started' else 'contact-details/check',
                                status: contactDetailsStatus
                            }) }}
                            {% set supplierDetailsStatus = 'Not started' if data['section-contact-details'] == 'complete' else 'Cannot start yet' %}
                            {% if data['section-supplier-details'] == 'complete' %}
                                {% set supplierDetailsStatus = 'Complete' %}
                            {% endif %}
                            {{ taskListRow({
                                id: 'supplier-details',
                                title: 'Supplier and operator details',
                                href: ('supplier-details/start' if supplierDetailsStatus == 'Not started' else 'supplier-details/check') if supplierDetailsStatus != 'Cannot start yet' else false,
                                status: supplierDetailsStatus
                            }) }}
                        </ul>
                    </li>
                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">2. </span>
                            Your heat network
                        </h2>

                        <ul class="app-task-list__items">
                            {{ taskListRow({
                                id: 'location',
                                title: 'Location',
                                href: false,
                                status: 'Cannot start yet'
                            }) }}
                            {{ taskListRow({
                                id: 'characteristics',
                                title: 'Characteristics',
                                href: false,
                                status: 'Cannot start yet'
                            }) }}
                        </ul>
                    </li>
                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">3. </span>
                            Review standards and send
                        </h2>

                        <ul class="app-task-list__items">
                            {{ taskListRow({
                                id: 'standards',
                                title: 'Commit to standards and send',
                                href: false,
                                status: 'Cannot start yet'
                            }) }}
                        </ul>
                    </li>
                </ol>

                {{ govukButton ({
                    html: 'Save and return later',
                    classes: 'govuk-button--secondary'
                }) }}

            </form>

        </div>

</div>

{% endblock %}