{% extends 'layouts/email.html' %}
{% set company %}
{% if data.companyname %}
{{data.companyname }}
{% else %}
Radienteco Ltd
{% endif %}
{% endset %}
{% set title %}
{{data.operator}} has told us that {{company}} supplies a heat network that they operate
{% endset %}
{% set _inError = data.validationError == "true"  %}


{% block pageTitle %}
{{title}}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
              {{title}}
            </h1>




            <p class="govuk-body">{{data.operator}} told us that you supply to consumers on their heat network.</p>
            <p class="govuk-body">You’ll need to sign in to the heat networks service and provide some additional information about {{data.name}}.</p>
              <p class="govuk-body">If you do not believe you supply to this heat network, you should contact the operator.</p>
              <p class="govuk-body">If you cannot get in touch with the operator or have any issues with this, you can contact us on <a href="mailto:support@registerheatnetworks.service.gov.uk" class="govuk-link breakword">support@registerheatnetworks.service.gov.uk</a>.</p>

          <p class="govuk-body">
          <a class="govuk-button" href="../account-information?v=supplier">Go to heat networks home</a>
        </p>

    </div>

</div>

{% endblock %}