{% extends 'layouts/main.html' %}
{% set title = "Confirm address" %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">



            <div class="govuk-form-group ">

                <span class="govuk-caption-l">Add a heat network - buildings and consumers</span>
                        <h1 class="govuk-heading-l">
                            {{title}}
                        </h1>
                                {% if not data.buildingaddressMPostcode %}

                                    <p class="govuk-body">
                        {% if data.buildinglocationAddressSelect == 0 %}1 result found for found for {{data.buildingaddressPostcode}} and {{data.buildingaddressNumber}}{% else %}{{data.buildinglocationAddressSelect.length}} results found for {{data.buildingaddressPostcode}}{% endif %}  . <a href="address" class="govuk-link govuk-link--no-visited-state">Search again</a>
                    </p>
                {% endif %}


                    <div class="govuk-inset-text">
                        {% set address = data.buildinglocationAddress.toString() %}
                        {{address | replace(", , ", ",<br />") | replace(", ", ",<br />") | safe}}
                        
                    </div>



                                <p class="govuk-body"><a href="addressmanual" class="govuk-link govuk-link--no-visited-state">Enter address manually</a></p>




            </div>
        <a href="addresscustomers" class="govuk-button">Use this address</a><br />
                <a href="cancel" class="govuk-link">Cancel</a>

    </div>

</div>

{% endblock %}