{% extends 'layouts/main.html' %}
    {% set title %}
            {% if data.buildingtype | length == 1 %}
{% for type in data.buildingtype %}
    How many {{ type | lower }} buildings are there?
{% endfor %}
            {% else %}
How many of each building type are there?
{% endif %}
{% endset %}

{% set _inError = data.validationError == "true"  %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
            govukBackLink ({
                text: 'Back',
                href: 'javascript:history.back()'
            })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}





        <form method="POST" novalidate>
            <fieldset class="govuk-fieldset">
                <span class="govuk-caption-l">Add a heat network - buildings and consumers</span>
                    {% if data.buildingtype | length == 1 %}
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--l" for="howmany{{buildingtype}}">
                            {{title}}
                        </label>
                    </h1>
                    {% else %}
                    <h1 class="govuk-heading-l">
                    {{title}}
                    </h1>
                    {% endif %}


                {% for buildingtype in data.buildingtype %}
                <div class="govuk-form-group {% if data.validationErrors[buildingtype] %}govuk-form-group--error{% endif %}">
                    {% if data.buildingtype | length > 1 %}
                    <label class="govuk-label" for="howmany{{buildingtype}}">
                        {{buildingtype | replace("0", "-") | safe}} buildings
                    </label>
                    {% endif %}
                    {% if data.validationErrors[buildingtype] %}
                    <p class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{data.validationErrors[buildingtype].message}}
                    </p>
                    
                    {% endif %}
                    <input class="govuk-input govuk-input--width-3" id="howmany{{buildingtype}}" name="howmany{{buildingtype}}" type="number" value="{{data['howmany' + buildingtype]}}">
                </div>
                {% endfor %}



            </fieldset>


            {{
                govukButton ({
                    html: 'Continue'
                })
            }}
        </form>
        <a href="cancel" class="govuk-link">Cancel</a>
    </div>

</div>

{% endblock %}