{% extends 'layouts/main.html' %}
{% set title = data.name %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="account-information">Account home</a>
                </li>
            </ol>
        </div>

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-notification-banner hn-notification__red" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Warning
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      Authorisation deadline is approaching
    </h3>
    <p class="govuk-body">You must complete and submit information about this heat network before 1 April 2025 to be compliant</p>
  </div>
</div>


        <div class="govuk-form-group ">

            <span class="govuk-caption-l">Add a heat network</span>
            <h1 class="govuk-heading-l">
                {{title}}
            </h1>
            <ul class="govuk-task-list">
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                        <a class="govuk-link govuk-task-list__link" href="cya" aria-describedby="company-details-1-status">Introduction</a>
                    </div>
                    <div class="govuk-task-list__status hn-task-list__status" id="company-details-1-status">
                        {% if data.introcomplete == "true" %}
                        Completed
                        {% else %}
                        <strong class="govuk-tag govuk-tag--blue">
                            Not yet started
                        </strong>
                        {% endif %}
                    </div>
                </li>
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                        {% if data.buildingcomplete == "true" %}
                            <a class="govuk-link govuk-task-list__link" href="cya2" aria-describedby="company-details-3-hint company-details-3-status">Buildings and consumers</a>
                        {% else %}
                        <a class="govuk-link govuk-task-list__link" href="type" aria-describedby="company-details-3-hint company-details-3-status">Buildings and consumers</a>
                        {% endif %}

                        <div id="company-details-3-hint" class="govuk-task-list__hint">
                            Number of buildings and customers by type; information about connected communal networks, including their addresses
                        </div>
                    </div>
                    <div class="govuk-task-list__status hn-task-list__status" id="company-details-3-status">
                        {% if data.buildingcomplete == "true" %}
                        Completed
                        {% else %}
                        <strong class="govuk-tag govuk-tag--blue">
                            Not yet started
                        </strong>
                        {% endif %}
                    </div>
                </li>
            </ul>


        </div>
                        <form method="POST" novalidate>
    <input type="hidden" id="hncomplete" name="hncomplete" value="true" />
    {{
                govukButton ({
                    html: 'Submit'
                })
    }}            </form>

    </div>

</div>

{% endblock %}