{% extends 'layouts/main.html' %}
{% set company %}{% if data.companyname %}{{data.companyname}}{% else %}Radienteco Ltd{% endif %}{% endset %}
{% set name %}{{data.smrifirstname}} {{data.smrilastname}}{% endset %}

{% set title %}
Has {{name}} been a person with SMRI at a current or former authorised person, a gas supplier, or an electricity supplier in respect of whose customers’ or consumers' premises the authority issued a Last Resort Supply Direction (including where they were a person with significant managerial responsibility or influence at that supplier within the 12 months prior to the Last Resort Supply Direction being issued)?
{% endset %}
{% set _inError = data.validationError == "true"  %}

{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">


    {% include data.version + "/_partials/headerlinks.html" %}
    {{
    govukBackLink ({
    text: 'Back',
    href: 'javascript:history.back()'
    })
    }}

  </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if _inError %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                {% for name, item in data.validationErrors %}
                <li>
                    <a href="#{{item.anchor}}">{{item.message}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    <form  method="POST" novalidate>

        
    <span class="govuk-caption-l">People with SMRI at {{company}}</span>

    <label for="smrisignificant">

    <h1 class="govuk-heading-l">
      {{title}}
    </h1>
  </label>

  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Help with ‘Last Resort Supply Direction’
      </span>
    </summary>
    <div class="govuk-details__text">
      <p class="govuk-body">A Last Resort Supply Direction in relation to a gas supplier is defined in <a href="https://www.ofgem.gov.uk/sites/default/files/2024-07/Gas_Supply_Standard_Consolidated_Licence_Conditions_July_2024.pdf" target="_blank" class="govuk-link govuk-link--no-visited-state">standard licence condition 1 of the Standard conditions of gas supply licence (opens in new tab)</a>.</p>
      <p class="govuk-body">A Last Resort Supply Direction in relation to an electricity supplier is defined in <a href="https://www.ofgem.gov.uk/sites/default/files/docs/2020/07/electricity_supply_standard_license_conditions.pdf" target="_blank" class="govuk-link govuk-link--no-visited-state">standard licence condition 1 of the Standard conditions of electric supply licence (opens in new tab)</a>.</p>
          </div>
  </details>
  <div class="govuk-form-group {% if data.validationErrors.smrisignificant %}govuk-form-group--error{% endif %}">

        {% if data.validationErrors.smrisignificant %}
        <p class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            {{data.validationErrors.smrisignificant.message}}
        </p>
        {% endif %}


        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="smrisignificant" name="smrisignificant" type="radio" value="Yes" {% if data.smrisignificant == "Yes" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="smrisignificant">
                  Yes
              </label>
          </div>
          <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="smrisignificant-2" name="smrisignificant" type="radio" value="No" {% if data.smrisignificant == "No" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="smrisignificant-2">
                  No
              </label>
          </div>
      </div>

      </div>



      <div class="govuk-button-group">
        {{
          govukButton ({
            html: 'Continue'
          })
        }}
      </div>
</form>

</div>

{% endblock %}