{% extends 'layouts/main.html' %}
{% set title = "You can return when you’re ready to continue registering the rest of the district network " %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
            {% include data.version + "/_partials/headerlinks.html" %}


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">



        <div class="govuk-form-group ">

            <span class="govuk-caption-l">Add a heat network - introduction</span>
            <h1 class="govuk-heading-l">
                {{title}}
            </h1>



            </p>

        </div>
        <a href="../../account-information" class="govuk-button">Finish</a>

    </div>

</div>

{% endblock %}