{% extends 'layouts/main.html' %}

{% set company %}
{% if data.companyname %}
{{data.companyname}}
{% else %}
Radienteco Ltd 
{% endif %}
{% endset %}

{% set title %}
Does {{company}} operate any energy centres on this heat network?
{% endset %}
{% set _inError = data.validationError == "true"  %}


{% block pageTitle %}
   {{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
            {% include data.version + "/_partials/headerlinks.html" %}


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        <form  method="POST" novalidate >

            <div class="govuk-form-group {% if data.validationErrors.introenergycentre %}govuk-form-group--error{% endif %}">

                <fieldset class="govuk-fieldset" >

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">Add a heat network - introduction</span>
                        <h1 class="govuk-fieldset__heading">
                               {{title}}
                        </h1>


                        </legend>
                        <p class="govuk-body">This means your organisation owns the energy centre or it has significant control over it. It has the ultimate decision-making authority to invest in it, make upgrades and direct repairs and maintenance to support its continued operation.</p>

                        <details class="govuk-details">
                            <summary class="govuk-details__summary">
                              <span class="govuk-details__summary-text">
                                What is an 'energy centre'?
                              </span>
                            </summary>
                            <div class="govuk-details__text">
                                This is where the heat network's thermal energy is generated. For example, a CHP plant, heat pump or gas boiler.
                            </div>
                          </details>
                          {% if data.introcommunaloperate == "Yes" %}

                          <div class="govuk-warning-text">
                            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                            <strong class="govuk-warning-text__text">
                              <span class="govuk-visually-hidden">Warning</span>
                              Do not include any energy centres within communal buildings on this heat network.
                            </strong>
                          </div>
                          {% endif %}
                        {% if data.introcommunal == "Yes" %}
                        <p class="govuk-body">
                            For example, a communal boiler that heats the whole building.
                        </p>
                        {% endif %}
                        {% if data.validationErrors.introenergycentre %}
                <p class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    {{data.validationErrors.introenergycentre.message}}
                </p>
                {% endif %}


                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="introenergycentre" name="introenergycentre" type="radio" value="Yes" {% if data.introenergycentre == "Yes" %}checked{% endif %} data-aria-controls="conditional-introenergycentre">
                        <label class="govuk-label govuk-radios__label" for="introenergycentre">
                            Yes
                        </label>
                    </div>

                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-introenergycentre">
                        
                        <div class="govuk-form-group {% if data.validationErrors.introenergycentrehowmany %}govuk-form-group--error{% endif %}">
                          <label class="govuk-label" for="introenergycentrehowmany">
                            How many energy centres?
                          </label>
                          {% if data.validationErrors.introenergycentrehowmany %}
                          <p class="govuk-error-message">
                              <span class="govuk-visually-hidden">Error:</span>
                              {{data.validationErrors.introenergycentrehowmany.message}}
                          </p>
                          {% endif %}
                          <input class="govuk-input govuk-input--width-4" id="introenergycentrehowmany" name="introenergycentrehowmany" type="number" value="{{data.introenergycentrehowmany}}">
                        </div>
                </div>

                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="introenergycentre-2" name="introenergycentre" type="radio" value="No"  {% if data.introenergycentre == "No" %}checked{% endif %} >
                        <label class="govuk-label govuk-radios__label" for="introenergycentre-2">
                            No
                        </label>
                    </div>

                </div>


                </fieldset>


            </div>
            {{
                govukButton ({
                    html: 'Continue'
                })
            }}
        </form>
        <p class="govuk-body"><a href="cancel" class="govuk-link govuk-link--no-visited-state">Cancel</a></p>
    </div>

</div>

{% endblock %}