{% extends 'layouts/main.html' %}

{% block pageTitle %}
    How many commercial consumers do you have?
{% endblock %}

{% block beforeContent %}
{% if not data['communal-type'] | includes('Commercial') %}
    {{ 'check' | redirect | safe }}
{% endif %}

    <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">

                {{ super() }}

                {{ govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                }) }}

            </div>

    </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="check">

                

                {% if data['choose-organisation-role'] == "Third party representative"%}
                <h1 class="govuk-caption-l">Lumosense Energy Limited</h1>
                {% endif %}
                <h1 class="govuk-heading-l">How many commercial consumers do you have?</h1>

                {{ govukDetails({
                  summaryText: "Help with 'commercial consumers'",
                  text: "Enter the total number of final/end consumers currently served by the network that fall into the commercial/retail class. These are consumers related to shops, offices, or business."
                }) }}

                

                

                {{ govukInput({
                label: {
                  text: "",
                  classes: "govuk-label--l",
                  isPageHeading: true
                },
                classes: "govuk-input--width-10",
                hint: {
                  text: ""
                },
                id: "communal-commercial-consumers",
                name: "communal-commercial-consumers",
                inputmode: "numeric",
                value: data['communal-commercial-consumers'] if data['communal-commercial-consumers'] else '',
                spellcheck: false
              }) }}

                {{ govukButton({
                text: "Continue"
                }) }}

                <br>

                {{ govukButton ({
                    html: 'Save and return later',
                    classes: 'govuk-button--secondary',
                    href: '#'
                }) }}

                

            </form>

        </div>

</div>

{% endblock %}