{% extends 'layouts/main.html' %}

{% block pageTitle %}
    What is your heat network type?
{% endblock %}

{% block beforeContent %}

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">

            {{ super() }}

            {{ govukBackLink ({
                text: 'Back',
                href: 'javascript:history.back()'
            }) }}

        </div>

    </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="check">

                <h1 class="govuk-heading-l">What is your heat network type?</h1>

                {# <p>
                    A district heat network distributes thermal energy in the form of steam, hot water or chilled liquids from a central heat source through pipework to multiple buildings or sites for the use of space or process heating, cooling or hot water.
                </p>

                <p>
                    A communal network distributes thermal energy in the form of steam, hot water or chilled liquids from a central heat source through pipework to a single building with multiple final customers, for the use of space or process heating, cooling or hot water. It is not necessary for the heat source to be within the building it serves, only that a single building makes use of the heat.
                </p> #}

                
                {{ govukRadios ({
                    idPrefix: 'type',
                    name: 'type',
                    fieldset: {
                        legend: {
                            text: '',
                            isPageHeading: false
                        }
                    },
                    items: [
                        {
                            text: "District",
                            value: "District",
                            hint: { text: 'A district heat network distributes thermal energy in the form of steam, hot water or chilled liquids from a central heat source through pipework to multiple buildings or sites for the use of space or process heating, cooling or hot water.'},
                            checked: true if data['type'] == 'District'                            
                        },
                        {
                            text: "Communal",
                            value: "Communal",
                            hint: { text: 'A communal network distributes thermal energy in the form of steam, hot water or chilled liquids from a central heat source through pipework to a single building with multiple final customers, for the use of space or process heating, cooling or hot water. It is not necessary for the heat source to be within the building it serves, only that a single building makes use of the heat.'},
                            checked: true if data['type'] == 'Communal'
                            
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

                <br>

                {{ govukButton ({
                    html: 'Save and return later',
                    classes: 'govuk-button--secondary',
                    href: '#'
                }) }}

            </form>

        </div>

</div>

{% endblock %}