{% extends 'layouts/main.html' %}
{% set title = "Check your answers" %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Add a heat network - introduction</span>
        <h1 class="govuk-heading-l">
            {{title}}
        </h1>


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Is the network a 'relevant heat network'? 
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data.introrelevant}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="relevant">Change<span class="govuk-visually-hidden"> whether the heat network is a revelant heat network</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Shared ground loop?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data.introgroundloop}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="groundloop">Change<span class="govuk-visually-hidden"> whether the heat network is a revelant heat network</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Role on network
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if data.role == "Network operator" %} 
                    {{data.role}}
                    {% elif data.role == "Energy supplier" %}
                    {{data.role}}
                    {% else %}
                    Network operator and energy supplier
                    {% endif %}
                    
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="role">Change<span class="govuk-visually-hidden"> your role on network</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Network type
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if data.introcommunal == "Yes" %} 
                    Communal
                    {% else %}
                    District
                    {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="communal">Change<span class="govuk-visually-hidden"> whether the heat network is a revelant heat network</span></a>
                </dd>
            </div>
            {% if data.introcommunal == "Yes" %} 


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Does the heat network have its own energy centre?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data.introenergycentre}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="energycentre">Change<span class="govuk-visually-hidden"> whether the heat network is a revelant heat network</span></a>
                </dd>
            </div>
            {% if data.introenergycentre == "No" %} 
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Do you operate the heat network that provides heat to this communal network
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data.introprimary}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="relevant">Change<span class="govuk-visually-hidden"> whether the heat network is a revelant heat network</span></a>
                </dd>
            </div>
            {% endif %}
            {% else %}
            
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Do you operate any energy centres on this heat network?
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if data.introenergycentre == "Yes" %}
                    {{data.introenergycentre}} - {{data.introenergycentrehowmany}}
                    {% else %}
                    {{data.introenergycentre}}
                    {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="energycentreoperate">Change<span class="govuk-visually-hidden"> whether you operate any energy centres</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Do you operate any buildingss on this heat network?
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if data.introbuildings == "Yes" %}
                    {{data.introbuildings}} - {{data.introbuildingshowmany}}
                    {% else %}
                    {{data.introbuildings}}
                    {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="buildings">Change<span class="govuk-visually-hidden"> whether you operate any buildings</span></a>
                </dd>
            </div>



            {% endif %}


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    When did the heat network start supplying customers
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data.supplywhen}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="supply20" >Change<span class="govuk-visually-hidden"> year started supplying customers</span></a>
                </dd>
            </div>

  

            {% if data.energycentre %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Operates any of the heat network's energy centres
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data.energycentre}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="energycentre">Change<span class="govuk-visually-hidden"> another heat network supply status</span></a>
                </dd>
            </div>
            {% endif %}


            {% if data.introcommunal == "No" %} 

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Is the heat network a 'self-supply' network?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data.introselfsupply}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="selfsupply">Change<span class="govuk-visually-hidden"> the self supply status of this network</span></a>
                </dd>
            </div>            
            {% endif %}

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Does the heat network buy or sell heat from or to other organisations?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data.introbuysell}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="selfsupply">Change<span class="govuk-visually-hidden"> the self supply status of this network</span></a>
                </dd>
            </div>  
 

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Heat network name
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data.name}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="name">Change<span class="govuk-visually-hidden"> network name</span></a>
                </dd>
            </div>
        </dl>
                <form method="POST" novalidate>
    <input type="hidden" id="introcomplete" name="introcomplete" value="true" />
    {{
                govukButton ({
                    html: 'Save and continue'
                })
    }}            </form>
                    {% if data.introcomplete == "true" %} 

            <a href="cancel" class="govuk-link">Cancel changes</a>
        {% endif %}

    </div>

</div>

{% endblock %}