{% extends 'layouts/main.html' %}
{% set title = "You do not need to provide any information" %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">



        <div class="govuk-form-group ">

            <span class="govuk-caption-l">Add a heat network - introduction</span>
            <h1 class="govuk-heading-l">
                {{title}}
            </h1>



            <p class="govuk-body">You do not need to tell us about your heat network</p>
            <p class="govuk-body">The heat network does not contain any buildings or energy centres.
            </p>

        </div>
        <a href="../../account-information" class="govuk-button">Finish</a>

    </div>

</div>

{% endblock %}