{% extends 'layouts/main.html' %}
{% set title = "Heat network examples" %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
            <div class="govuk-form-group ">

                        <span class="govuk-caption-l">Add a heat network - introduction</span>
                        <h1 class="govuk-heading-l">
                            {{title}}
                        </h1>
                        <h3 class="govuk-heading-s">Scenario 1</h2>
                        <img src="/public/images/communalHN.jpg" style="max-width: 700px; max-height: 500px" class="govuk-!-margin-bottom-3"/>
                        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                        <h3 class="govuk-heading-s">Scenario 2</h2>
                        <img src="/public/images/districtHN.png" style="max-width: 100%; max-height: 600px" class="govuk-!-margin-bottom-3" />    
            </div>
        <a href="intro" class="govuk-button">Continue</a><br />
    </div>
</div>

{% endblock %}