{% extends 'layouts/main.html' %}
{% set title = "How the service works" %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group ">

                        <span class="govuk-caption-l">Add a heat network - introduction</span>
                        <h1 class="govuk-heading-l">
                            {{title}}
                        </h1>
                        <p class="govuk-body">Only heat network operators can initiate adding a heat network. After you've added your operational data, you can invite any suppliers to contribute their supply data.</p>
                        <p class="govuk-body">As an operator:</p>
                <ul class="govuk-list govuk-list--number">
                    <li>You must answer a short series of introductory questions about your heat network.</li>
                    <li>We'll let you know your specific obligations, and what further information we need.</li>
                    <li>After this, you'll be able to save your progress at any point.</li>
                    <li>You must then provide the remaining information for your heat network.</li>
                    <li>If you need other organisations to provide supply data, you can invite them to into the service.</li>
                    <li>You can then submit your information to Ofgem for processing.</li>   
                </ul>

                    <h2 class="govuk-heading-m">What to include</h2>
                    <p class="govuk-body">You can combine multiple connected heat networks on a single submission, providing you operate them all.</p>
                    <p class="govuk-body">For instance, where you operate a district heat network that connects to one or more communal networks that you also operate, you can submit data about the district heat network and the connected communal networks together.</p>
                    <p class="govuk-body">We will need to ask for more specific data about any buildings you identify as being connected communal networks.</p>         
                </div>
        <a href="initial" class="govuk-button">Continue</a>
    </div>
</div>

{% endblock %}