{% extends 'layouts/main.html' %}
{% set title = "What to include" %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group ">

                        <span class="govuk-caption-l">Add a heat network - introduction</span>
                        <h1 class="govuk-heading-l">
                            {{title}}
                        </h1>
                        <p class="govuk-body">Your heat network is a 'district network'. This means it supplies heat to more than one building.</p>
                        <p class="govuk-body">There are a number of common configurations for this type of heat network.</p>
                        <p class="govuk-body">Here's how we need you to provide information for each of them.</p>
                        <h2 class="govuk-heading-m">District heat network with single premises buildings</h2>
                        <img src="/public/images/HNExample1.png" style="max-height: 400px; max-width: 700px" class="govuk-!-margin-bottom-3"/>
                        <img src="/public/images/HNExample2.png" style="max-height: 400px; max-width: 700px" class="govuk-!-margin-bottom-3"/>
                        <img src="/public/images/HNExample3.png" style="max-height: 400px; max-width: 700px" class="govuk-!-margin-bottom-3"/>
                        <img src="/public/images/HNExample4.png" style="max-height: 400px; max-width: 700px" class="govuk-!-margin-bottom-3"/>
                        <img src="/public/images/HNExample5.png" style="max-height: 400px; max-width: 700px" class="govuk-!-margin-bottom-3"/>
                        <img src="/public/images/HNExample6.png" style="max-height: 400px; max-width: 700px" class="govuk-!-margin-bottom-3"/>
                        <img src="/public/images/HNExample7.png" style="max-height: 400px; max-width: 700px" class="govuk-!-margin-bottom-3"/>
                        <img src="/public/images/HNExample8.png" style="max-height: 400px; max-width: 700px" class="govuk-!-margin-bottom-3"/>
                        <img src="/public/images/HNExample9.png" style="max-height: 400px; max-width: 700px" class="govuk-!-margin-bottom-3"/>

                </div>
        <a href="initial" class="govuk-button">Continue</a>
    </div>
</div>

{% endblock %}