{% extends 'layouts/main.html' %}
{% set title = "What to include" %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group ">

                        <span class="govuk-caption-l">Add a heat network - introduction</span>
                        <h1 class="govuk-heading-l">
                            {{title}}
                        </h1>
                        <p class="govuk-body">Your heat network is a 'district network'. This means it supplies heat to more than one building.</p>
                        <p class="govuk-body">There are a number of common configurations for this type of heat network. This is how we need you to provide information for each of them.</p>



                        <h2 class="govuk-heading-m">District heat network with single premises buildings</h2>
                        <img src="/public/images/HNExample1.png" style="max-height: 400px; max-width: 700px" class="govuk-!-margin-bottom-3"/>
                        <p class="govuk-body">This district network has its own energy centre and connects to 5 buildings. Each building is a single premises.</p>

                        <h3 class="govuk-heading-s">What to submit</h3>
                        <p class="govuk-body">We expect your submission for this network to include information about all 5 buildings and the energy centre.</p>
                        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                        <h2 class="govuk-heading-m">District heat network with 'connected communal networks'</h2>
                        <img src="/public/images/HNExample2.png" style="max-height: 400px; max-width: 700px" class="govuk-!-margin-bottom-3"/>
                        <p class="govuk-body">This district network has its own energy centre and connects to 3 single premises buildings, as well as 2 blocks of flats.</p>
                        <p class="govuk-body">We consider the blocks of flats to be communal networks in their own right (what we call 'connected communal networks'). Do not include them in this submission.</p>
                        <h3 class="govuk-heading-s">What to submit</h3>
                        <p class="govuk-body">For this district network, we expect you to register these <strong>3</strong> heat networks separately.</p>
                        <img src="/public/images/HNExample3.png" style="max-height: 400px; max-width: 700px" class="govuk-!-margin-bottom-3"/>
                        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


                        <h2 class="govuk-heading-m">District heat network comprising energy centre and distribution pipework</h2>
                        <img src="/public/images/HNExample8.png" style="max-height: 400px; max-width: 700px" class="govuk-!-margin-bottom-3"/>
                        <p class="govuk-body">This district network has its own energy centre and connects to a plot of 3 houses that is operated by another entity.</p>
                        <h3 class="govuk-heading-s">What to submit</h3>
                        <p class="govuk-body">We expect your submission for this network to include the energy centre only.</p>
                        <img src="/public/images/HNExample9.png" style="max-height: 400px; max-width: 700px" class="govuk-!-margin-bottom-3"/>
                        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                        <h2 class="govuk-heading-m">District heat network that only connects to communal networks</h2>
                        <img src="/public/images/HNExample6.png" style="max-height: 400px; max-width: 700px" class="govuk-!-margin-bottom-3"/>
                        <p class="govuk-body">Alternatively, this district network connects to 2 communal networks that you operate.</p>

                        <h3 class="govuk-heading-s">What to submit</h3>
                        <p class="govuk-body">For this district network, we expect the following <strong>3</strong> heat network registrations.</p>
                        <p class="govuk-body">We expect your submission for the district network to include the energy centre only.</p>              
                        <p class="govuk-body"> We expect your submission for this network to include the energy centre only.   </p>
                        <img src="/public/images/HNExample7.png" style="max-height: 400px; max-width: 700px" class="govuk-!-margin-bottom-3"/>
                        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                        <h2 class="govuk-heading-m">District heat network that does not have its own energy centre</h2>
                        <img src="/public/images/HNExample4.png" style="max-height: 400px; max-width: 700px" class="govuk-!-margin-bottom-3"/>
                        <p class="govuk-body">This district network is a plot of 3 houses that gets its energy from an energy centre in another heat network.</p>

                        <h3 class="govuk-heading-s">What to submit</h3>
                        <p class="govuk-body">We expect your submission for this network to include the <strong>3</strong> houses only.</p>
                        <img src="/public/images/HNExample5.png" style="max-height: 400px; max-width: 700px" class="govuk-!-margin-bottom-3"/>
                        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


                </div>
        <a href="initial" class="govuk-button">Continue</a>
    </div>
</div>

{% endblock %}