{% extends 'layouts/main.html' %}
{% set _inError = data.validationError == "true"  %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">


    {{
    govukBackLink ({
    text: 'Back',
    href: 'javascript:history.back()'
    })
    }}
    {% include data.version + "/_partials/headerlinks.html" %}

  </div>

</div>

{% endblock %}

{% block content %}

{% set users = [] %}

{% for i in range(data.currentuserid, data.currentuserid + 1) %}
    {% set users = users.concat([{
        "email": data["useremail" ~ i],
        "firstname": data["userfirstname" ~ i],
        "lastname": data["userlastname" ~ i],
        "telephone": data["usertelephone" ~ i],
        "telephonelandline": data["usertelephonelandline" ~ i],
        "telephonelandlineext": data["usertelephonelandlineext" ~ i],

        "telephonemobile": data["usertelephonemobile" ~ i],

        "jobtitle": data["userjobtitle" ~ i],
        "id": i,
        "permissions": [
        data["adduserpermissionstransfer" ~ i],
        data["adduserpermissionsrightsandpowers" ~ i],
        data["adduserpermissionsusermanagement" ~ i],
        data["adduserpermissionsmonitoring" ~ i],
        data["adduserpermissionsregistration" ~ i]
    ]
  }]) %}
{% endfor %}

{% for user in users %}
{% set name %}{{user.firstname}} {{user.lastname}}{% endset %}
{% set title = "Edit your details" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if _inError %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                {% for name, item in data.validationErrors %}
                <li>
                    <a href="#{{item.anchor}}">{{item.message}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    <span class="govuk-caption-l">
      {% if data.companyname %}{{data.companyname}}{% else %}Radienteco Ltd{% endif %}
    </span>

    <h1 class="govuk-heading-l">
      {{title}}
    </h1>
    <form method="post" novalidate>



    <p class="govuk-body"><strong>Email address:</strong> {{user.email}}</p>


      <div class="govuk-form-group {% if data.validationErrors.userfirstname %}govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="first-name">
          First name
        </label>
        {% if data.validationErrors.userfirstname %}
        <p class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            {{data.validationErrors.userfirstname.message}}
        </p>
        {% endif %}
        <input class="govuk-input govuk-!-width-two-thirds" id="first-name" name="userfirstname" type="text" value="{% if user.firstname %}{{user.firstname}}{% else %}{{user.firstname}}{% endif %}">
        
      </div>
      <div class="govuk-form-group {% if data.validationErrors.userlastname %}govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="last-name">
          Last name
        </label>
        {% if data.validationErrors.userlastname %}
        <p class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            {{data.validationErrors.userlastname.message}}
        </p>
        {% endif %}
        <input class="govuk-input govuk-!-width-two-thirds" id="last-name" name="userlastname" type="text" value="{% if user.lastname %}{{user.lastname}}{% else %}{{user.lastname}}{% endif %}"> 
      </div>
      <div class="govuk-form-group {% if data.validationErrors.usertelephone %}govuk-form-group--error{% endif %}">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend">
                <strong>What is your work contact number?</strong>
              </legend>
          <div id="contact-hint" class="govuk-hint">
            Ofgem will only use this if we need to contact you about your organisation's heat networks. For international numbers, include the country code.
          </div>
          {% if data.validationErrors.usertelephone %}
          <p class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>
              {{data.validationErrors.usertelephone.message}}
          </p>
          {% endif %}
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="usertelephone" name="usertelephone" type="radio" value="Landline" data-aria-controls="conditional-contact-2" {% if user.telephone == "Landline" %} checked{% elif user.telephonetype == "Landline" %} checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="contact-2">
                Landline
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
              <div class="govuk-form-group {% if data.validationErrors.usertelephonelandline %}govuk-form-group--error{% endif %}">
                <label class="govuk-label" for="contact-by-phone">
                  Landline phone number
                </label>
                {% if data.validationErrors.usertelephonelandline %}
                <p class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    {{data.validationErrors.usertelephonelandline.message}}
                </p>
                {% endif %}
                <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="usertelephonelandline" type="tel" value="{% if user.telephonelandline %}{{user.telephonelandline}}{% else %}{{user.telephonelandline}}{% endif %}">
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-phone">
                  Extension (optional)
                </label>

                <input class="govuk-input govuk-input--width-5" id="contact-by-phone" name="usertelephonelandlineext" type="text"  value="{% if user.telephonelandlineext %}{{user.telephonelandlineext}}{% else %}{{user.telephonelandlineext}}{% endif %}">
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="usertelephone-2" name="usertelephone" type="radio" value="Mobile" data-aria-controls="conditional-contact-3" {% if user.telephone == "Mobile" %} checked{% elif user.telephonetype == "Mobile" %} checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="contact-3">
                Mobile
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-3">
              <div class="govuk-form-group {% if data.validationErrors.usertelephonemobile %}govuk-form-group--error{% endif %}">
                <label class="govuk-label" for="contact-by-text">
                  Mobile phone number
                </label>
                {% if data.validationErrors.usertelephonemobile %}
                <p class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    {{data.validationErrors.usertelephonemobile.message}}
                </p>
                {% endif %}
                <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="usertelephonemobile" type="tel" autocomplete="tel" value="{% if user.telephonemobile %}{{user.telephonemobile}}{% else %}{{user.telephonemobile}}{% endif %}">
              </div>
            </div>
          </div>
        </fieldset>
      </div>



      
    <div class="govuk-button-group">
      {{
        govukButton ({
            html: 'Save'
        })
      }}
    </div>
</form>

  </div>
</div>
      {% endfor %}

{% endblock %}