{% extends 'layouts/main.html' %}
{% set title = "Select a new regulatory contact" %}
{% set _inError = data.validationError == "true"  %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    {% include data.version + "/_partials/headerlinks.html" %}
    {{
    govukBackLink ({
    text: 'Back',
    href: 'javascript:history.back()'
    })
    }}
  </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if _inError %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                {% for name, item in data.validationErrors %}
                <li>
                    <a href="#{{item.anchor}}">{{item.message}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    <span class="govuk-caption-l">Manage users for {% if data.companyname %}{{data.companyname}}{% else %}Radienteco Ltd{% endif %}</span>

    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="postcode">
        {{title}}
      </label>
    </h1>

    {% set users = [] %}

    {% for i in range(1, 100) %}
        {% set users = users.concat([{
            "added": data["addeduser" ~ i],
            "firstname": data["userfirstname" ~ i],
            "lastname": data["userlastname" ~ i],
            "email": data["useremail" ~ i],
            "id": i
        }]) %}
    {% endfor %}
    

    {% set count = -1 %}
    {% for user in users %}
    {% if user.added == "true" %}
        {% set count = count + 1 %}
      {% endif %}
    {% endfor %}

    <form method="post" novalidate>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          Before you assign this role to someone else, the new regulatory contact must understand the responsibilities of the role and agree to fulfil them.
        </strong>
      </div>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with 'regulatory contact'
    </span>
  </summary>
  <div class="govuk-details__text">
   <p class="govuk-body">
    This is typically your organisation’s most senior member of staff with responsibility for heat networks.
   </p>
   <p class="govuk-body">
    As regulatory contact, they’ll:
   </p>
   <ul class="govuk-list govuk-list--bullet">
    <li>be Ofgem’s main point of contact for any regulatory and compliance matters in relation to your organisation’s heat networks</li>
    <li>have full access to all features in Ofgem’s digital heat networks service, for example managing users and submitting heat network information</li>
   </ul>
  </div>
</details>

    <p class="govuk-body">If you cannot find the right person in the drop-down list, you'll need to add them to the service first.</p>


    <div class="govuk-form-group {% if data.validationErrors.regchange %}govuk-form-group--error{% endif %}">
      {% if data.validationErrors.regchange %}
      <p class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>
          {{data.validationErrors.regchange.message}}
      </p>
      {% endif %}
      <select class="govuk-select" id="sort" name="regchange">
        <option value="" selected>Select a user</option>



      
        {% for user in users %}

        
        {% if (data.regchange != user.id) %}

        {% if user.added == "true" %}
        
        <option value="{{user.id}}"> {{user.firstname}} {{user.lastname}}
          ({{user.email}})</option>
          {% endif %}
          {% endif %}
          {% endfor %}

      </select>
    </div>
    <div class="govuk-button-group">
      {{
        govukButton ({
            html: 'Save'
        })
      }}
    </div>
</form>

  </div>
</div>

{% endblock %}