{% extends 'layouts/main.html' %}
{% set title = "Check your answers" %}
{% set cdnumber = "XXX" %}
{% set _inError = data.validationError == "true"  %}

{% set company %}
{% if data.companyname %}
{{data.companyname}}
{% else %}
Radienteco Ltd
{% endif %}
{% endset %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        {% include data.version + "/_partials/logout.html" %}

        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Quarterly monitoring - quality of service</span>
        <h1 class="govuk-heading-l">
            {{title}}
        </h1>


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Do you have the information you’ll need
                </dt>
                <dd class="govuk-summary-list__value">
                    
                    {{data.mqqualityinitial}}{% if data.mqqualityinitial == "No" %}<br />
                    {{data.mqqualityinitialtotal}} 
                    {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="initial">Change</a>
                </dd>
             </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Customer complaints made
                </dt>
                <dd class="govuk-summary-list__value">
                    
                    {% if data.mqcomplaints == "Yes" %}{{data.mqcomplaintstotal}}{% else %} 0{% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="complaints">Change</a>
                </dd>
            </div>


            {% if data.mqcomplaints == "Yes" %}


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Type of complaints have you received this quarter
                </dt>
                <dd class="govuk-summary-list__value">
                    {% for type in data.mqcomplaintsTypes %}
                        {{type}}<br />
                    {% endfor %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="complaints">Change</a>
                </dd>
            </div>

                    {% for type in data.mqcomplaintsTypes %}
                        

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    {{type}} complaints
            </dt>
                <dd class="govuk-summary-list__value">
                    {% if type == "Back billing" %}{{data.mqTypeBackBillingTotal}}{% endif %}
                    {% if type == "Quality of service" %}{{data.mqTypeQualityOfServiceTotal}}{% endif %}
                    {% if type == "Customer service" %}{{data.mqTypeCustomerServiceTotal}}{% endif %}
                    {% if type == "Vulnerability, debt and switching" %}{{data.mqTypeDebtTotal}}{% endif %}
                    {% if type == "Pricing" %}{{data.mqTypePricingTotal}}{% endif %}
                    {% if type == "Other" %}{{data.mqTypeOtherTotal}}{% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    
                    <a class="govuk-link" href="
                    {% if type == "Back billing" %}type-back-billing{% endif %}
                    {% if type == "Quality of service" %}type-quality-of-service{% endif %}
                    {% if type == "Customer service" %}type-customer-service{% endif %}
                    {% if type == "Vulnerability, debt and switching" %}type-debt{% endif %}
                    {% if type == "Pricing" %}type-pricing{% endif %}
                    {% if type == "Other" %}type-other{% endif %}
                    ">Change</a>
                </dd>
            </div>


                    {% endfor %}
        

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Complaints that were group complaints
                </dt>
                <dd class="govuk-summary-list__value">

                    {% if data.mqgroupcomplaints == "Yes" %}{{data.mqgroupcomplaintstotal}}{% else %} 0{% endif %}

                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="group-complaints">Change</a>
                </dd>
            </div>
            {% endif %}
            
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Complaints referred to the Ombudsman 
                </dt>
                <dd class="govuk-summary-list__value">
                    
                    {% if data.mqombudsman == "Yes" %}{{data.mqombudsmantotal}}{% else %} 0{% endif %}

                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="ombudsman">Change</a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Complaints resolved by the end of the next working day 
                </dt>
                <dd class="govuk-summary-list__value">
                    
                    {% if data.mqnextday == "Yes" %}{{data.mqnextdaytotal}}{% else %} 0{% endif %}

                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="nextday">Change</a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Complaints resolved within 8 weeks
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if data.mqeight == "Yes" %}{{data.mqeighttotal}}{% else %} 0{% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="eight">Change</a>
                </dd>
            </div>      
            

        </dl>
        <form method="POST" novalidate>
            <input type="hidden" id="mqqualitycomplete" name="mqqualitycomplete" value="true" />
            <div class="govuk-button-group">
            {{
                govukButton ({
                    html: 'Save and continue'
                })
            }}
                <a href="/{{data.version}}/monitoring/quarterly-data/quality-of-service/cancel?v={{data.lastpage}}" class="govuk-link">Cancel</a>

        </div>
        </form>



    </div>

</div>

{% endblock %}