{% extends 'layouts/main.html' %}
{% set cdnumber = "XXX" %}

{% set title %}
Information you’ll need
{% endset %}

{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% include data.version + "/_partials/logout.html" %}
        {{
            govukBackLink ({
                text: 'Back',
                href: 'javascript:history.back()'
            })
        }}
    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">Quarterly monitoring - quality of service</span>
            <h1 class="govuk-fieldset__heading">
                {{title}}
            </h1>

        </legend>

        <p class="govuk-body">You'll need to inform us about the quality of service you provide on this heat
            network.</p>

        <p class="govuk-body">If you received any complaints this quarter, you'll need to tell us how many
            you received in each of the following categories:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>back billing</li>
            <li>quality of service</li>
            <li>customer service</li>
            <li>vulnerability, debt and switching </li>
            <li>pricing</li>
            <li>any other complaints</li>
        </ul>
        <p class="govuk-body">We also need to know how many complaints were:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>group complaints</li>
            <li>referred to the Ombudsman</li>
            <li>resolved by the end of the next working day</li>
            <li>resolved within 8 weeks</li>
        </ul>
        
        {{
            govukButton ({
                html: 'Continue',
                href: '/' + data.version + '/monitoring/quarterly-data/quality-of-service/complaints'
            })
        }}
    </div>

</div>

{% endblock %}