{% extends 'layouts/main.html' %}

{% block pageTitle %}
    Do they have any parent or child companies?
{% endblock %}

{% block beforeContent %}

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">

            {{ super() }}

            {{ govukBackLink ({
                text: 'Back',
                href: 'javascript:history.back()'
            }) }}

        </div>

    </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="supplier-operator">

                {% set hintHTML %}

                    <p>
                        A parent company is a company that has a controlling interest in another company.
                    </p>

                    <p>
                        A child company is a company that belongs to another company. They are also referred to as subsidiaries.
                    </p>

                {% endset %}

                {{ govukRadios ({
                    idPrefix: 'supplier-parent-child',
                    name: 'supplier-parent-child',
                    fieldset: {
                        legend: {
                            text: 'Do they have any parent or child companies?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        html: hintHTML
                    },
                    items: [
                        {
                            text: 'Yes',
                            value: 'Yes',
                            checked: true if data['supplier-parent-child'] == 'Yes'
                        },
                        {
                            text: 'No',
                            value: 'No',
                            checked: true if data['supplier-parent-child'] == 'No'
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

                <br>

                {{ govukButton ({
                    html: 'Save and return later',
                    classes: 'govuk-button--secondary',
                    href: '#'
                }) }}

            </form>

        </div>

</div>

{% endblock %}