{% extends 'layouts/main.html' %}

{% block pageTitle %}
    How should we contact the supplier?
{% endblock %}

{% block beforeContent %}

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">

            {{ super() }}

            {{ govukBackLink ({
                text: 'Back',
                href: 'javascript:history.back()'
            }) }}

        </div>

    </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="supplier-parent-child">

                {% set supplierTelephoneHTML %}

                    {{ govukInput ({
                        id: 'supplier-telephone',
                        name: 'supplier-telephone',
                        value: data['supplier-telephone'] if data['supplier-telephone'] else '',
                        classes: 'govuk-input--width-20',
                        label: {
                            text: 'Telephone number',
                            classes: 'govuk-input--width-20'
                        }
                    }) }}

                {% endset %}

                {% set supplierMobileHTML %}

                    {{ govukInput ({
                        id: 'supplier-mobile',
                        name: 'supplier-mobile',
                        value: data['supplier-mobile'] if data['supplier-mobile'] else '',
                        classes: 'govuk-input--width-20',
                        label: {
                            text: 'Mobile telephone number',
                            classes: 'govuk-input--width-20'
                        }
                    }) }}

                {% endset %}

                {% set supplierEmailHTML %}

                    {{ govukInput ({
                        id: 'supplier-email',
                        name: 'supplier-email',
                        value: data['supplier-email'] if data['supplier-email'] else '',
                        classes: 'govuk-input--width-20',
                        label: {
                            text: 'Email address',
                            classes: 'govuk-input--width-20'
                        }
                    }) }}

                {% endset %}

                {{ govukCheckboxes ({
                    idPrefix: 'supplier-contact',
                    name: 'supplier-contact',
                    fieldset: {
                        legend: {
                            text: 'How should we contact the supplier?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        html: 'We will contact them to ensure they consent to being assigned as the supplier on this network.<br> Select as many that are relevant.'
                    },
                    items: [
                        {
                            text: 'Phone call',
                            value: 'Phone call',
                            checked: true if data['supplier-contact'] == 'Phone call',
                            conditional: {
                                html: supplierTelephoneHTML
                            }
                        },
                        {
                            text: 'Text message',
                            value: 'Text message',
                            checked: true if data['supplier-contact'] == 'Text message',
                            conditional: {
                                html: supplierMobileHTML
                            }
                        },
                        {
                            text: 'Email',
                            value: 'Email',
                            checked: true if data['supplier-contact'] == 'Email',
                            conditional: {
                                html: supplierEmailHTML
                            }
                        }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

                <br>

                {{ govukButton ({
                    html: 'Save and return later',
                    classes: 'govuk-button--secondary',
                    href: '#'
                }) }}

            </form>

        </div>

</div>

{% endblock %}