{% extends 'layouts/main.html' %}

{% block pageTitle %}
    Do you use an agent to deal with metering and billing?
{% endblock %}

{% block beforeContent %}

    <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">

                {{ super() }}

                {{ govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                }) }}

            </div>

    </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="agent-name">

            

                {{ govukRadios ({
                    idPrefix: 'agent',
                    name: 'agent',
                    fieldset: {
                        legend: {
                            text: 'Do you use an agent to deal with metering and billing?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        text: ''
                    },
                    items: [
                      {
                        value: "Yes",
                        text: "Yes",
                        checked: true if data['agent'] == 'Yes'
                      },
                      {
                        value: "No",
                        text: "No",
                        checked: true if data['agent'] == 'No'
                      }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

                <br>

                {{ govukButton ({
                    html: 'Save and return later',
                    classes: 'govuk-button--secondary',
                    href: '#'
                }) }}

            </form>

        </div>

</div>

{% endblock %}