{% extends 'layouts/main.html' %}
{% set title = "Details of director or company secretary" %}
{% set _inError = data.validationError == "true"  %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <form  method="POST" novalidate>

            <div class="govuk-form-group">

                <fieldset class="govuk-fieldset">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                        <h1 class="govuk-fieldset__heading">
                            {{title}}
                        </h1>

                    </legend>
                    <p class="govuk-body">They must be listed on the Companies House register.</p>




                    <div class="govuk-form-group {% if data.validationErrors.directorfirstname %}govuk-form-group--error{% endif %}">
                        <label class="govuk-label govuk-label--s" for="directorfirstname">
                          First name
                        </label>
                        {% if data.validationErrors.directorfirstname %}
                        <p class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>
                            {{data.validationErrors.directorfirstname.message}}
                        </p>
                        {% endif %}

                        <input class="govuk-input govuk-!-width-one-third" id="directorfirstname" name="directorfirstname" type="text" value="{{data.directorfirstname}}">
                    </div>

                    <div class="govuk-form-group {% if data.validationErrors.directorlastname %}govuk-form-group--error{% endif %}">
                        <label class="govuk-label govuk-label--s" for="directorlastname">
                          Last name
                        </label>
                        {% if data.validationErrors.directorlastname %}
                        <p class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>
                            {{data.validationErrors.directorlastname.message}}
                        </p>
                        {% endif %}
                        <input class="govuk-input govuk-!-width-one-third" id="directorlastname" name="directorlastname" type="text" value="{{data.directorlastname}}">
                    </div>


                    <div class="govuk-form-group {% if data.validationErrors.directoremail %}govuk-form-group--error{% endif %}">
                        <label class="govuk-label govuk-label--s" for="directoremail">
                          Email
                        </label>
                        <div class="govuk-hint">This must be their work email address.</div>
                        {% if data.validationErrors.directoremail %}
                        <p class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>
                            {{data.validationErrors.directoremail.message}}
                        </p>
                        {% endif %}
                        <input class="govuk-input govuk-!-width-one-third" id="directoremail" name="directoremail" type="text" value="{{data.directoremail}}">
                    </div>
                </fieldset>

                <input type="hidden" id="director" name="director" value="Someone else" />

            </div>
            {{
                govukButton ({
                    html: 'Continue'
                })
            }}
        </form>
    </div>

</div>

{% endblock %}