{% extends 'layouts/mainold.html' %}
{% set title = "Select a new regulatory contact" %}
{% set _inError = data.validationError == "true"  %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">


    {% include data.version + "/_partials/headerlinks.html" %}
    {{
    govukBackLink ({
    text: 'Back',
    href: 'javascript:history.back()'
    })
    }}

  </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if _inError %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                {% for name, item in data.validationErrors %}
                <li>
                    <a href="#{{item.anchor}}">{{item.message}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="postcode">
        {{title}}
      </label>
    </h1>

    {% set users = [] %}

    {% for i in range(1, 100) %}
        {% set users = users.concat([{
            "added": data["addeduser" ~ i],
            "firstname": data["userfirstname" ~ i],
            "lastname": data["userlastname" ~ i],
            "email": data["useremail" ~ i],
            "id": i
        }]) %}
    {% endfor %}
    

    {% set count = -1 %}
    {% for user in users %}
    {% if user.added == "true" %}
        {% set count = count + 1 %}
      {% endif %}
    {% endfor %}

    <form method="post" novalidate>
{% if count == 0 %}
<p class="govuk-body">Before you can reassign the regulatory contact role to someone else, you'll need to add them to this account.</p>
<p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="add-user">Add another user</a></p>
{% else %}
    <p class="govuk-body">This is Ofgem’s main point of contact for any questions they may have about your organisation and its heat networks. Ideally, they are the most senior member of staff with responsibility for heat networks. </p>

<p class="govuk-body">They will have full access to all features in the account, for example managing users, submitting heat network information.</p>

<p class="govuk-body">If you cannot find the person you need, you'll need to add them first.</p>

    <div class="govuk-form-group">

      <select class="govuk-select" id="sort" name="regchange">
        <option value="" selected>Select a user</option>



      
        {% for user in users %}

        
        {% if (data.regchange != user.id) %}

        {% if user.added == "true" %}
        
        <option value="{{user.id}}"> {{user.firstname}} {{user.lastname}}
          ({{user.email}}){{loop.index}}</option>
          {% endif %}
          {% endif %}
          {% endfor %}

      </select>
    </div>
    <div class="govuk-button-group">
      {{
        govukButton ({
            html: 'Save'
        })
      }}
    </div>
    {% endif %}
</form>

  </div>
</div>

{% endblock %}