{% extends 'layouts/main.html' %}

{% block pageTitle %}
    What is the backup system capacity for heating and/or hot water in kilowatts?
{% endblock %}

{% block beforeContent %}

    <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">

                {{ super() }}

                {{ govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                }) }}

            </div>

    </div>

{% endblock %}

{% block content %}

{% if data['backup-heating-check'] == 'No' %}
    {{ 'cooling-generation' | redirect | safe }}
{% endif %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="cooling-generation">

                <h1 class="govuk-heading-l">What is the backup system capacity for heating and/or hot water in kilowatts?</h1>

                {% set backupHeatingCapacityHelpHTML %}
                <p> This is the maximum output of the backup heat energy source on the network. If the heat network is capable of thermal storage do not include this.</p>
                <p> The capacity in kilowatts (kW) is normally written on the heating/ cooling source e.g. boiler(s), or in the technical documentation. If its not, you can ask your service engineer to give you this information.</p>
            
                {% endset %}

                {{ govukDetails({
                  summaryText: "Help with 'backup capacity'",
                  html: backupHeatingCapacityHelpHTML
                }) }}

                {{ govukInsetText({
                text: "If there is more than one backup source, please add together the combined total capacity of all the sources."
              }) }}

                {% from "govuk/components/input/macro.njk" import govukInput %}

                {{ govukInput({
                  id: "backup-heating",
                  name: "backup-heating",
                  value: data['backup-heating'] if data['backup-heating'] else '',
                  label: {
                    text: "Backup capacity for heating and/or hot water",
              
                    isPageHeading: true
                  },
                  suffix: {
                    text: "kW"
                  },
                  classes: "govuk-input--width-5",
                  spellcheck: false
                }) }}

                {{ govukButton({
                text: "Continue"
                }) }}

                <br>

                {{ govukButton ({
                    html: 'Save and return later',
                    classes: 'govuk-button--secondary',
                    href: '#'
                }) }}

                

            </form>

        </div>

</div>

{% endblock %}