{% extends 'layouts/main.html' %}

{% block pageTitle %}
    BACKUP COOLING
{% endblock %}

{% block beforeContent %}

    <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">

                {{ super() }}

                {{ govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                }) }}

            </div>

    </div>

{% endblock %}

{% block content %}

{% if not data['heat-network-provides'] | includes('Cooling') %}
    {{ 'backup-heating' | redirect | safe }}
{% endif %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="backup-heating">

                <h1 class="govuk-heading-l">BACKUP COOLING</h1>

                {% from "govuk/components/details/macro.njk" import govukDetails %}

                {{ govukDetails({
                  summaryText: "???",
                  text: "???"
                }) }}

                {% from "govuk/components/input/macro.njk" import govukInput %}

                {{ govukInput({
                  id: "???",
                  name: "???",
                  value: data['cooling-capacity'] if data['cooling-capacity'] else '',
                  label: {
                    text: "???",
              
                    isPageHeading: true
                  },
                  suffix: {
                    text: "???"
                  },
                  classes: "govuk-input--width-5",
                  spellcheck: false
                }) }}

                {{ govukButton({
                text: "Continue"
                }) }}

                <br>

                {{ govukButton ({
                    html: 'Save and return later',
                    classes: 'govuk-button--secondary',
                    href: '#'
                }) }}

                

            </form>

        </div>

</div>

{% endblock %}