{% extends 'layouts/main.html' %}

{% block pageTitle %}
    What is the backup system capacity for cooling in kilowatts?
{% endblock %}

{% block beforeContent %}

    <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">

                {{ super() }}

                {{ govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                }) }}

            </div>

    </div>

{% endblock %}

{% block content %}

{% if not data['heat-network-provides'] | includes('Cooling') %}
    {{ 'backup-heating' | redirect | safe }}
{% endif %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="backup-heating">

                <h1 class="govuk-heading-l">What is the backup system capacity for cooling in kilowatts?</h1>

                {% from "govuk/components/details/macro.njk" import govukDetails %}

                {{ govukDetails({
                  summaryText: "What does backup capacity mean?",
                  text: "If you have one. This is the maximum output of the backup heat energy source on the network. If the heat network is capable of thermal storage, do not include this. The capacity in kilowatts (kW) is normally written on the boiler(s) or pumps, or in the technical documentation. If it's not, you can ask your service engineer to give you this information. If there is more than one backup source, add together the combined total capacity of all the sources. If there is no backup available, leave blank."
                }) }}

                {% from "govuk/components/input/macro.njk" import govukInput %}

                {{ govukInput({
                  id: "backup-cooling",
                  name: "backup-cooling",
                  value: data['backup-cooling'] if data['backup-cooling'] else '',
                  label: {
                    text: "Backup capacity for cooling",
              
                    isPageHeading: true
                  },
                  suffix: {
                    text: "kW"
                  },
                  classes: "govuk-input--width-5",
                  spellcheck: false
                }) }}

                {{ govukButton({
                text: "Continue"
                }) }}

                <br>

                {{ govukButton ({
                    html: 'Save and return later',
                    classes: 'govuk-button--secondary',
                    href: '#'
                }) }}

                

            </form>

        </div>

</div>

{% endblock %}