<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service. Help us improve it and <a class="govuk-link govuk-link--no-visited-state" href="#">give your feedback (opens in new tab)</a>.
    </span>
  </p>
</div>

<div class="account-links-container">
  <p class="govuk-body govuk-body-s account-link ">
    <a class="govuk-link govuk-link--no-visited-state" href="/{{data.version}}/my-profile">My profile</a>
  </p>
  
  <p class="govuk-body govuk-body-s account-link ">
    <a class="govuk-link govuk-link--no-visited-state" href="/{{data.version}}/sign-out">Sign out</a>
  </p>
  </div>
