<div class="govuk-width-container">

<div class="hn-contact--panel">
  
  <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Need help?</h2>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body-s app-contact-panel__body">
          To contact Ofgem about this service, or anything related to heat network regulations, use our <a class="govuk-link govuk-link--no-visited-state" href="/{{data.version}}/help/type">online form</a> or email <a href="mailto:support@registerheatnetworks.service.gov.uk?subject=Enquiry%20from%20heat%20networks%20service&body=User%3A%20{% if data.onelingemail %}{{data.oneloginemail}}{% else %}john.smith@heatco.org{% endif %}{%if company %}%0AOrganisation%3A%20{{company}}{% endif %}%0A%0AYour%20enquiry%3A%0A" class="govuk-link">support@registerheatnetworks.service.gov.uk</a>.
        </p>
      </div>
    </div>


    .
  
</div>
</div>