{% extends 'layouts/main.html' %}

{% block pageTitle %}
    Account information
{% endblock %}

{% block beforeContent %}

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">

            {{ super() }}
            {% if data.currentversion != "dev" %}
          {% endif %}

        </div>

    </div>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-1">
      {% if data.companyname %}
      {{data.companyname}}
      {% else %}
      Radienteco Ltd
      {% endif %}
    </h1>
    <p class="govuk-body-s govuk-!-margin-top-0"><a href="account-creation/select-org" class="govuk-link govuk-link--no-visited-state">Switch to a different organisation</a></p>






   </div>

  </div>
{% endblock %}