{% extends 'layouts/main.html' %}
{% set title %}
You cannot register your organisation’s heat network yet
{% endset %}
{% set _inError = data.validationError == "true"  %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        {% include data.version + "/_partials/logout.html" %}

        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        <form method="POST" novalidate>

            <div class="govuk-form-group {% if data.validationErrors.confirmsubmit %}govuk-form-group--error{% endif %}">

                <fieldset class="govuk-fieldset">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">Add a heat network</span>
                        <h1 class="govuk-fieldset__heading">
                            {{title}}
                        </h1>
                    </legend>
                    <p class="govuk-body">This is because your SMRI declaration has either expired or your regulatory contact has not submitted it yet.</p>
                    <p class="govuk-body">You need to ask your regulatory contact to complete the SMRI declaration, then you can submit all of your heat network information.</p>
                    <p class="govuk-body">We have saved your answers.</p>


                </fieldset>


            </div>
            <div class="govuk-button-group">
                <a href="/{{data.version}}/account-information" class="govuk-button">Finish</a>
            </div>
        </form>
    </div>

</div>

{% endblock %}