{% extends 'layouts/main.html' %}
{% set title = "Heat network submitted" %}
{% set _inError = data.validationError == "true"  %}
{% set company %}
  {% if data.companyname %}
  {{data.companyname}}
  {% else %}
  Radienteco Ltd 
  {% endif %}
{% endset %}

{% set cdnumber = "246" %}
{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

        {% include data.version + "/_partials/logout.html" %}




    </div>

</div>
{% endblock %}
{% block pageTitle %}
{{title}}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              {{title}}
            </h1>
            <div class="govuk-panel__body">
              Heat network registration ID: HN0001234
            </div>
          </div>
          <p class="govuk-body">
            We have sent you a confirmation email.
          </p>

          <p class="govuk-body">
            {% if data.role == "Energy supplier" %}
            You've confirmed that {{company}} is an energy supplier on the heat network {{data.name}}.

            {% else %}

            You've told us that {{company}} is a {% if data.role == "Both" %}network operator and energy supplier{% else %}{{data.role | lower }}{% endif %} on the heat network {{data.name}}.
            {% endif %}
          </p>
          <p class="govuk-body">

          {% if (data.introsupply20 == "Yes") or (data.supply20 == "Yes") %}
          Because {{company}} started its regulated activity on the heat network on or after 1 April 2025, it’s been given a ‘non-enduring deemed authorisation’. This means it will expire on 01/05/2027, but we will automatically convert this to an enduring authorisation. 
          {% else %}
          You now have authorisation to undertake this regulated activity on the heat network. 
          {% endif %}
          </p>

          <h2 class="govuk-heading-m">
            What happens next
          </h2>

          {% if data.introcommunaloperate == "Yes" %}
            {% if data.introcommunaloperatehowmany > 1 %}
            <p class="govuk-body">You must submit separate registrations for your {{data.introcommunaloperatehowmany}} communal buildings.</p>

            {% else %}
            <p class="govuk-body">You must submit a separate registration for your communal building.</p>

            {% endif %}
          {% endif %}
          <p class="govuk-body">
            You must also ensure {{company}} remains compliant with Ofgem’s authorisation conditions related to its regulated activity on the heat network. You can view these at: <a href="#" class="govuk-link" target="_blank">TBC</a>
          </p>
          <p class="govuk-body">
            This includes submitting regular data about your organisation and heat network so that we can monitor compliance. We’ll let you know when and how to do this nearer the time.
          </p>
          <p class="govuk-body">
            We may contact you if we need any further information about this registration.
          </p>
        <a href="/{{data.version}}/account-information" class="govuk-button">Go to heat networks home</a>
    </div>

</div>

{% endblock %}