{% extends 'layouts/main.html' %}
{% set cdnumber = "XXX" %}

{% set title %}
Information you’ll need
{% endset %}
{% set _inError = data.validationError == "true"  %}

{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        {% include data.version + "/_partials/logout.html" %}

        {{
            govukBackLink ({
                text: 'Back',
                href: 'javascript:history.back()'
            })
        }}
    </div>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" mqpricinginitial="alert"
            data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <form method="POST" novalidate>

            <div class="govuk-form-group">

                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">Quarterly monitoring - pricing</span>
                        <h1 class="govuk-fieldset__heading">
                            {{title}}
                        </h1>

                    </legend>
                    <p class="govuk-body">We need information about the prices you charge customers on this heat network.</p>

                    <p class="govuk-body">You’ll need to tell us:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>whether there are multiple tariffs on this heat network</li>
                        <li>if any tariffs use a flat fee-based charging format</li>
                        <li>the unit rate and standing charge for any tariffs</li>
                        <li>if customers on this heat network are charged a connection fee</li>
                        <li>whether customers are charged other fees</li>
                        <li>total charges across customers</li>
                    </ul>
                    <div
                        class="govuk-form-group {% if data.validationErrors.mqpricinginitial %}govuk-form-group--error{% endif %}">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            Can you provide this information?
                        </legend>

                        {% if data.validationErrors.mqpricinginitial %}
                        <p class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>
                            {{data.validationErrors.mqpricinginitial.message}}
                        </p>
                        {% endif %}

                        <div class="govuk-radios" data-module="govuk-radios">

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="mqpricinginitial-yes" name="mqpricinginitial"
                                    type="radio" value="Yes" {% if data.mqpricinginitial == "Yes" %}checked{% endif %}>
                                <label class="govuk-label govuk-radios__label" for="mqpricinginitial-yes">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="mqpricinginitial-no" name="mqpricinginitial"
                                    type="radio" value="No" data-aria-controls="mqpricinginitial-conditional"
                                    {% if data.mqpricinginitial == "No" %}checked{% endif %}>
                                <label class="govuk-label govuk-radios__label" for="mqpricinginitial-no">
                                    No
                                </label>
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                                id="mqpricinginitial-conditional">
                                <div
                                    class="govuk-form-group {% if data.validationErrors.mqpricinginitialtotal %}govuk-form-group--error{% endif %}">
                                    <label class="govuk-label" for="mqpricinginitialtotal">
                                        Why are you unable to provide this information?
                                    </label>
                                    {% if data.validationErrors.mqpricinginitialtotal %}
                                    <p class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span>
                                        {{data.validationErrors.mqpricinginitialtotal.message}}
                                    </p>
                                    {% endif %}
                                    <textarea class="govuk-textarea" id="mqpricinginitialtotal"
                                        name="mqpricinginitialtotal" rows="5">{{data.mqpricinginitialtotal}}</textarea>

                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <input type="hidden" id="mqpricingcomplete" name="mqpricingcomplete" value="cannot" />
            <div class="govuk-button-group">
                {{
                    govukButton ({
                        html: 'Continue'
                    })
                }}
                <a href="/{{data.version}}/monitoring/quarterly-data/pricing/cancel?v={{data.lastpage}}"
                    class="govuk-link">Cancel</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}