{% extends 'layouts/main.html' %}
{% set cdnumber = "XXX" %}

{% set title %}
Information you’ll need
{% endset %}

{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% include data.version + "/_partials/logout.html" %}
        {{
            govukBackLink ({
                text: 'Back',
                href: 'javascript:history.back()'
            })
        }}
    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">Quarterly monitoring - pricing</span>
            <h1 class="govuk-fieldset__heading">
                {{title}}
            </h1>

        </legend>
        <p class="govuk-body">We need information about the prices you charge customers on this heat network.</p>

        <p class="govuk-body">You’ll need to tell us:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>whether there are multiple tariffs on this heat network</li>
            <li>if any tariffs use a flat fee-based charging format</li>
            <li>the unit rate and standing charge for any tariffs</li>
            <li>if customers on this heat network are charged a connection fee</li>
            <li>whether customers are charged other fees</li>
            <li>total charges across customers</li>
        </ul>

        {{
            govukButton ({
                html: 'Continue',
                href: '/' + data.version + '/monitoring/quarterly-data/pricing/tariff-another'
            })
        }}
    </div>

</div>

{% endblock %}