{% extends 'layouts/main.html' %}
{% set cdnumber = "XXX" %}

{% set title %}
Did your customers pay any other charges?
{% endset %}
{% set _inError = data.validationError == "true"  %}

{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        {% include data.version + "/_partials/logout.html" %}

        {{
            govukBackLink ({
                text: 'Back',
                href: 'javascript:history.back()'
            })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" mqOtherFees="alert"
            data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <form method="POST" novalidate>

            <div class="govuk-form-group {% if data.validationErrors.mqOtherFees %}govuk-form-group--error{% endif %}">

                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">Quarterly monitoring - pricing</span>
                        <h1 class="govuk-fieldset__heading">
                            {{title}}
                        </h1>

                    </legend>
                    <p class="govuk-body">
                        Report any other charges that are not standing charges, unit rates, or connection charges.
                    </p>
                    <div class="govuk-inset-text">
                        You're submitting quarterly monitoring data for <strong>Seaton city centre</strong> for the period
                        <strong>1 April to 30 June 2026</strong>.
                    </div>
                    {% if data.validationErrors.mqOtherFees %}
                    <p class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{data.validationErrors.mqOtherFees.message}}
                    </p>
                    {% endif %}

                    <div class="govuk-radios" data-module="govuk-radios">

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="mqOtherFees-yes" name="mqOtherFees" type="radio" value="Yes" data-aria-controls="mqOtherFees-conditional" {% if data.mqOtherFees == "Yes" %}checked{% endif %} >
                            <label class="govuk-label govuk-radios__label" for="mqOtherFees-yes">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="mqOtherFees-conditional" >
                            <div class="govuk-form-group {% if data.validationErrors.mqOtherFeesTotal %}govuk-form-group--error{% endif %}">
                              <label class="govuk-label" for="mqOtherFeesTotal">
                                Total amount of other charges
                              </label>
                              {% if data.validationErrors.mqOtherFeesTotal %}
                              <p class="govuk-error-message">
                                  <span class="govuk-visually-hidden">Error:</span>
                                  {{data.validationErrors.mqOtherFeesTotal.message}}
                              </p>
                              {% endif %}
                              <div class="govuk-input__wrapper">
                              <div class="govuk-input__prefix" aria-hidden="true">£</div>
                                <input class="govuk-input govuk-input--width-5" id="mqOtherFeesTotal" name="mqOtherFeesTotal" type="text" value="{{data.mqOtherFeesTotal}}">
                              </div>
                              
                            </div>
                          </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="mqOtherFees-no" name="mqOtherFees" type="radio"
                                value="No" {% if data.mqOtherFees == "No" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="mqOtherFees-no">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-button-group">
                {{
                    govukButton ({
                        html: 'Continue'
                    })
                }}
                <a href="/{{data.version}}/monitoring/quarterly-data/pricing/cancel?v={{data.lastpage}}"
                    class="govuk-link">Cancel</a>
            </div>
        </form>

    </div>

</div>

{% endblock %}