{% extends 'layouts/main.html' %}
{% set title = "Add new user" %}
{% set _inError = data.validationError == "true"  %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">


    {{
    govukBackLink ({
    text: 'Back',
    href: 'javascript:history.back()'
    })
    }}

  </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if _inError %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                {% for name, item in data.validationErrors %}
                <li>
                    <a href="#{{item.anchor}}">{{item.message}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    <h1 class="govuk-heading-l">
      {{title}}
    </h1>
    <form  method="POST" novalidate>
            <div class="govuk-form-group {% if data.validationErrors.useremail %}govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="email">
          Email
        </label>
        {% if data.validationErrors.useremail %}
        <p class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            {{data.validationErrors.useremail.message}}
        </p>
        {% endif %}
        <input class="govuk-input govuk-!-width-two-thirds" id="email" name="useremail" type="text" value="{{data.useremail}}">
      </div>
      <div class="govuk-form-group {% if data.validationErrors.userfirstname %}govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="first-name">
          First name
        </label>
        {% if data.validationErrors.userfirstname %}
        <p class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            {{data.validationErrors.userfirstname.message}}
        </p>
        {% endif %}
        <input class="govuk-input govuk-!-width-two-thirds" id="first-name" name="userfirstname" type="text" value="{{data.userfirstname}}">
      </div>
      <div class="govuk-form-group {% if data.validationErrors.userlastname %}govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="last-name">
          Last name
        </label>
        {% if data.validationErrors.userlastname %}
        <p class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            {{data.validationErrors.userlastname.message}}
        </p>
        {% endif %}
        <input class="govuk-input govuk-!-width-two-thirds" id="last-name" name="userlastname" type="text" value="{{data.userlastname}}"> 
      </div>
      <div class="govuk-form-group {% if data.validationErrors.usertelephone %}govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="telephonenumber">
          Telephone number
        </label>
        {% if data.validationErrors.usertelephone %}
        <p class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            {{data.validationErrors.usertelephone.message}}
        </p>
        {% endif %}
        <input class="govuk-input govuk-input--width-10" id="telephonenumber" name="usertelephone" type="tel" value="{{data.usertelephone}}">
      </div>
      <div class="govuk-form-group {% if data.validationErrors.userjobtitle %}govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="job-title">
          Job title
        </label>
        {% if data.validationErrors.userjobtitle %}
        <p class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            {{data.validationErrors.userjobtitle.message}}
        </p>
        {% endif %}
        <input class="govuk-input govuk-!-width-two-thirds" id="job-title" name="userjobtitle" type="text" value="{{data.userjobtitle}}">
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Additional permissions
            </h1>
          </legend>

          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="userroles" name="userroles" type="checkbox" value="User manager" {% for role in data.userroles %}{% if role == "User manager"" %}checked{% endif %}{% endfor %}>
              <label class="govuk-label govuk-checkboxes__label" for="userroles">
                User manager
              </label>
              <div id="waste-hint" class="govuk-hint govuk-checkboxes__hint">
                Can add, edit and remove standard users.
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="userroles-2" name="userroles" type="checkbox" value="Legal Authority" {% for role in data.userroles %}{% if role == "Legal Authority"" %}checked{% endif %}{% endfor %}>
              <label class="govuk-label govuk-checkboxes__label" for="userroles-2">
                Legal authority
              </label>
              <div id="waste-hint" class="govuk-hint govuk-checkboxes__hint">
                Has ultimate authority and responsibility for running the organisation.
              </div>

            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="userroles-3" name="userroles" type="checkbox" value="Account owner" {% for role in data.userroles %}{% if role == "Account owner"" %}checked{% endif %}{% endfor %}>
              <label class="govuk-label govuk-checkboxes__label" for="userroles-3">
                Account owner
              </label>
              <div id="waste-hint" class="govuk-hint govuk-checkboxes__hint">
                Responsible for managing the Heat Networks organisation account.
              </div>
            </div>
          </div>
        </fieldset>
      </div>      {{
        govukButton ({
            html: 'Save'
        })
    }}
</form>

  </div>
</div>

{% endblock %}