{% extends 'layouts/main.html' %}
{% set title = "Approve Jane Smith's request?" %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">


    {{
    govukBackLink ({
    text: 'Back',
    href: 'javascript:history.back()'
    })
    }}

  </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form  method="POST" novalidate>


    <div class="govuk-form-group">
      
      <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            {{title}}
          </h1>
        </legend>
        <div class="govuk-inset-text">
          <p class="govuk-body">Full Name: Jane Smith</p>
          <p class="govuk-body">Email: j.smith@ofgem.gov.uk</p>
          <p class="govuk-body">Telephone: 01234567890</p>
          <p class="govuk-body">Job title: Director</p>
        </div>
    
        <p class="govuk-body">Approving Jane Smith would give them access to your organisations heat networks account.</p>


        <div class="govuk-radios " data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="approveuser" name="approveuser" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="approveuser">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="approveuser-2" name="approveuser" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="approveuser-2">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="govuk-button-group">
      {{
        govukButton ({
            html: 'Continue'
        })
      }}
      <a class="govuk-link govuk-link--no-visited-state" href="../manage-users">Cancel</a>
    </div>
</form>

  </div>
</div>

{% endblock %}