{% extends 'layouts/main.html' %}
{% set title = "User approved" %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">


    {{
    govukBackLink ({
    text: 'Back',
    href: 'javascript:history.back()'
    })
    }}

  </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{title}}
    </h1>
    <div class="govuk-inset-text">
      <p class="govuk-body"><strong>Email</strong><br /> j.smith@ofgem.gov.uk</p>

      <p class="govuk-body"><strong>Full Name</strong><br />Jane Smith</p>
      <p class="govuk-body"><strong>Telephone</strong><br /> 01234567890</p>
      <p class="govuk-body"><strong>Job title</strong><br /> Director</p>
      <p class="govuk-body"><strong>Additional permissions</strong> <br />
        {%if (not data.approveuserpermissionsregistration) and (not data.approveuserpermissionsmonitoring) and (not data.approveuserpermissionsusermanagement) and (not data.approveuserpermissionsrightsandpowers) and (not data.approveuserpermissionstransfer) %}No additional permissions<br />{% endif %}
        {%if data.approveuserpermissionsregistration %}{{data.approveuserpermissionsregistration}}<br /> {% endif %}
        {%if data.approveuserpermissionsmonitoring %}{{data.approveuserpermissionsmonitoring}}<br /> {% endif %}
        {%if data.approveuserpermissionsusermanagement %}{{data.approveuserpermissionsusermanagement}}<br /> {% endif %}
        {%if data.approveuserpermissionsrightsandpowers %}{{data.approveuserpermissionsrightsandpowers}}<br /> {% endif %}
        {%if data.approveuserpermissionstransfer %}{{data.approveuserpermissionstransfer}}<br /> {% endif %}
  </p>
    </div>


    <p class="govuk-body">Jane Smith has been granted access to submit Heat Networks on behalf of your organisation.</p>
    <p class="govuk-body">An email has been sent to j.smith@ofgem.gov.uk to inform them of this decision.</p>

    <a class="govuk-button" href="../manage-users">
      Continue
    </a>


  </div>
</div>

{% endblock %}