{% extends 'layouts/main.html' %}
{% set title = "Select permissions for Jane Smith" %}
{% set _inError = data.validationError == "true"  %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">


    {{
    govukBackLink ({
    text: 'Back',
    href: 'javascript:history.back()'
    })
    }}

  </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if _inError %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                {% for name, item in data.validationErrors %}
                <li>
                    <a href="#{{item.anchor}}">{{item.message}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    <h1 class="govuk-heading-l">
      {{title}}
    </h1>
    <div class="govuk-inset-text">
      <p class="govuk-body">Full Name: Jane Smith</p>
      <p class="govuk-body">Email: j.smith@ofgem.gov.uk</p>
      <p class="govuk-body">Telephone: 01234567890</p>
      <p class="govuk-body">Job title: Director</p>
    </div>
    <form method="post" novalidate>


      <table class="govuk-table">
        <thead class="govuk-table__head govuk-visually-hidden">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Permission</th>
            <th scope="col" class="govuk-table__header">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <fieldset class="govuk-fieldset">
            <th scope="row" class="govuk-table__header">User management
              <div class="govuk-hint">Add new users, edit user permissions, remove users from the account</div>
            </th>
            <td class="govuk-table__cell govuk-!-width-one-third">
   

                <div class="govuk-radios govuk-radios--inline govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="permission1" name="permission1" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="changedName">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="permission1-2" name="permission1" type="radio" value="no" checked>
                    <label class="govuk-label govuk-radios__label" for="permission1-2">
                      No
                    </label>
                  </div>                </div>
            </td>
          </fieldset>
          </tr>
          <tr class="govuk-table__row">
            <tr class="govuk-table__row">
              <fieldset class="govuk-fieldset">
              <th scope="row" class="govuk-table__header">Add, edit and remove heat networks</th>
              <td class="govuk-table__cell">
     
  
                  <div class="govuk-radios govuk-radios--inline govuk-radios--small" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="permission2" name="permission2" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="permission2">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="permission2-2" name="permission2" type="radio" value="no" checked>
                      <label class="govuk-label govuk-radios__label" for="permission2-2">
                        No
                      </label>
                    </div>                </div>
              </td>
            </fieldset>
            </tr>
            <tr class="govuk-table__row">
              <fieldset class="govuk-fieldset">
              <th scope="row" class="govuk-table__header">Add, edit and remove users</th>
              <td class="govuk-table__cell">
     
  
                  <div class="govuk-radios govuk-radios--inline govuk-radios--small" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="permission3" name="permission3" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="permission3">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="permission3-2" name="permission3" type="radio" value="no" checked>
                      <label class="govuk-label govuk-radios__label" for="permission3-2">
                        No
                      </label>
                    </div>                </div>
              </td>
            </fieldset>
            </tr>
        </tbody>
      </table>
    




    <div class="govuk-button-group">
      {{
        govukButton ({
            html: 'Save'
        })
      }}
    </div>
</form>

  </div>
</div>

{% endblock %}