{% extends 'layouts/main.html' %}
{% set title = "Are you sure you want to remove Donald Smith?" %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">


    {{
    govukBackLink ({
    text: 'Back',
    href: 'javascript:history.back()'
    })
    }}

  </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{title}}
    </h1>
    <p class="govuk-body">Donald Smith (d.smith@ofgem.gov.uk) will no longer be able to access the service.</p>
    <p class="govuk-body">If you wish to re-instate this user you'll have to reinvite them.</p>
    <a class="govuk-button govuk-button--warning" href="delete-user-confirm">
      Remove user
    </a>


  </div>
</div>

{% endblock %}