{% extends 'layouts/main.html' %}
{% set title = "User succesfully updated" %}


{% block pageTitle %}
{{title}}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{title}}
    </h1>

    <div class="govuk-inset-text">
      <p class="govuk-body"><strong>Email:</strong> j.smith@ofgem.gov.uk</p>
      <p class="govuk-body"><strong>Full Name</strong><br />{{data.edituserfirstname}} {{data.edituserlastname}}</p>
      <p class="govuk-body"><strong>Telephone</strong><br />{{data.editusertelephone}}</p>
      <p class="govuk-body"><strong>Job title</strong><br />{{data.edituserjobtitle}}</p>
      <p class="govuk-body"><strong>Additional permissions</strong> <br />
        {%if (not data.edituserpermissionsregistration) and (not data.edituserpermissionsmonitoring) and (not data.edituserpermissionsusermanagement) and (not data.edituserpermissionsrightsandpowers) and (not data.edituserpermissionstransfer) %}No additional permissions<br />{% endif %}
        {%if data.edituserpermissionsregistration %}{{data.edituserpermissionsregistration}}<br /> {% endif %}
        {%if data.edituserpermissionsmonitoring %}{{data.edituserpermissionsmonitoring}}<br /> {% endif %}
        {%if data.edituserpermissionsusermanagement %}{{data.edituserpermissionsusermanagement}}<br /> {% endif %}
        {%if data.edituserpermissionsrightsandpowers %}{{data.edituserpermissionsrightsandpowers}}<br /> {% endif %}
        {%if data.edituserpermissionstransfer %}{{data.edituserpermissionstransfer}}<br /> {% endif %}
  </p>
    </div>

    <a class="govuk-button" href="../manage-users/user-profile">
      Continue
    </a>


  </div>
</div>

{% endblock %}