{% extends 'layouts/main.html' %}
{% set title = "User management" %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="account-information">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="manage-users">Manage users</a>
          </li>
        </ol>
      </div>

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

                        <h1 class="govuk-heading-l">
                            {{title}}
                        </h1>
                        <table class="govuk-table">
                          <caption class="govuk-table__caption govuk-table__caption--m">Active users</caption>
                          <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                              <th scope="col" class="govuk-table__header">Name</th>
                              <th scope="col" class="govuk-table__header">Role</th>
                              <th scope="col" class="govuk-table__header"></th>
                            </tr>
                          </thead>
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell">John Smith (j.smith@ofgem.gov.uk)</th>
                              <td class="govuk-table__cell">Account creator, Legal Authority, User manager</td>

                              <td class="govuk-table__cell govuk-table__cell--numeric"><a href="manage-users/edit-user" class="govuk-link govuk-link--no-visited-state govuk-!-margin-right-5">Edit</a><a href="manage-users/delete-user" class="link-red">Delete</a></td>
                            </tr>
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell">Donald Smith (d.smith@ofgem.gov.uk)</th>
                              <td class="govuk-table__cell">User admin</td>
                              <td class="govuk-table__cell govuk-table__cell--numeric"><a href="manage-users/edit-user" class="govuk-link govuk-link--no-visited-state govuk-!-margin-right-5">Edit</a><a href="manage-users/delete-user" class="link-red">Delete</a></td>
                            </tr>
 

                          </tbody>
                        </table>

                        <table class="govuk-table">
                          <caption class="govuk-table__caption govuk-table__caption--m">Pending users</caption>
                          <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                              <th scope="col" class="govuk-table__header">Name</th>
                              <th scope="col" class="govuk-table__header">Role</th>
                              <th scope="col" class="govuk-table__header">Status</th>
                              <th scope="col" class="govuk-table__header"></th>
                            </tr>
                          </thead>
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell">Bob Smith (b.smith@ofgem.gov.uk)</th>
                              <td class="govuk-table__cell">Standard user</td>
                              <td class="govuk-table__cell"><span class="govuk-tag--grey">Invite sent</span></td>
                              <td class="govuk-table__cell govuk-table__cell--numeric"><a href="manage-users/edit-user" class="govuk-link govuk-link--no-visited-state govuk-!-margin-right-5">Edit</a><a href="manage-users/delete-user" class="link-red">Delete</a></td>
                            </tr>

                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell">Jane Smith (j.smith@gmail.com)</th>
                              <td class="govuk-table__cell">Standard user</td>
                              <td class="govuk-table__cell"><span class="govuk-tag--red">Access requested</span></td>
                              <td class="govuk-table__cell govuk-table__cell--numeric"><a href="manage-users/approve-user" class="govuk-link govuk-link--no-visited-state govuk-!-margin-right-5">Approve</a><a href="manage-users/reject-user" class="link-red">Reject</a></td>
                            </tr>
 

                          </tbody>
                        </table>
                        <a class="govuk-button" href="manage-users/add-user">Add new user</a>
                  </div>
</div>

{% endblock %}