{% extends 'layouts/main.html' %}
{% set title = "User management" %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="account-information">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="manage-users">Manage users</a>
          </li>
        </ol>
      </div>

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

                        <h1 class="govuk-heading-l">
                            {{title}}
                        </h1>

                        <table class="govuk-table">
                          <caption class="govuk-table__caption govuk-table__caption--m">Access requests</caption>
                          <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                              <th scope="col" class="govuk-table__header">Name</th>
                              <th scope="col" class="govuk-table__header">Role</th>
                              <th scope="col" class="govuk-table__header">Status</th>
                              <th scope="col" class="govuk-table__header"></th>
                            </tr>
                          </thead>
                          <tbody class="govuk-table__body">

                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell">Jane Smith (j.smith@gmail.com)</th>
                              <td class="govuk-table__cell">Standard user</td>
                              <td class="govuk-table__cell"><span class="govuk-tag--red">Pending approval</span></td>
                              <td class="govuk-table__cell govuk-table__cell--numeric"><a href="manage-users/approve-user" class="govuk-link govuk-link--no-visited-state govuk-!-margin-right-5">View request</a></td>
                            </tr>
 

                          </tbody>
                        </table>
                        <table class="govuk-table">
                          <caption class="govuk-table__caption govuk-table__caption--m">Users</caption>
                          <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                              <th scope="col" class="govuk-table__header">Name</th>
                              <th scope="col" class="govuk-table__header">Role</th>
                              <th scope="col" class="govuk-table__header">Status</th>
                            </tr>
                          </thead>
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell"><a href="manage-users/user-profile" class="govuk-link govuk-link--no-visited-state">{% if data.edituserfirstname and data.edituserlastname %}{{data.edituserfirstname}} {{data.edituserlastname}}{% else %}John Smith{% endif %} (j.smith@ofgem.gov.uk)</a></th>
                              <td class="govuk-table__cell">{%if data.edituserroles %}{% for role in data.edituserroles %}{{role}}{% if not loop.last %}, {% endif %} {% endfor %}{% else %}Account creator, Legal Authority, User manager{% endif %}</td>
                              <td class="govuk-table__cell"><span class="govuk-tag--green">Active</span></td>
                            </tr>
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Donald Smith (d.smith@ofgem.gov.uk)</a></th>
                              <td class="govuk-table__cell">    {% if data.edituserroles %}{% if "Legal Authority" not in data.edituserroles %}Legal Authority, {% endif %}{% endif %}User manager</td>                             
                              <td class="govuk-table__cell"><span class="govuk-tag--green">Active</span></td>

                            </tr>
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Bob Smith (b.smith@ofgem.gov.uk)</a></th>
                              <td class="govuk-table__cell">Standard user</td>
                              <td class="govuk-table__cell"><span class="govuk-tag--grey">Invite sent</span></td>
                            </tr>


                          </tbody>
                        </table>


                        <a class="govuk-button" href="manage-users/add-user">Add new user</a>
                  </div>
</div>

{% endblock %}