{% extends 'layouts/main.html' %}
{% set title = "Select a new regulatory contact" %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">


    {{
    govukBackLink ({
    text: 'Back',
    href: 'javascript:history.back()'
    })
    }}

  </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="postcode">
        {{title}}
      </label>
    </h1>

    <p class="govuk-body">This person will be Ofgem’s main point of contact for any questions they may have about your organisation and its heat networks.</p>

<p class="govuk-body">They will have full access to all features in the account, for example managing users, submitting heat network information.</p>

<p class="govuk-body">If you cannot find the person you need, you'll need to add them first.</p>
    <div class="govuk-form-group">

      <select class="govuk-select" id="sort" name="sort">
        <option value="choose" selected>Select a user</option>
        <option value="published">Donald Smith (d.smith@ofgem.gov.uk)</option>
      </select>
    </div>
    <a class="govuk-button" href="../manage-users?notification=regchange">
      Save
    </a>


  </div>
</div>

{% endblock %}