{% extends 'layouts/main.html' %}
{% set title = "Which type of organisation do you work for?" %}
{% set _inError = data.validationError == "true"  %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" accounttype="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <form method="POST" novalidate>

            <div class="govuk-form-group {% if data.validationErrors.accounttype %}govuk-form-group--error{% endif %}">

                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                        <h1 class="govuk-fieldset__heading">
                            {{title}}
                        </h1>

                    </legend>

                    {% if data.validationErrors.accounttype %}
                    <p class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{data.validationErrors.accounttype.message}}
                    </p>
                    {% endif %}





                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="accounttype" name="accounttype" type="radio" value="Company registered in the UK" {% if data.accounttype=="Company registered in the UK" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="accounttype">
                                UK organisation registered with Companies House
                            </label>
                            <div id="accounttype-hint" class="govuk-hint govuk-radios__hint">
                                For example, private or public limited company, limited partnership, limited liability partnership, community interest company
                              </div>
                        </div>
                        

 

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="accounttype-4" name="accounttype" type="radio" value="Other UK organisation" {% if data.accounttype=="Other UK organisation" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="accounttype-4">
                                Other UK organisation
                            </label>
                            <div id="accounttype-4-hint" class="govuk-hint govuk-radios__hint">
                                For example, local authority or other publicly-funded organisation, sole trader
                              </div>
                        </div>
                        <div class="govuk-radios__divider">or</div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="accounttype-5" name="accounttype" type="radio" value="Overseas organisation" {% if data.accounttype=="Overseas organisation" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="accounttype-5">
                                Overseas organisation
                            </label>
                        </div>


                    </div>


                </fieldset>


            </div>
            {{
                govukButton ({
                    html: 'Continue'
                })
            }}
        </form>

    </div>

</div>

{% endblock %}