{% extends 'layouts/main.html' %}

{% block pageTitle %}
    Register a heat network
{% endblock %}

{% macro taskListRow(props) %}
    <li class="app-task-list__item">
        <span class="app-task-list__task-name">
            {% if props.href %}
                <a href="{{ props.href }}" aria-describedby="{{ props.id }}">
                    {{ props.title }}
                </a>
            {% else %}
                {{ props.title }}
            {% endif %}
        </span>
        {% set tagColor = 'grey' %}
        {% if props.status == 'Complete' %}
            {% set tagColor = 'blue' %}
        {% elseif props.status == 'Not started' %}
            {% set tagColor = 'orange' %}
        {% endif %}
        {{ govukTag({
            text: props.status,
            classes: 'app-task-list__tag govuk-tag--' + tagColor,
            id: props.id
        }) }}
    </li>
{% endmacro %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form method="post">

                <h1 class="govuk-heading-l">Register a heat network</h1>

                <p>
                    <b>Application incomplete</b><br>
                    You have not completed all sections.
                </p>

                <ol class="app-task-list">
                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">1. </span>
                            Introduction
                        </h2>

                        <ul class="app-task-list__items">
                            {% set hnIntroStatus = 'Complete' if data['section-hn-intro'] == 'complete' else 'Not started' %}
                            {{ taskListRow({
                                id: 'hn-introduction',
                                title: 'Heat network introduction',
                                href: 'hn-intro/start' if hnIntroStatus == 'Not started' else 'hn-intro/check',
                                status: hnIntroStatus
                            }) }}
                            
                        </ul>
                    </li>
                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">2. </span>
                            Your heat network
                        </h2>

                        <ul class="app-task-list__items">
                            {% set locationStatus = 'Complete' if data['section-location-district'] == 'complete' else 'Not started' %}
                            {{ taskListRow({
                                id: 'location',
                                title: 'Location (district)',
                                href: 'location/district/address-check' if locationStatus == 'Not started' else 'location/district/check',
                                status: locationStatus
                            }) }}
                            {% set locationStatus = 'Complete' if data['section-location-communal'] == 'complete' else 'Not started' %}
                            {{ taskListRow({
                                id: 'location',
                                title: 'Location (communal)',
                                href: 'location/communal/postcode' if locationStatus == 'Not started' else 'location/communal/check',
                                status: locationStatus
                            }) }}
                            {% set buildingsStatus = 'Complete' if data['section-buildings-district'] == 'complete' else 'Not started' %}
                            {{ taskListRow({
                                id: 'buildings',
                                title: 'Buildings and consumers (district)',
                                href: 'buildings-consumers/district/connection-check' if buildingsStatus == 'Not started' else 'buildings-consumers/district/check',
                                status: buildingsStatus
                            }) }}
                            {% set buildingsStatus = 'Complete' if data['section-buildings-communal'] == 'complete' else 'Not started' %}
                            {{ taskListRow({
                                id: 'buildings',
                                title: 'Buildings and consumers (communal)',
                                href: 'buildings-consumers/communal/type' if buildingsStatus == 'Not started' else 'buildings-consumers/communal/check',
                                status: buildingsStatus
                            }) }}
                            {% set characteristicsStatus = 'Complete' if data['section-characteristics'] == 'complete' else 'Not started' %}
                            {{ taskListRow({
                                id: 'characteristics',
                                title: 'Characteristics',
                                href: 'characteristics/type' if characteristicsStatus == 'Not started' else 'characteristics/check',
                                status: characteristicsStatus
                            }) }}
                            {% set meteringStatus = 'Complete' if data['section-metering'] == 'complete' else 'Not started' %}
                            {{ taskListRow({
                                id: 'metering',
                                title: 'Metering',
                                href: 'metering/agent' if meteringStatus == 'Not started' else 'metering/check',
                                status: meteringStatus
                            }) }}
                        </ul>
                    </li>
                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">3. </span>
                            Standards and declarations
                        </h2>

                        <ul class="app-task-list__items">
                            {% set declarationsStatus = 'Complete' if data['section-declarations'] == 'complete' else 'Not started' %}
                            {{ taskListRow({
                                id: 'declarations',
                                title: 'Commit to declarations and send',
                                href: 'declarations/complaint' if declarationsStatus == 'Not started' else 'declarations/final',
                                status: declarationsStatus
                            }) }}
                        </ul>
                    </li>
                </ol>

                {{ govukButton ({
                    html: 'Save and return later',
                    classes: 'govuk-button--secondary'
                }) }}

            </form>

        </div>

</div>

{% endblock %}