{% extends 'layouts/email.html' %}
{% set company %}
{% if data.companyname %}
{{data.companyname }}
{% else %}
Radienteco Ltd
{% endif %}
{% endset %}
{% set title %}
  {{company}} has invited you to act on their behalf on Ofgem's heat networks service
  {% endset %}
{% set _inError = data.validationError == "true"  %}


{% block pageTitle %}
{{title}}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
              {{title}}
            </h1>
            <p class="govuk-body">You’ll need to access the service to find out which permissions you’ve been given and accept this invitation.</p>

              <p class="govuk-body">You can then use the service to help organisation account name fulfill their regulatory duties.</p>

          
          <h2 class="govuk-heading-m">Accessing the service</h2>
          <p class="govuk-body">View the invitation at: <a href="/{{data.version}}/account-information" class="govuk-link">https://heat-networks-consumer-regulations.service.gov.uk/</a></p>
          <p class="govuk-body">You may be rerouted through a separate service called ‘GOV One Login’. This is for security, to ensure that all users accessing the heat networks service are properly authenticated. When prompted, either sign up or sign in and you’ll be taken to the heat networks service.</p>

    </div>

</div>

{% endblock %}