{% extends 'layouts/main.html' %}
{% set title %}
Are you {{data.companyname}}'s regulatory contact for heat networks?
{% endset %}
{% set _inError = data.validationError == "true"  %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        <form method="POST" novalidate>


            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                    <h1 class="govuk-fieldset__heading">
                        {{title}}
                    </h1>

                </legend>
                <p class="govuk-body">This is your organisation’s most senior member of staff responsible for heat networks.</p>
                <p class="govuk-body">As regulatory contact, you'll:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>be Ofgem’s main point of contact for any regulatory and compliance matters</li>
                    <li>have full access to all features in the account, for example managing users and submitting heat network information</li>
                    <li>be initially responsible for inviting other users into the account and setting their permissions</li>
                </ul>

                  <p class="govuk-body">You can change the regulatory contact in the future, if you need to.</p>


                    <div class="govuk-form-group {% if data.validationErrors.companycreate %}govuk-form-group--error{% endif %}">

                    {% if data.validationErrors.companycreate %}
                    <p class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{data.validationErrors.companycreate.message}}
                    </p>
                    {% endif %}
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="companycreate" name="companycreate" type="radio" value="Yes" {% if data.companycreate == "Yes" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="companycreate">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="companycreate-2" name="companycreate" type="radio" value="No" {% if data.companycreate == "No" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="companycreate-2">
                                No
                            </label>
                        </div>
                    </div>
                    </div>


                </fieldset>


            {{
                govukButton ({
                    html: 'Continue'
                })
            }}
        </form>
    </div>

</div>

{% endblock %}