{% extends 'layouts/main.html' %}
{% set cdnumber = "239" %}


{% set hnname %}
{% if data.name %}
{{data.name}}
{% else %}
Seaton City Centre
{% endif %}
{% endset %}


{% set title %}
{% if data.introcomplete == "true" %}
Are you sure you wish to cancel changing the information for {{hnname}}?
{% else %}
Are you sure you wish to cancel adding this heat network? 
{% endif %}
{% endset %}

{% set _inError = data.validationError == "true"  %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        {% include data.version + "/_partials/logout.html" %}

        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        <form method="POST" novalidate>

            <div class="govuk-form-group {% if data.validationErrors.introcancel %}govuk-form-group--error{% endif %}">

                <fieldset class="govuk-fieldset">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">Add a heat network - introduction</span>
                        <h1 class="govuk-fieldset__heading">
                            {{title}}
                        </h1>
                    </legend>
                    {% if data.introcomplete == "true" %}
                    <p class="govuk-body">Any changes you have made will not be saved.</p>
                    {% else %}
                    <p class="govuk-body">Any information you have added will not be saved.</p>

                    {% endif %}
                    {% if data.validationErrors.introcancel %}
                    <p class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{data.validationErrors.introcancel.message}}
                    </p>
                    {% endif %}
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="cancel" name="introcancel" type="radio" value="Yes" >
                            <label class="govuk-label govuk-radios__label" for="cancel">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="cancel-2" name="introcancel" type="radio" value="No">
                            <label class="govuk-label govuk-radios__label" for="cancel-2">
                                No
                            </label>
                        </div>
                    </div>


                </fieldset>


            </div>
            {{
                govukButton ({
                    html: 'Continue'
                })
            }}
        </form>

    </div>

</div>

{% endblock %}