{% extends 'layouts/main.html' %}
{% set cdnumber = "201" %}

{% set title = "Initial information you'll need" %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
            {% include data.version + "/_partials/logout.html" %}


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

                        <span class="govuk-caption-l">Add a heat network - introduction</span>
                        <h1 class="govuk-heading-l">
                            {{title}}
                        </h1>
                        <p class="govuk-body">To help us understand your specific obligations, we need some further information from you. We'll provide definitions and guidance for any possibly unfamiliar concepts.</p>

                        <p class="govuk-body">You'll first need to tell us:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>whether the heat network uses a shared ground loop</li>
                    <li>which regulated activities your organisation undertakes on the heat network - operation, supply or both</li>
                    <li>whether the heat network is currently providing heating, cooling or hot water to consumers, and - if so – whether this began before 1 April 2025</li>
                    <li>what type of heat network it is, and how much of it your organisation is responsible for, including buildings and energy centres</li>
                    <li>if a communal network, the building’s address</li>
                    <li>if a district network, whether the heat network is a 'self-supply' network</li>
                    <li>whether the heat network sells heating, cooling or hot water to another heat network</li>
                    </ul>

                    
                <div class="govuk-button-group">
                    <a href="groundloop" class="govuk-button">Continue</a>
                    <a href="/{{data.version}}/add-heat-network/introduction/cancel?v={{data.lastpage}}" class="govuk-link govuk-link--no-visited-state">Cancel</a>


                </div>
    </div>
</div>

{% endblock %}