{% extends 'layouts/main.html' %}
{% set cdnumber = "200" %}

{% set title = "How the service works" %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
            {% include data.version + "/_partials/logout.html" %}


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

                        <span class="govuk-caption-l">Add a heat network - introduction</span>
                        <h1 class="govuk-heading-l">
                            {{title}}
                        </h1>
                        <p class="govuk-body">Only heat network operators, or third-parties acting on their behalf, can initiate adding a heat network. After you've added your operational data, you can invite any suppliers to contribute their supply data.</p>
                        <p class="govuk-body">As an operator:</p>
                <ul class="govuk-list govuk-list--number">
                    <li>You must answer a short series of introductory questions about your heat network.</li>
                    <li>Based on your answers, we'll let you know what further information we need.</li>
                    <li>After this, you'll be able to save your progress at the end of each section of the service.</li>
                    <li>You must then provide the remaining information for your heat network.</li>
                    <li>If you need other organisations to provide supply data, you can invite them into the service.</li>
                    <li>You can then submit your information to Ofgem.</li>

                </ul>   
                <div class="govuk-button-group">
                    <a href="initial" class="govuk-button">Continue</a>

                </div>
                </div>
</div>

{% endblock %}