{% extends 'layouts/main.html' %}
{% set title = "Check your answers" %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        {% include data.version + "/_partials/logout.html" %}

        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Add a heat network - financial resilience</span>
        <h1 class="govuk-heading-l">
            {{title}}
        </h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            {% if data.consumervulnerable %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Does the heat network supply vulnerable customers?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data.consumervulnerable}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="vulnerable">Change</a>
                </dd>
            </div>
            {% endif %}
            {% if data.consumervulnerable == "Yes" %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Total number of vulnerable customers
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data.consumervulnerableammount}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="vulnerable">Change</a>
                </dd>
            </div>
            {% endif %}
            {% if data.consumerpsr %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Do you have a Priority Service Register (PSR)?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data.consumerpsr}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="psr">Change</a>
                </dd>
            </div>
            {% endif %}
            {% if data.consumerconfirm %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Is there a procedure in place for domestic consumers and microbusinesses to raise a complaint?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data.consumerconfirm}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="confirm">Change</a>
                </dd>
            </div>
            {% endif %}
            {% if data.consumerdifficulties %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Do you have a process for dealing with customers with payment difficulties, including issuing reminder letters?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data.consumerdifficulties}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="difficulties">Change</a>
                </dd>
            </div>
            {% endif %}


        </dl>
        <form method="POST" novalidate>
            <input type="hidden" id="protectionscomplete" name="protectionscomplete" value="true" />

            {{
                govukButton ({
                    html: 'Save and continue'
                })
            }}
        </form>

        {% if data.protectionscomplete == "true" %}

        <a href="cancel" class="govuk-link">Cancel changes</a>
        {% endif %}

    </div>

</div>

{% endblock %}