{% extends 'layouts/main.html' %}
{% set title = "We've created your organisational account for the heat network service" %}
{% set _inError = data.validationError == "true"  %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
              {{title}}
            </h1>

            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                Your organisation cannot start using this service until you've added a regulatory contact for heat networks.
              </strong>
            </div>

          <p class="govuk-body">You can add a regulatory contact, and other users, from your heat network account home.</p>

        <a href="../account-information" class="govuk-button">Go to heat network account home</a>
    </div>

</div>

{% endblock %}