{% extends 'layouts/main.html' %}
{% set title = "Who is the organisation's 'regulatory contact' for heat networks? " %}
{% set _inError = data.validationError == "true"  %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" accounttype="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <form method="POST" novalidate>

            <div class="govuk-form-group {% if data.validationErrors.regcontact %}govuk-form-group--error{% endif %}">

                <fieldset class="govuk-fieldset">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">Comply with heat network regulations</span>

                        <h1 class="govuk-fieldset__heading">
                            {{title}}
                        </h1>

                    </legend>
                    <p class="govuk-body">Your organisation cannot start using this service until it has a regulatory contact for heat networks.</p>
                    <p class="govuk-body">The regulatory contact will be Ofgem’s first point of contact should we ever need to speak to someone about your company and its activities on heat networks.</p>
                    <p class="govuk-body">They will also have the ability to:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>invite colleagues to use the heat network service</li>
                        <li>edit or remove colleagues' access to the service</li>
                    </ul>
                    {% if data.validationErrors.accounttype %}
                    <p class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{data.validationErrors.accounttype.message}}
                    </p>
                    {% endif %}





                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="regulatorycontact" name="regcontact" type="radio" value="Myself" {% if data.regcontact=="Myself" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="regulatorycontact">
                                Myself
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="regulatorycontact-1" name="regcontact" type="radio" value="Someone else" {% if data.regcontact=="Someone else" %}checked{% endif %} data-aria-controls="regulatorycontactemail-conditional">
                            <label class="govuk-label govuk-radios__label" for="regulatorycontact-1">
                                Someone else
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="regulatorycontactemail-conditional">
                            <div class="govuk-form-group">
                              <label class="govuk-label" for="regcontactemail">
                                Enter their work email address (optional)
                              </label>
                              <input class="govuk-input govuk-!-width-two-thirds" id="regcontactemail" name="regcontactemail" type="text">
                            </div>
                          </div>
                    </div>


                </fieldset>


            </div>
            {{
                govukButton ({
                    html: 'Continue'
                })
            }}
        </form>

    </div>

</div>

{% endblock %}