{% extends 'layouts/main.html' %}
{% set title = "Comply with heat network regulations" %}


{% block pageTitle %}
{{title}}
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

                        <h1 class="govuk-heading-l">
                            {{title}}
                        </h1>
                        <p class="govuk-body">Use this service to:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>get authorisation for existing and new heat networks</li>
                    <li>apply for a license to upgrade or build new heat networks</li>
                    <li>amend information about any heat networks you've already told us about</li>
                    <li>submit mandatory reporting information on your organisation's heat networks </li>               
                </ul>

                    <h2 class="govuk-heading-m">Who this service is for</h2>
                    <p class="govuk-body">You must use this service if your organisation undertakes regulated activities on a heat network as a:
                    </p>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>heat supplier</li>
                                    <li>network operator</li>
                                    <li>developer</li>
                                    <li>third party acting on behalf of any of these</li>
                                </ul>


                                <details class="govuk-details">
                                    <summary class="govuk-details__summary">
                                      <span class="govuk-details__summary-text">
                                        Help with 'regulated activities on a heat network'
                                      </span>
                                    </summary>
                                    <div class="govuk-details__text">
                                        If you're not sure about whether or not your organisation is responsible for a heat network, or whether its activities need to be regulated, see the <a href="https://gov.uk" class="govuk-link">heat network guidance</a>.
                                    </div>
                                  </details>

                                  <h2 class="govuk-heading-m">How to access the service</h2>
                                <p class="govuk-body">Continue to sign up or sign in and we'll guide you through the process. </p>
                                <h3 class="govuk-heading-s">If your organisation has not yet been set up to use the heat network service</h3>
                                <p class="govuk-body">Someone with 'legal authority' to act on behalf of the organisation will need to do this. </p>
                                <p class="govuk-body">This must be someone we can verify as a legal representative of an organisation. For companies, they must be a director or company secretary listed on the Companies House register. For charities, they must be a trustee.</p>

                                <h3 class="govuk-heading-s">If your organisation has been set up but we've not linked you to it</h3>
                                  <p class="govuk-body">When prompted, you'll need to request an invite to join the service.</p>

                                  <form  method="POST" novalidate>
                                    <input type="hidden" id="inviteemailcomplete" name="inviteemailcomplete" value="false" />

                                    {{
                                        govukButton ({
                                            html: 'Sign up or sign in'
                                        })
                                    }}
                                </form>
                                </div>
</div>

{% endblock %}