{% extends 'layouts/main.html' %}
{% set title = "We've verified that you have legal authority to act on behalf of the company" %}
{% set _inError = data.validationError == "true"  %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <form  method="POST" novalidate>

            <div class="govuk-form-group {% if data.validationErrors.companynumber %}govuk-form-group--error{% endif %}">

                        <h1 class="govuk-heading-l">
                            {{title}}
                        </h1>

                        <div class="govuk-inset-text govuk-!-margin-top-2">
                            <p class="govuk-body">
                                Radianteco Ltd <br />
                                19 Grosvenor Road <br />
                                Solihull B91 3PU
                            </p>
        
                        </div>

                    <p class="govuk-body">
                        We've been able to confirm your identity and match you to information on the Companies House register.
                    </p>






            </div>
            <a href="trading-name" class="govuk-button">Continue</a>
        </form>
    </div>

</div>

{% endblock %}