{% extends 'layouts/main.html' %}
{% set title = "Check your answers" %}
{% set cdnumber = "XXX" %}
{% set _inError = data.validationError == "true"  %}

{% set company %}
{% if data.companyname %}
{{data.companyname}}
{% else %}
Radienteco Ltd
{% endif %}
{% endset %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        {% include data.version + "/_partials/logout.html" %}

        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Quarterly monitoring - quality of service</span>
        <h1 class="govuk-heading-l">
            {{title}}
        </h1>


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Do you have the information you’ll need
                </dt>
                <dd class="govuk-summary-list__value">
                    
                    {{data.mqqualityinitial}}{% if data.mqqualityinitial == "No" %}<br />
                    {{data.mqqualityinitialtotal}} 
                    {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="initial">Change</a>
                </dd>
             </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Number of customers that made a complaint
                </dt>
                <dd class="govuk-summary-list__value">
                    
                    {{data.mqcomplaints}}{% if data.mqcomplaints == "Yes" %}<br />
                    {{data.mqcomplaintstotal}} complaints
                    {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="complaints">Change</a>
                </dd>
            </div>
            {% if data.mqcomplaints == "Yes" %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Number of complaints referred to the Ombudsman
                </dt>
                <dd class="govuk-summary-list__value">
                    
                    {{data.mqombudsman}}{% if data.mqombudsman== "Yes" %}<br />
                    {{data.mqombudsmantotal}} complaints
                     {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="ombudsman">Change</a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Number of complaints complaints resolved by the end of the next working day
                </dt>
                <dd class="govuk-summary-list__value">
                    
                    {{data.mqnextday}}{% if data.mqnextday == "Yes" %}<br />
                    {{data.mqnextdaytotal}} complaints
                     {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="nextday">Change</a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Number of complaints resolved within 8 weeks
                </dt>
                <dd class="govuk-summary-list__value">
                    
                    {{data.mqeight}}{% if data.mqeight == "Yes" %}<br />
                    {{data.mqeighttotal}} complaints
                     {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="eight">Change</a>
                </dd>
            </div>      

            {% endif %}

        </dl>
        <form method="POST" novalidate>
            <input type="hidden" id="mqqualitycomplete" name="mqqualitycomplete" value="true" />
            <input type="hidden" id="mqstatus" name="mqstatus" value="In progress" />
            <div class="govuk-button-group">
            {{
                govukButton ({
                    html: 'Save and continue'
                })
            }}
                <a href="/{{data.version}}/monitoring/quarterly-data/quality-of-service/cancel?v={{data.lastpage}}" class="govuk-link">Cancel</a>

        </div>
        </form>



    </div>

</div>

{% endblock %}