{% extends 'layouts/main.html' %}
{% set cdnumber = "XXX" %}

{% set title %} 
Information you’ll need
{% endset %}
{% set _inError = data.validationError == "true"  %}

{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        {% include data.version + "/_partials/logout.html" %}

        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" mqqualityinitial="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <form method="POST" novalidate>

            <div class="govuk-form-group">

                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">Quarterly monitoring - quality of service</span>
                        <h1 class="govuk-fieldset__heading">
                            {{title}}
                        </h1>

                    </legend>
                     <p class="govuk-body">We need to know some details about the quality of service that your organisation provides for customers on this heat network.  </p>

                        <p class="govuk-body">If your organisation received any complaints about the heat network during this quarter, you’ll need to tell us how many were:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>referred to the Ombudsman </li>
                            <li>resolved by the end of the next working day</li>
                            <li>resolved within 8 weeks</li>
                        </ul>
                    <div class="govuk-form-group {% if data.validationErrors.mqqualityinitial %}govuk-form-group--error{% endif %}">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Are you able to provide this information?
                    </legend>

                    {% if data.validationErrors.mqqualityinitial %}
                    <p class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{data.validationErrors.mqqualityinitial.message}}
                    </p>
                    {% endif %}

                    <div class="govuk-radios" data-module="govuk-radios">

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="mqqualityinitial-yes" name="mqqualityinitial" type="radio" value="Yes" {% if data.mqqualityinitial == "Yes" %}checked{% endif %} >
                            <label class="govuk-label govuk-radios__label" for="mqqualityinitial-yes">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="mqqualityinitial-no" name="mqqualityinitial" type="radio" value="No" data-aria-controls="mqqualityinitial-conditional" {% if data.mqqualityinitial == "No" %}checked{% endif %} >
                            <label class="govuk-label govuk-radios__label" for="mqqualityinitial-no">
                                No
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="mqqualityinitial-conditional" >
                            <div class="govuk-form-group {% if data.validationErrors.mqqualityinitialtotal %}govuk-form-group--error{% endif %}">
                              <label class="govuk-label" for="mqqualityinitialtotal">
                                Why are you unable to provide this information?
                              </label>
                              {% if data.validationErrors.mqqualityinitialtotal %}
                              <p class="govuk-error-message">
                                  <span class="govuk-visually-hidden">Error:</span>
                                  {{data.validationErrors.mqqualityinitialtotal.message}}
                              </p>
                              {% endif %}
                              <textarea class="govuk-textarea" id="mqqualityinitialtotal" name="mqqualityinitialtotal" rows="5" value="{{data.mqqualityinitialtotal}}"></textarea>
                            </div>
                          </div>

                    </div>
                    </div>

                    

                </fieldset>


            </div>


            
            <input type="hidden" id="mqqualitycomplete" name="mqqualitycomplete" value="cannot" />
            <div class="govuk-button-group">
            {{
                govukButton ({
                    html: 'Continue'
                })
            }}
                <a href="/{{data.version}}/monitoring/quarterly-data/quality-of-service/cancel?v={{data.lastpage}}" class="govuk-link">Cancel</a>

        </div>
        
        </form>

    </div>

</div>

{% endblock %}


