{% extends 'layouts/main.html' %}
{% set title = "Do you approve " + data.yourfirstname + " " + data.yourlastname + "'s request to create an organisation account for " + data.companyname + " on Ofgem's heat network service?" %}
{% set _inError = data.validationError == "true"  %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        <form method="POST" novalidate>


            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                    <h1 class="govuk-fieldset__heading">
                        {{title}}
                    </h1>

                </legend>


                    <div class="govuk-form-group govuk-!-margin-top-4 {% if data.validationErrors.confirmauthority %}govuk-form-group--error{% endif %}">

                    {% if data.validationErrors.confirmauthority %}
                    <p class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{data.validationErrors.confirmauthority.message}}
                    </p>
                    {% endif %}
                    <fieldset class="govuk-fieldset">
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="confirmauthority" name="confirmauthority" type="radio" value="Yes" {% if data.confirmauthority == "Yes" %}checked{% endif %}>
                                <label class="govuk-label govuk-radios__label" for="confirmauthority">
                                    Yes
                                </label>
                                <div id="confirmauthority-hint" class="govuk-hint govuk-radios__hint">
                                    By approving, you confirm you have the legal authority
                                    {% if data.accounttype == "Company registered in the UK" %}
                                     - as either a director or company secretary - 
                                    {% elif data.accounttype == "UK charity registered with the Charity Commission" %}
                                     - as a trustee - 
                                    {% endif %}

                                    to act on behalf of the organisation.
                                    
                                  </div>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="confirmauthority-2" name="confirmauthority" type="radio" value="No" {% if data.confirmauthority == "No" %}checked{% endif %}>
                                <label class="govuk-label govuk-radios__label" for="confirmauthority-2">
                                    No
                                </label>
                            </div>
                        </div>                      </fieldset>
                    </div>


                </fieldset>
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                      <span class="govuk-visually-hidden">Warning</span>
                      Ofgem has the power to verify any data submitted to the heat network service, through measures such as spot checks, inspection and audit. Where Ofgem has concerns over fraud, abuse or misuse of the scheme, it also has the power to impose penalties.
                    </strong>
                  </div>

            {{
                govukButton ({
                    html: 'Continue'
                })
            }}
        </form>
    </div>

</div>

{% endblock %}