{% extends 'layouts/main.html' %}

{% block pageTitle %}
    Does your heat network have a backup system for cooling?
{% endblock %}

{% block beforeContent %}

    <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">

                {{ super() }}

                {{ govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                }) }}

            </div>

    </div>

{% endblock %}

{% block content %}

{% if not data['heat-network-provides'] | includes('Cooling') %}
    {{ 'backup-heating-check' | redirect | safe }}
{% endif %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="backup-cooling">

            {% if data['choose-organisation-role'] == "Third party representative"%}
                <h1 class="govuk-caption-l">Lumosense Energy Limited</h1>
                {% endif %}
            <h1 class="govuk-heading-l">Does your heat network have a backup system for cooling?</h1>

            {{ govukDetails({
                  summaryText: "Help with 'backup system'",
                  text: "A backup system is a system you have already in place within your energy centre and is on standby ready to provide heat in the event of a main system outage."
                }) }}

            

                {{ govukRadios ({
                    idPrefix: 'backup-cooling-check',
                    name: 'backup-cooling-check',
                    fieldset: {
                        legend: {
                            text: '',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        text: ''
                    },
                    items: [
                      {
                        value: "Yes",
                        text: "Yes",
                        checked: true if data['backup-cooling-check'] == 'Yes'
                      },
                      {
                        value: "No",
                        text: "No",
                        checked: true if data['backup-cooling-check'] == 'No'
                      }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

                <br>

                {{ govukButton ({
                    html: 'Save and return later',
                    classes: 'govuk-button--secondary',
                    href: '#'
                }) }}

            </form>

        </div>

</div>

{% endblock %}