{% extends 'layouts/main.html' %}

{% block pageTitle %}
    Enter the energy centre's address
{% endblock %}

{% block beforeContent %}

    <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">

                {{ super() }}

                {{ govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                }) }}

            </div>

    </div>

{% endblock %}

{% block content %}

{% if data['check-centre-address'] == 'No' %}
    {{ 'nearest' | redirect | safe }}
{% endif %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="address-result">

    
                
                <h1 class="govuk-heading-l">Enter the energy centre's address</h1>
                <p>
                    If you have more than one, tell us about the one that generates the most energy used in the heat network.
                </p>
                {{ govukInput({
                label: {
                text: "Energy centre postcode"
                },
                value: data['energy-centre-postcode'] if data['energy-centre-postcode'] else '',
                classes: "govuk-!-width-two-thirds",
                hint: {
                text: "For example, AA3 1AB."
                },
                id: "energy-centre-postcode",
                name: "energy-centre-postcode"
                }) }}

                

                {{ govukButton({
                text: "Find address"
                }) }}

                <br>

                {{ govukButton ({
                    html: 'Save and return later',
                    classes: 'govuk-button--secondary',
                    href: '#'
                }) }}
                
                </div> 

            </form>

        </div>

</div>

{% endblock %}