{% extends 'layouts/main.html' %}

{% set title = "Significant managerial responsibility or influence (SMRI) declaration" %}

{% set _inError = data.validationError == "true"  %}
{% set company %}{% if data.companyname %}{{data.companyname}}{% else %}Radienteco Ltd{% endif %}{% endset %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../account-information">Home</a>
          </li>

        </ol>
      </div>
    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        {% if data.smrinotification %}
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Success
              </h2>
            </div>
            <div class="govuk-notification-banner__content">
              <h3 class="govuk-notification-banner__heading">
                Fit and proper declaration submitted
              </h3>
              <p class="govuk-body">We'll contact you via email if we need any further information.</p>
            </div>
          </div>
        {% endif %}

        <span class="govuk-caption-l">{{company}}</span>
  
              <h1 class="govuk-heading-l">{{title}}</h1>
              {% if data.smrideclaration == "Yes" %}
              <p class="govuk-body govuk-!-margin-bottom-6">{% if data.smristatus == "expired" %}<strong class="govuk-tag govuk-tag--red">Expired</strong> Last updated 01/06/2024{% else %}<strong class="govuk-tag govuk-tag--green">Submitted</strong> Last updated 01/11/2024{% endif %}</p>
              {% endif %}
              <p class="govuk-body">You must declare whether everybody with SMRI at {{company}} is fit and proper, in order for anybody at {{company}} to be able to send us heat network information.</p>
              
              {% if data.smrideclaration != "Yes" %}

        <h2 class="govuk-heading-m">What is a person with SMRI?</h2>
        <p class="govuk-body">A person has SMRI if they play a role in either:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>the making of decisions about how the whole, or a substantial part, of {{company}} is to be managed or organised</li>
            <li>the actual managing or organising of the whole, or a substantial part of, {{company}}’s activities</li>
            </ul>
            <p class="govuk-body">For example, chief officers, directors and any other individuals who meet this definition.</p>
        <h2 class="govuk-heading-m">What you need to do</h2>

        <ul class="govuk-list govuk-list--number">
          <li>Identify everybody in your organisation with SMRI.</li>
          <li>Ask each of them to confirm whether or not they meet all the fit and proper criteria, as defined in the heat network regulations.</li>
          <li>Return to this service and submit the fit and proper declaration.</li>
          <li>If you indicate that someone with SMRI does not meet all the fit and proper criteria, we'll contact you via email for further information.</li>
        </ul>
        <p class="govuk-body">As part of this declaration, we'll also check that your organisation:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>has a process in place to ensure that all people with SMRI are fit and proper</li>
          <li>carries out regular assessments to ensure all people with SMRI remain fit and proper</li>
        </ul>

        <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                What are the fit and proper criteria?
              </span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body">Somebody is fit and proper if they answer ‘no’ to all of the following questions:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Has the person with SMRI been responsible for, contributed to or facilitated any serious misconduct or mismanagement (whether unlawful or not) in the course of carrying out a regulated activity in any sector?</li>
                  <li>Does the person with SMRI have any relevant unspent criminal convictions in any jurisdiction, in particular fraud or money laundering?</li>
                  <li>Does the person with SMRI have any insolvency history, including undischarged bankruptcy, debt judgements and county court judgements?</li>
                  <li>Has the person with SMRI been disqualified from acting as a director of a company?</li>
                  <li>Has the person with SMRI been a person with SMRI at a current or former authorised person, gas supplier or electricity supplier in respect of whose customers’ or consumers’ premises Ofgem issued a Last Resort Supply Direction?</li>
                  <li>Has the person with SMRI been a person with SMRI at a current or former authorised person or relevant energy licensee in relation to whom a Special Administration Order has been made?</li>
                  <li>Has the person with SMRI been a relevant person regarding premises to which an appropriate tribunal has appointed a manager under <a class="govuk-link govuk-link--no-visited-state" href="https://www.legislation.gov.uk/ukpga/1987/31/section/24" target="_blank">section 24 (opens in new tab)</a> or <a class="govuk-link govuk-link--no-visited-state" href="https://www.legislation.gov.uk/ukpga/1987/31/section/24ZA">section 24ZA (opens in new tab)</a> of the Landlord and Tenant Act 1987?</li>
                  <li>Has the person with SMRI been identified on a database of rogue landlords and property agents established under <a class="govuk-link govuk-link--no-visited-state" href="https://www.legislation.gov.uk/ukpga/2016/22/section/28" target="_blank">section 28 of the Housing and Planning Act 2016 (opens in new tab)</a></li>
                  <li>Has the person with SMRI owned or managed premises that have been the subject of a Relevant Order under the <a class="govuk-link govuk-link--no-visited-state" href="https://www.legislation.gov.uk/ukpga/2004/34/contents" target="_blank">Housing Act 2004 (opens in new tab)</a>?</li>
                  <li>Has the person with SMRI been refused, had revoked, restricted or terminated any form of authorisation, or had any disciplinary, compliance, enforcement or regulatory actions taken by any regulatory body in any jurisdiction?</li>
                </ul>
            </div>
          </details>







      <div class="govuk-button-group">
        <a href="process" class="govuk-button">Start declaration</a>
      </div>
      {% else %}



      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What is a person with SMRI?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">A person has SMRI if they play a role in either:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>the making of decisions about how the whole, or a substantial part, of {{company}} is to be managed or organised</li>
              <li>the actual managing or organising of the whole, or a substantial part of, {{company}}’s activities</li>
              </ul>
              <p class="govuk-body">For example, chief officers, directors and any other individuals who meet this definition.</p>
          </div>
      </details>



      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What are the fit and proper criteria?
          </span>
        </summary>
        <div class="govuk-details__text">
            <p class="govuk-body">Somebody is fit and proper if they answer ‘no’ to all of the following questions:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Has the person with SMRI been responsible for, contributed to or facilitated any serious misconduct or mismanagement (whether unlawful or not) in the course of carrying out a regulated activity in any sector?</li>
              <li>Does the person with SMRI have any relevant unspent criminal convictions in any jurisdiction, in particular fraud or money laundering?</li>
              <li>Does the person with SMRI have any insolvency history, including undischarged bankruptcy, debt judgements and county court judgements?</li>
              <li>Has the person with SMRI been disqualified from acting as a director of a company?</li>
              <li>Has the person with SMRI been a person with SMRI at a current or former authorised person, gas supplier or electricity supplier in respect of whose customers’ or consumers’ premises Ofgem issued a Last Resort Supply Direction?</li>
              <li>Has the person with SMRI been a person with SMRI at a current or former authorised person or relevant energy licensee in relation to whom a Special Administration Order has been made?</li>
              <li>Has the person with SMRI been a relevant person regarding premises to which an appropriate tribunal has appointed a manager under section 24 or 24ZA of the Landlord and Tenant Act 1987?</li>
              <li>Has the person with SMRI been identified on a database of rogue landlords and property agents established under section 28 of the Housing and Planning Act 2016?</li>
              <li>Has the person with SMRI owned or managed premises that have been the subject of a Relevant Order under the Housing Act 2004?</li>
              <li>Has the person with SMRI been refused, had revoked, restricted or terminated any form of authorisation, or had any disciplinary, compliance, enforcement or regulatory actions taken by any regulatory body in any jurisdiction?</li>
                                
              
            </ul>
            
        </div>
      </details>



      <h2 class="govuk-heading-m govuk-!-margin-top-8">Current SMRI declaration</h2>
        <p class="govuk-body">You must update these details if they become out-of-date or are incorrect.</p>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Does {{company}} have a process in place to ensure that everybody with SMRI is fit and proper?
              </dt>
              <dd class="govuk-summary-list__value">
                  {{data.smriprocess}}
              </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Carry out regular assessments to ensure all people with SMRI remain fit and proper?
            </dt>
            <dd class="govuk-summary-list__value">
                {{data.smriassessments}}
            </dd>

        </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              List of everybody with SMRI at {{company}}?
                  </dt>
            <dd class="govuk-summary-list__value">
                {{data.smrilist}}
            </dd>

        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Is everybody with SMRI at {{company}} fit and proper?
            </dt>
            <dd class="govuk-summary-list__value">
                {{data.smrifitandproper}}
            </dd>

        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Submitted by
          </dt>
          <dd class="govuk-summary-list__value">
              John Smith on {{data.smrideclarationdate}}
          </dd>

      </div>
    
        </dl>

        <form  method="POST" novalidate>


          <div class="govuk-button-group">
            {{
              govukButton ({
                html: 'Submit new SMRI declaration'
              })
            }}
          </div>
    </form>
            <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="../account-information" >Return to {{company}} home</a></p>

      {% endif %}




    </div>

         


</div>

{% endblock %}