{% extends 'layouts/main.html' %}
{% set company %}{% if data.companyname %}{{data.companyname}}{% else %}Radienteco Ltd{% endif %}{% endset %}
{% set name %}{{data.smrifirstname}} {{data.smrilastname}}{% endset %}
{% set title %}
Has {{name}} owned or managed premises made the subject of a Relevant Order under the Housing Act 2004? 
{% endset %}
{% set _inError = data.validationError == "true"  %}

{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">


    {{
    govukBackLink ({
    text: 'Back',
    href: 'javascript:history.back()'
    })
    }}
    {% include data.version + "/_partials/headerlinks.html" %}

  </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if _inError %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                {% for name, item in data.validationErrors %}
                <li>
                    <a href="#{{item.anchor}}">{{item.message}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    <form  method="POST" novalidate>

        
     <span class="govuk-caption-l">People with SMRI at {{company}}</span>

    <label for="smriowned">

    <h1 class="govuk-heading-l">
      {{title}}
    </h1>
  </label>

  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Help with ‘Relevant Order’
      </span>
    </summary>
    <div class="govuk-details__text">
      <p class="govuk-body">Relevant Orders in the Housing Act 2004 include: </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>prohibition orders under section 20 or 21</li>
        <li>demolition orders under section 46</li>
        <li>interim management orders under section 102</li>
        <li>final management orders under section 103</li>
      </ul>
      
      <p class="govuk-body"><a href="https://www.legislation.gov.uk/ukpga/2004/34/contents" target="_blank" class="govuk-link govuk-link--no-visited-state">View the Housing Act 2004 (opens in new tab). </a></p>
      
      
        
    </div>
  </details>

  <div class="govuk-form-group {% if data.validationErrors.smriowned %}govuk-form-group--error{% endif %}">

        {% if data.validationErrors.smriowned %}
        <p class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            {{data.validationErrors.smriowned.message}}
        </p>
        {% endif %}


        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="smriowned" name="smriowned" type="radio" value="Yes" {% if data.smriowned == "Yes" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="smriowned">
                  Yes
              </label>
          </div>
          <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="smriowned-2" name="smriowned" type="radio" value="No" {% if data.smriowned == "No" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="smriowned-2">
                  No
              </label>
          </div>
      </div>

      </div>



      <div class="govuk-button-group">
        {{
          govukButton ({
            html: 'Continue'
          })
        }}
      </div>
</form>

</div>

{% endblock %}