{% extends 'layouts/blank.html' %}
{% set title = "Request to approve your organisation's account for Ofgem's heat network service" %}
{% set _inError = data.validationError == "true"  %}


{% block pageTitle %}
{{title}}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
              {{title}}
            </h1>

          
          <p class="govuk-body">{{data.yourfirstname}} {{data.yourlastname}} has told us you  
            {% if data.accounttype == "Company registered in the UK" %}
            are a director or company secretary for 
            {% elif data.accounttype == "UK charity registered with the Charity Commission" %}
            are a trustee for 
            {% else %}
            have legal authority to act on behalf of 
            {% endif %}

             
            
            Randianteco.</p>

          <p class="govuk-body">As someone with legal authority to act on behalf of your organisation, you must approve the creation of an organisation account to use Ofgem's heat network service.</p>
          <p class="govuk-body">Once approved, your organisation will be able to use the service to:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>get authorisation for existing and new heat networks</li>
            <li>apply for a license to upgrade or build new heat networks</li>
            <li>amend information about any heat networks you've already told us about</li>
            <li>submit mandatory reporting information on your organisation's heat networks</li>
          </ul>
          <h2 class="govuk-heading-m">Next steps</h2>
          <ul class="govuk-list govuk-list--number">
            <li>Use this email address to create a personal online account with 'GOV One Login'.  </li>
            <li>Follow the link to Ofgem's heat network service.</li>
            <li>Select whether you want to approve creation of your organisation's account for this service.</li>
        </ul>

        <form  method="POST" novalidate>
          <input type="hidden" id="inviteemailcomplete" name="inviteemailcomplete" value="true" />
          {{
              govukButton ({
                  html: 'Continue to GOV One Login'
              })
          }}
      </form>
    </div>

</div>

{% endblock %}