{% extends 'layouts/main.html' %}
{% set title = "What happens next" %}
{% set _inError = data.validationError == "true" %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
        govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
        })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <form method="POST" novalidate>

            <div
                class="govuk-form-group {% if data.validationErrors.companynumber %}govuk-form-group--error{% endif %}">

                <fieldset class="govuk-fieldset">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                        <h1 class="govuk-fieldset__heading">
                            {{title}}
                        </h1>

                    </legend>

                    <p class="govuk-body">
                        We've sent an email to {{data.directoremail}}, asking them to approve the creation of an
                        organisation account for Radianteco Ltd.
                    </p>
                    <p class="govuk-body">
                        You'll need to tell them to expect an email from heat-networks@notifications.service.gov.uk
                    </p>
                    <p class="govuk-body">
                        We'll let you know when they've approved the account. In the meantime, you will not be able to use the heat network service.
                    </p>


                </fieldset>


            </div>
            <a href="../account-information" class="govuk-button">Continue to heat networks account home</a>

        </form>
    </div>

</div>

{% endblock %}