{% extends 'layouts/main.html' %}
{% set title %} Add further information about {% if data.companyname %}{{data.companyname}}{% else %}Radienteco Ltd{% endif %}{% endset %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group ">

                <span class="govuk-caption-l">
                    Organisation details
                  </span>
                        <h1 class="govuk-heading-l">
                            {{title}}
                        </h1>
                        <p class="govuk-body">
                            When you've finished adding this information, you'll have full access to the service and can start providing data about your heat networks.
                        </p>
                        <h2 class="govuk-heading-m">Before you start</h2>
                        <p class="govuk-body">
                            You'll need information about:
                        </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>whether your organisation trades under another name or from another address</li>
                    <li>your organisation's financial resilience</li>
                    <li>the start and end dates of your organisation's financial year</li>
                    <li>whether the organisation is part of a joint venture, special purpose vehicle or is a wholly owned subsidiary of another organisation, and if so the details of any parent organisations</li>                
                </ul>

                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                      <span class="govuk-visually-hidden">Warning</span>
                      Some of the financial resilience questions we must ask are quite specific. In order to protect customers, we need to identify any suppliers or operators that pose a risk of failure. The questions we ask help us identify these early on.
                    </strong>
                  </div>

                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Financial resilience questions you must answer
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <p class="govuk-body">Unless your organisation is a local authority, housing association or other social housing provider, we'll ask:</p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>whether your organisation has financial accounts for the most recent accounting period</li>
                        </ul>
                      <p  class="govuk-body">If it does - and the most recent accounting period is 12 months or longer - we need to know:</p>
                        <ul class="govuk-list govuk-list--bullet">
                      <li>the net profit or loss for the most recent financial year</li>

<li>the total value of liquid assets that the organisation controls or has unrestricted access to </li>
<li>whether the organisation's assets exceeded its liabilities at the end of the most recent financial year</li>
<li>what the average monthly fixed costs were for the organisation's heat networks for the previous financial year</li>
<li>what the average monthly fixed income was for the organisation's heat networks for the previous financial year</li>
<li>whether the organisation is satisfied it can meet its costs as they fall due within the next 12 months</li>
<li>whether the organisation hedges its gas or electricity requirements, and if so, what percentage volume of costs, and for how many months ahead</li>
</ul>
<p  class="govuk-body">If the organisation does not have financial accounts - or these accounts do not cover a period of at least 12 months - we'll ask how long the organisation projects it will be solvent for</p>

                    </div>
                  </details>
            </div>
        <a href="email-address" class="govuk-button">Continue</a>
    </div>
</div>

{% endblock %}