{% extends 'layouts/main.html' %}
{% set title = "Your heat network will be temporarily authorised" %}

{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">



        <div class="govuk-form-group ">

            <span class="govuk-caption-l">Add a heat network - introduction</span>
            <h1 class="govuk-heading-l">
                {{title}}
            </h1>

            
            <p class="govuk-body">You will be given a temporary authorisation which will cover your heat network until 27 January 2027. Ater this point your heat network must be converted to a full authorisation, the process to do this is yet to be determined.</p>
 
            



        </div>
        {% if data.introcommunal == "Yes" %}
        <a href="selfsupply" class="govuk-button">Continue</a>
        {% else %}
        <a href="buy" class="govuk-button">Continue</a>

        {% endif %}
    </div>

</div>

{% endblock %}