{% extends 'layouts/main.html' %}
{% set title = "You cannot continue" %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">



        <div class="govuk-form-group ">

            <span class="govuk-caption-l">Add a heat network - introduction</span>
            <h1 class="govuk-heading-l">
                {{title}}
            </h1>

            {% if data.introdropoutreason == "203" %}
            <p class="govuk-body">203</p>
            {% endif %}

            {% if data.introdropoutreason == "226" %}
            <p class="govuk-body">226</p>
            {% endif %}

            {% if data.introdropoutreason == "227" %}
            <p class="govuk-body">227</p>
            {% endif %}
            
            {% if data.introdropoutreason == "232" %}
            <p class="govuk-body">232</p>
            {% endif %}

            {% if data.introdropoutreason == "233" %}
            <p class="govuk-body">233</p>
            {% endif %}

        </div>
        <a href="../../account-information" class="govuk-button">Finish</a>

    </div>

</div>

{% endblock %}