{% extends 'layouts/main.html' %}
{% set title = "Your details" %}
{% set _inError = data.validationError == "true"  %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <form  method="POST" novalidate>

            <div class="govuk-form-group">

                <fieldset class="govuk-fieldset">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                        <h1 class="govuk-fieldset__heading">
                            {{title}}
                        </h1>

                    </legend>



                    <div class="govuk-form-group govuk-!-margin-top-4">
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Email address</h3>
                        <p class="govuk-body">{{data.oneloginemail}}</p>
                    </div>
                    <div class="govuk-form-group {% if data.validationErrors.yourfirstname %}govuk-form-group--error{% endif %}">
                        <label class="govuk-label govuk-label--s" for="yourfirstname">
                          First name
                        </label>
                        {% if data.validationErrors.yourfirstname %}
                        <p class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>
                            {{data.validationErrors.yourfirstname.message}}
                        </p>
                        {% endif %}
                        <input class="govuk-input govuk-!-width-one-third" id="yourfirstname" name="yourfirstname" type="text" value="{{data.yourfirstname}}">
                    </div>

                    <div class="govuk-form-group {% if data.validationErrors.yourlastname %}govuk-form-group--error{% endif %}">
                        <label class="govuk-label govuk-label--s" for="yourlastname">
                          Last name
                        </label>
                        {% if data.validationErrors.yourlastname %}
                        <p class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>
                            {{data.validationErrors.yourlastname.message}}
                        </p>
                        {% endif %}
                        <input class="govuk-input govuk-!-width-one-third" id="yourlastname" name="yourlastname" type="text" value="{{data.yourlastname}}">
                    </div>

                    <div class="govuk-form-group {% if data.validationErrors.yourtelephone %}govuk-form-group--error{% endif %}">
                        <label class="govuk-label govuk-label--s" for="yourtelephone">
                          Telephone number
                        </label>
                        {% if data.validationErrors.yourtelephone %}
                        <p class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>
                            {{data.validationErrors.yourtelephone.message}}
                        </p>
                        {% endif %}
                        <input class="govuk-input govuk-!-width-one-third" id="yourtelephone" name="yourtelephone" type="tel" autocomplete="tel" value="{% if data.yourtelephone %}{{data.yourtelephone}}{% else %}{{data.oneloginphone}}{% endif %}">
                    </div>

                    <div class="govuk-form-group {% if data.validationErrors.yourjobtitle %}govuk-form-group--error{% endif %}">
                        <label class="govuk-label govuk-label--s" for="yourjobtitle">
                          Job title
                        </label>
                        {% if data.validationErrors.yourjobtitle %}
                        <p class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>
                            {{data.validationErrors.yourjobtitle.message}}
                        </p>
                        {% endif %}
                        <input class="govuk-input govuk-input--width-10" id="yourjobtitle" name="yourjobtitle" type="text" value="{{data.yourjobtitle}}">
                    </div>
                </fieldset>


            </div>
            {{
                govukButton ({
                    html: 'Continue'
                })
            }}
        </form>
    </div>

</div>

{% endblock %}