{% extends 'layouts/main.html' %}
{% set title %}
{% if (data.energycentres > 1) %}

{% if data.ecaddressHasPostcode == "Yes" %}
Energy centre 1: Confirm address
{% else %}
Energy centre 1: Confirm co-ordinates
{% endif %}
{% else %}
{% if data.ecaddressHasPostcode == "Yes" %}
Confirm address
{% else %}
Confirm co-ordinates
{% endif %}
{% endif %}
{% endset %}

{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <form method="POST" novalidate>


            <div class="govuk-form-group ">

                <span class="govuk-caption-l">Add a heat network - energy centres</span>
                <h1 class="govuk-heading-l">
                            {{title}}
                        </h1>

                        {% if data.ecaddressHasPostcode == "Yes" and data.ecAddress %}
                        <div class="govuk-inset-text">
                            {% set address = data.ecAddress.toString() %}
                            {{address | replace(", , ", ",<br />") | replace(", ", ",<br />") | safe}}
                        </div>
                        {% else %}
                        <p class="govuk-body"><strong>Latitude:</strong> {{data.ecaddresslatitude}}<br />
                            <strong>Longitude:</strong> {{data.ecaddresslongitude}}</p>
                        {% endif %}







            </div>
            {% if data.ecaddressHasPostcode == "Yes" %}
            {{
                govukButton ({
                    html: 'Use this address'
                })
            }}
{% else %}
{{
    govukButton ({
        html: 'Use these coordinates'
    })
}}
{% endif %}

        </form>
        <a href="../tasklist" class="govuk-link govuk-link--no-visited-state">Save and return to {{data.name}} main page</a>

    </div>

</div>

{% endblock %}