{% extends 'layouts/main.html' %}
{% set cdnumber = "031" %}

{% set _inError = data.validationError == "true"  %}




{% block beforeContent %}





<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    {% include data.version + "/_partials/headerlinks.html" %}

  </div>

</div>

{% endblock %}

{% block content %}

{% set users = [] %}

{% for i in range(data.userid, data.userid + 1) %}
    {% set users = users.concat([{
        "firstname": data["userfirstname" ~ i],
        "lastname": data["userlastname" ~ i],
        "id": i,
        "thirdparty": data["userthirdparty" ~ i],
        "usermanagement": data["adduserpermissionsusermanagement" ~ i],
        "monitoring": data["adduserpermissionsmonitoring" ~ i],
        "registration": data["adduserpermissionsregistration" ~ i],
        "view": data["adduserpermissionsview" ~ i]

  }]) %}
{% endfor %}

{% for user in users %}
{% set name %}{{user.firstname}} {{user.lastname}}{% endset %}
{% set title = "Permissions for " + name %}

{% if data.manageusersnotification %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      
      {% if data.manageusersnotification == 'reactivated' %}
     {{data.deletedusername}} has been reactivated for the heat networks service for {% if data.companyname %}{{data.companyname}}{% else %}Radienteco Ltd{% endif %}

      {% endif %}
      {% if data.manageusersnotification == 'editthirdparty' %}
      {{user.firstname}} {{user.lastname}}'s third party status has been changed for {% if data.companyname %}{{data.companyname}}{% else %}Radienteco Ltd{% endif %}

      {% endif %}
    </h3>
    <p class="govuk-body">We've let them know via email.</p>
  </div>
</div>
</div>
</div>
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if _inError %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                {% for name, item in data.validationErrors %}
                <li>
                    <a href="#{{item.anchor}}">{{item.message}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    <span class="govuk-caption-l">Manage users for {% if data.companyname %}{{data.companyname}}{% else %}Radienteco Ltd{% endif %}</span>


    <h1 class="govuk-heading-l">
      {{title}}
    </h1>
    <form method="post" novalidate>
      <h2 class="govuk-heading-m">Default permissions</h2>


      {% if user.thirdparty == "Yes" %}
      <p class="govuk-body">By default, {{data.userfirstname}} {{data.userlastname}} only has access to the information they’ve added to the service.</p>
      {% else %}
      <p class="govuk-body">By default, {{data.userfirstname}} {{data.userlastname}} has read access to all {% if data.companyname %}{{data.companyname}}{% else %}Radienteco Ltd{% endif %}’s heat network information.</p>
      {% endif %}
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Change additional permissions</caption>

        <thead class="govuk-table__head govuk-visually-hidden">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Permission</th>
            <th scope="col" class="govuk-table__header">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% if user.thirdparty == "Yes" %}

          <tr class="govuk-table__row">
            <fieldset class="govuk-fieldset">
            <th scope="row" class="govuk-table__header">View all heat network information
              <div class="govuk-hint">Can view all heat network information for {% if data.companyname %}{{data.companyname}}{% else %}Radienteco Ltd{% endif %}.</div>
            </th>
            <td class="govuk-table__cell govuk-!-width-one-third">
   

                <div class="govuk-radios govuk-radios--inline govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="edituserpermissions-view-1" name="edituserpermissionsview" type="radio" value="View all heat network information" {% if user.view %}checked{% endif %}>
                    <label class="govuk-label govuk-radios__label" for="edituserpermissions-view-1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="edituserpermissions-view-2" name="edituserpermissionsview" type="radio" value="" {% if not user.view %}checked{% endif %}>
                    <label class="govuk-label govuk-radios__label" for="edituserpermissions-view-2">
                      No
                    </label>
                  </div>                
                </div>
            </td>
          </fieldset>
          </tr>          
          {% endif %}
    


          <tr class="govuk-table__row">
            <fieldset class="govuk-fieldset">
            <th scope="row" class="govuk-table__header">Add or edit heat network information
              <div class="govuk-hint">Can enter - but not send - information about {% if data.companyname %}{{data.companyname}}{% else %}Radienteco Ltd{% endif %}'s heat networks.</div>
            </th>
            <td class="govuk-table__cell govuk-!-width-one-third">
   

                <div class="govuk-radios govuk-radios--inline govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="edituserpermissions-registration-1" name="edituserpermissionsregistration" type="radio" value="Add or edit heat network information" {% if user.registration %}checked{% endif %}>
                    <label class="govuk-label govuk-radios__label" for="edituserpermissions-registration-1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="edituserpermissions-registration-2" name="edituserpermissionsregistration" type="radio" value="" {% if not user.registration %}checked{% endif %}>
                    <label class="govuk-label govuk-radios__label" for="edituserpermissions-registration-2">
                      No
                    </label>
                  </div>                
                </div>
            </td>
          </fieldset>
          </tr>
          <tr class="govuk-table__row">
            <fieldset class="govuk-fieldset">
            <th scope="row" class="govuk-table__header">Send heat network information
              <div class="govuk-hint">Can send {% if data.companyname %}{{data.companyname}}{% else %}Radienteco Ltd{% endif %}’s heat network information to Ofgem.</div>
            </th>
            <td class="govuk-table__cell govuk-!-width-one-third">
                <div class="govuk-radios govuk-radios--inline govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="edituserpermissions-monitoring-1" name="edituserpermissionsmonitoring" type="radio" value="Send heat network information" {% if user.monitoring %}checked{% endif %}>
                    <label class="govuk-label govuk-radios__label" for="edituserpermissions-monitoring-1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="edituserpermissions-monitoring-2" name="edituserpermissionsmonitoring" type="radio" value="" {% if not user.monitoring %}checked{% endif %}>
                    <label class="govuk-label govuk-radios__label" for="edituserpermissions-monitoring-2">
                      No
                    </label>
                  </div>                
                </div>
            </td>
          </fieldset>
          </tr>
          <tr class="govuk-table__row">
            <fieldset class="govuk-fieldset">
            <th scope="row" class="govuk-table__header">Manage users
              <div class="govuk-hint">Can add new users, edit user permissions or remove users from the service for {% if data.companyname %}{{data.companyname}}{% else %}Radienteco Ltd{% endif %}.</div>
            </th>
            <td class="govuk-table__cell govuk-!-width-one-third">
                <div class="govuk-radios govuk-radios--inline govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="edituserpermissions-usermanagement-1" name="edituserpermissionsusermanagement" type="radio" value="Manage users" {% if user.usermanagement %}checked{% endif %}>
                    <label class="govuk-label govuk-radios__label" for="edituserpermissions-usermanagement-1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="edituserpermissions-usermanagement-2" name="edituserpermissionsusermanagement" type="radio" value="" {% if not user.usermanagement %}checked{% endif %}>
                    <label class="govuk-label govuk-radios__label" for="edituserpermissions-usermanagement-2">
                      No
                    </label>
                  </div>                
                </div>

            </td>
          </fieldset>
          </tr>
        </tbody>
      </table>


      <div class="govuk-button-group">
        {{
          govukButton ({
              html: 'Save'
          })
        }}
    </div>
</form>

  </div>
</div>
{% endfor %}
{% endblock %}

