{% extends 'layouts/main.html' %}
{% set title = "Check your answers" %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Add a heat network - introduction</span>
        <h1 class="govuk-heading-l">
            {{title}}
        </h1>


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Your network role
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data.role}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="role">Change<span class="govuk-visually-hidden"> your network role</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Network is currently supplying
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if data.introsupply == "Yes" %} 
                    {{data.introsupply}} - started {{data.supplywhen}}
                    {% else %}
                    {{data.introsupply}}
                    {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="supply">Change<span class="govuk-visually-hidden"> network supply status</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Network services
                </dt>
                <dd class="govuk-summary-list__value">
                    <ul class="govuk-list">
                    {% for service in data.service %}
                    <li>{{service}}</li>
                    {% endfor %}
                        </ul>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="service">Change<span class="govuk-visually-hidden"> network services</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Supplies more than one building?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data.building}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="building">Change<span class="govuk-visually-hidden"> building supply status</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    'Self-supply' network?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data.selfsupply}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="selfsupply">Change<span class="govuk-visually-hidden"> self supply status</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Building types
                </dt>
                <dd class="govuk-summary-list__value">
                    <ul class="govuk-list">
                    {% for consumertype in data.consumertype %}
                    <li>{{consumertype}}</li>
                    {% endfor %}
                        </ul>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="consumertype">Change<span class="govuk-visually-hidden"> building type</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Supplies residential and microbusiness consumers?
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if ((data.consumertype or []).indexOf('Residential consumers') > -1) and ((data.consumertype or []).indexOf('Microbusinesses') > -1) %}
                    Yes
                    {% else %}
                    No
                    {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="consumertype">Change<span class="govuk-visually-hidden"> consumer type</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Network name
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data.name}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="name">Change<span class="govuk-visually-hidden"> network name</span></a>
                </dd>
            </div>
        </dl>
                <form method="POST" novalidate>
    <input type="hidden" id="introcomplete" name="introcomplete" value="true" />
    {{
                govukButton ({
                    html: 'Save and continue'
                })
    }}            </form>

    </div>

</div>

{% endblock %}