{% extends 'layouts/main.html' %}

{% block pageTitle %}
    You may need to send a copy of your vulnerable consumers policy & procedures
{% endblock %}

{% block beforeContent %}

    <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">

                {{ super() }}

                {{ govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                }) }}

            </div>

    </div>

{% endblock %}

{% block content %}

{# {% if data['vulnerable'] == 'No' %}
    {{ 'confirmation' | redirect | safe }}
{% endif %} #}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="check">

            <h1 class="govuk-heading-l">You may need to send a copy of your vulnerable consumers policy & procedures</h1>

            <p>You will need to have a policy and procedures to identify and provide support to vulnerable domestic consumers to comply with the regulations.</p>
            <p>If we need to see this we will request this from you.</p>

            

            

                {{ govukButton ({
                    html: 'Continue'
                }) }}

                <br>

                {{ govukButton ({
                    html: 'Save and return later',
                    classes: 'govuk-button--secondary',
                    href: '#'
                }) }}

            </form>

        </div>

</div>

{% endblock %}