{% extends 'layouts/main.html' %}
{% set title = "Check your answers" %}
{% set cdnumber = "275" %}
{% set _inError = data.validationError == "true"  %}

{% set company %}
{% if data.companyname %}
{{data.companyname}}
{% else %}
Radienteco Ltd
{% endif %}
{% endset %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        {% include data.version + "/_partials/logout.html" %}

        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Add a heat network - billing</span>
        <h1 class="govuk-heading-l">
            {{title}}
        </h1>


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    How often does {{company}} send bills to customers?
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if data.billingoften == "Other" %}
                    {{data.billingoftenfrequency}}
                    {% else %}
                    {{data.billingoften}}
                    {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="often">Change</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Information provided on how customers' bills are calculated?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data.billingcalculated}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="calculated">Change</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Information provided so customers can compare your charges?
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data.billingcompare}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="compare">Change</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Other information included with customers' bills
                </dt>
                <dd class="govuk-summary-list__value">
                     <ul class="govuk-list">
                        {% for info in data.billinginfo %}
                        <li>{{info}}</li>
                        {% endfor %}
                    </ul>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="otherinfo">Change</a>
                </dd>
            </div>

        </dl>
        <form method="POST" novalidate>
            <input type="hidden" id="billingcomplete" name="billingcomplete" value="true" />
            <input type="hidden" id="HNStatus" name="HNStatus" value="In progress" />
            <div class="govuk-button-group">
            {{
                govukButton ({
                    html: 'Save and continue'
                })
            }}
            <a href="/{{data.version}}/add-heat-network/billing/cancel?v={{data.lastpage}}" class="govuk-link">Cancel</a>

        </div>
        </form>



    </div>

</div>

{% endblock %}