{% extends 'layouts/main.html' %}
{% set cdnumber = "200" %}

{% set title = "Introduction" %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
            {% include data.version + "/_partials/logout.html" %}


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group ">

                        <span class="govuk-caption-l">Add a heat network - billing</span>
                        <h1 class="govuk-heading-l">
                            {{title}}
                        </h1>
                        <p class="govuk-body">We need to know about your organisation’s current billing process. You’ll need to tell us:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>how often you send bills to customers</li>
                            <li>whether you provide customers with information on how their bills are calculated</li>
                            <li>whether you provide customers with information that allows them to compare your charges with other energy suppliers</li>
                            <li>what other information is included with your customers’ bills, for example, current energy prices or their consumption</li>
                        </ul>
                        

                    <a href="often" class="govuk-button">Continue</a>
    </div>
</div>

{% endblock %}