{% extends 'layouts/main.html' %}
{% set cdnumber = "204" %}

{% set company %}
{% if data.companyname %}
{{data.companyname}}
{% else %}
Radienteco Ltd 
{% endif %}
{% endset %}
{% set title %}
Which regulated activities does {{company}} undertake on the heat network?
{% endset %}
{% set _inError = data.validationError == "true"  %}

{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
            {% include data.version + "/_partials/logout.html" %}


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <form method="POST" novalidate>

            <div class="govuk-form-group {% if data.validationErrors.role %}govuk-form-group--error{% endif %}">

                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">Add a heat network - introduction</span>
                        <h1 class="govuk-fieldset__heading">
                            {{title}}
                        </h1>

                    </legend>
                    <p class="govuk-body">These are specific activities that Ofgem is responsible for regulating.</p>

                    {% if data.validationErrors.role %}
                    <p class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{data.validationErrors.role.message}}
                    </p>
                    {% endif %}





                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="role" name="role" type="radio" value="Heat supplier" aria-describedby="role-item-hint" {% if data.role == "Heat supplier" %}checked{% endif %} >
                            <label class="govuk-label govuk-radios__label" for="role">
                                Supply only
                            </label>
                            <div id="role-item-hint" class="govuk-hint govuk-radios__hint">
                                Your organisation has a contract to provide heating, cooling or hot water to some or all of the consumers on the network. A consumer is someone who has a contract for the purchase of heating, cooling or hot water, for example a bill payer.
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="role-2" name="role" type="radio" value="Network operator" aria-describedby="role-2-item-hint" {% if data.role == "Network operator" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="role-2">
                                Network operator only
                            </label>
                            <div id="role-2-item-hint" class="govuk-hint govuk-radios__hint">
                                Your organisation owns some or all of the assets on the heat network (for example the pipework, heat exchangers, substations or energy centres) or it has significant control over them. It has the ultimate decision-making authority to invest in the network, make upgrades and direct repairs and maintenance to support its continued operation.
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="role-3" name="role" type="radio" value="Both" aria-describedby="role-3-item-hint" {% if data.role == "Both" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="role-3">
                                Both of these activities
                            </label>
                        </div>
                        <div class="govuk-radios__divider">or</div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="role-4" name="role" type="radio" value="Neither" aria-describedby="role-3-item-hint" {% if data.role == "neither" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="role-4">
                                Neither of these activities
                            </label>
                        </div>

                    </div>


                </fieldset>


            </div>
            {{
                govukButton ({
                    html: 'Continue'
                })
            }}


        </form>
        <p class="govuk-body"><a href="cancel" class="govuk-link govuk-link--no-visited-state">Cancel</a></p>
    </div>

</div>

{% endblock %}