{% extends 'layouts/main.html' %}
{% set cdnumber = "054" %}

{% set title %}
Organisation details
{% endset %}
{% set _inError = data.validationError == "true"  %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

        {% include data.version + "/_partials/logout.html" %}

        <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="../account-information">Home</a>
            </li>

          </ol>
        </div>
  
    </div>

</div>

{% endblock %}

{% block content %}

{% if data.orgdetailsnotification %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      {% if data.orgdetailsnotification == 'submitted' %}
      Organisation details for {% if data.companyname %}{{data.companyname}}{% else %}Radienteco Ltd{% endif %} have been saved
      {% endif %}
    </h3>
  </div>
</div>
</div>
</div>
{% endif %}




<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
       
        <span class="govuk-caption-l">{% if data.companyname %}
          {{data.companyname}}
          {% else %}
          Radienteco Ltd
          {% endif %}</span>

            <h1 class="govuk-heading-l">{{title}}</h1>
            <dl class="govuk-summary-list govuk-!-margin-bottom-3">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Name
                </dt>
                <dd class="govuk-summary-list__value">
                  {% if data.companyname %}
                  {{data.companyname}}
                  {% else %}
                  Radienteco Ltd
                  {% endif %}
                </dd>
              </div>
              {% if data.companynumber %}

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                 Company number
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data.companynumber}}

                </dd>

              </div>
              {% endif %}

              {% if data.accounttype == "UK company registered with Companies House" %}
              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Company number
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {% if data.companynumber %}
                    {{data.companynumber}}
                    {% else %}
                    1241241
                    {% endif %}
                    
                  </dd>
                </div>
                {% endif %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
                {% if data.orgaddressSelect %} 
                {% set address = data.orgaddressSelect.toString() %}
                {{address | replace(", , ", ",<br />") | replace(", ", ",<br />") | safe}}
                {% else %}
                19 Grosvenor Road <br />
                Solihull <br />
                B91 3PU
                {% endif %} 
            </dd>
          </div>

          {% if data.organisationdetails == "Submitted" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Alternative email address
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data.orghasemailaddress == "Yes" %}{{data.orgemailaddress}}{% else %} {{data.orghasemailaddress}}{% endif %}
            </dd>

          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              For profit organisation?
            </dt>
            <dd class="govuk-summary-list__value">
              {{data.orgprofit}}
            </dd>

          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation description
            </dt>
            <dd class="govuk-summary-list__value">
              {{data.orgsubtype}}
            </dd>

          </div>

          {% if data.orgsocialhousing %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Subject to social housing regulations?
            </dt>
            <dd class="govuk-summary-list__value">
              {{data.orgsocialhousing}}
            </dd>

          </div>
          {% endif %}

          {% if (data.orgprofit == "Yes") or (data.orgsubtype == "Resident-owned property management company") or (data.orgsocialhousing == "No") %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Start and end dates of accounting period
            </dt>
            <dd class="govuk-summary-list__value">
              Start: {{data.orgfinancialstartday}}/{{data.orgfinancialstartmonth}}<br />
              End: {{data.orgfinancialendday}}/{{data.orgfinancialendmonth}}

            </dd>

          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Accounts for most recent accounting period?
            </dt>
            <dd class="govuk-summary-list__value">
              {{data.orgaccounts}}
            </dd>

          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Reasonably expect to carry on heat network activity for 12 months?
            </dt>
            <dd class="govuk-summary-list__value">
              {{data.orgsolvent}}
            </dd>

          </div>

          {% if data.orgaccounts == "Yes" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Net profit or loss for the most recent financial year
            </dt>
            <dd class="govuk-summary-list__value">
              £{{data.financialprofit}}
            </dd>

          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total value of liquid assets
            </dt>
            <dd class="govuk-summary-list__value">
              £{{data.financialliquid}}
            </dd>

          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Assets exceed liabilities?
            </dt>
            <dd class="govuk-summary-list__value">
              {{data.financialexceed}}
            </dd>

          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total running costs for the previous financial year
            </dt>
            <dd class="govuk-summary-list__value">
              £{{data.financialcosts}}
            </dd>

          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Average monthly fixed costs for heat networks
            </dt>
            <dd class="govuk-summary-list__value">
              £{{data.financialmonthly}}
            </dd>

          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Average monthly gross income from heat networks 
            </dt>
            <dd class="govuk-summary-list__value">
              £{{data.financialincome}}
            </dd>

          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Hedge gas or electricity requirements?
            </dt>
            <dd class="govuk-summary-list__value">
              {{data.financialhedged}}
            </dd>

          </div>
            {% if data.financialhedged == "Yes" %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                How long energy requirements hedged for
              </dt>
              <dd class="govuk-summary-list__value">
                {{data.financiallength}} months
              </dd>

            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Percentage of costs that are hedged
              </dt>
              <dd class="govuk-summary-list__value">
                {{data.financialpercentage}}%
              </dd>

            </div>


            {% endif %}
          {% endif %}
          {% endif %}

          {% if data.orgstructure %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation structure
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data.orgstructure != "Neither of these" %}
              {{data.orgstructure}}
              {% else %}
             No parent company
              {% endif %}
            </dd>

          </div>
          {% if data.orgstructure != "Neither of these" %}

          {% set parents = [] %}

          {% for i in range(1, data.parentsentered) %}
              {% set parents = parents.concat([{
                  "id": i,
                  "name": data["parentcompanyname" ~ i],
                  "address": data["parentorgaddressSelect" ~ i],
                  "added" : data["parentorgadded" ~ i]
              }]) %}
          {% endfor %}
          
        {% for parent in parents %}
        {% if (parent.id <= data.parentsentered) and parent.name and parent.added == "Yes" %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Parent organisation {{parent.id}}
          </dt>
          <dd class="govuk-summary-list__value">
            {{parent.name}}<br />
            {% set parentaddress = parent.address.toString() %}
            {{parentaddress | replace(", , ", ",<br />") | replace(", ", ",<br />") | safe}}

          </dd>

        </div>
        {% endif %}
        {% endfor %}

          {% endif %}
          {% endif %}

        </dl>

            
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item">
                <a href="cya" class="govuk-link govuk-link--no-visited-state">Edit organisation details</a>
              </li>
            </ul>
                      {% else %}
            </dl>
            <p class="govuk-body">We need a bit more information about your organisation before you can start providing heat network information.</p>
            <a href="intro" class="govuk-button">Add further information</a>

              {% endif %}

    </div>

</div>

{% endblock %}