{% extends 'layouts/main.html' %}

{% block pageTitle %}
    Check your answers from this section
{% endblock %}

{% block beforeContent %}

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">

            {{ super() }}

            

        </div>

    </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="../tasklist">

                <h1 class="govuk-heading-l">Check your answers from this section</h1>

                <h2 class="govuk-heading-m">
                    Buildings and consumers
                </h2>

                {{ govukSummaryList ({
                    rows: [
                        {
                            key: {
                                text: 'Type of consumers'
                            },
                            value: {
                                text: data['type']
                            },
                            actions: {
                                items: [
                                    {
                                        text: 'Change',
                                        href: 'type',
                                        visuallyHiddenText: ' type of consumers the heat network supplies'
                                    }
                                ]
                            }
                        },
                        {
                            key: {
                                text: 'Domestic consumers'
                            },
                            value: {
                                text: data['communal-domestic-consumers']
                            },
                            actions: {
                                items: [
                                    {
                                        text: 'Change',
                                        href: 'domestic',
                                        visuallyHiddenText: ' number of domestic consumers'
                                    }
                                ]
                            }
                        },
                        {
                            key: {
                                text: 'Commercial consumers'
                            },
                            value: {
                                text: data['communal-commercial-consumers']
                            },
                            actions: {
                                items: [
                                    {
                                        text: 'Change',
                                        href: 'commercial',
                                        visuallyHiddenText: ' number of commercial consumers'
                                    }
                                ]
                            }
                        }
                    }
                }) }}

                

                <input type="hidden" name="section-hn-intro" value="complete">                 

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}