{% extends 'layouts/main.html' %}

{% block pageTitle %}
    What type of consumers does the heat network supply?
{% endblock %}

{% block beforeContent %}

    <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">

                {{ super() }}

                {{ govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                }) }}

            </div>

    </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="cooling-capacity">

                {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

                {{ govukCheckboxes({
                  name: "type",
                  fieldset: {
                    legend: {
                      text: "What type of consumers does the heat network supply?",
                      isPageHeading: true,
                      classes: "govuk-fieldset__legend--l"
                    }
                  },
                  hint: {
                    text: "Select all that apply."
                  },
                  items: [
                    {
                      value: "Domestic",
                      text: "Domestic",
                      checked: true if data['type'] == 'Domestic'
                    },
                    {
                      value: "Commercial",
                      text: "Commercial",
                      checked: true if data['type'] == 'Commercial'
                    }
                  ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

                <br>

                {{ govukButton ({
                    html: 'Save and return later',
                    classes: 'govuk-button--secondary',
                    href: '#'
                }) }}

            </form>

        </div>

</div>

{% endblock %}