{% extends 'layouts/main.html' %}
{% set title = "Check your answers" %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Add a person with SMRI</span>
      <h1 class="govuk-heading-l">
            {{title}}
        </h1>


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Full name
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data.smrifirstname}} {{data.smrilastname}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="name">Change</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data.smridobday}} {{data.smridobmonth}} {{data.smridobyear}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="dob">Change</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Role
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data.smrirole}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="role">Change</a>
                </dd>
            </div>

        </dl>
        <form method="POST" novalidate>
            {{
                govukButton ({
                    html: 'Save and continue'
                })
            }}
        </form>


    </div>

</div>

{% endblock %}