{% extends 'layouts/main.html' %}

{% set title = "People with significant managerial responsibility or influence (SMRI)" %}

{% set _inError = data.validationError == "true"  %}
{% set company %}{% if data.companyname %}{{data.companyname}}{% else %}Radienteco Ltd{% endif %}{% endset %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
            govukBackLink ({
                text: 'Back',
                href: 'javascript:history.back()'
            })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        {% if data.buildinglocationAddress %}
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Success
              </h2>
            </div>
            <div class="govuk-notification-banner__content">
              <h3 class="govuk-notification-banner__heading">
                You've added information about building 1
              </h3>
            </div>
          </div>
        {% endif %}

        <span class="govuk-caption-l">{{company}}</span>
  
              <h1 class="govuk-heading-l">{{title}}</h1>
        <p class="govuk-body">You must submit a fit and proper declaration on behalf of each person at {{company}} who has SMRI. </p>
        <p class="govuk-body">
            No one at {{company}} will be able to send heat network information to us until you've done this.
        </p>
        <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Help with SMRI
              </span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body">A person with SMRI is someone who plays a role in either:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>the making of decisions about how the whole, or a substantial part, of {{company}} is to be managed or organised</li>
                    <li>the actual managing or organising of the whole, or a substantial part of, {{compamy}}’s activities</li>
                    </ul>
                
            </div>
          </details>


          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                What questions are asked as part of the declaration?
              </span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body">You should circulate these questions to all anyone with SMRI so they can provide their response:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Has the person with SMRI been responsible for, contributed to or facilitated any serious misconduct or mismanagement while carrying out a regulated activity?
                    </li>
                    <li>Does the person with SMRI have any relevant unspent criminal convictions in any jurisdiction, in particular fraud or money laundering?
                    </li>
                    <li>Does the person with SMRI have any insolvency history, including undischarged bankruptcy, debt judgements and county court judgements?
                    </li>
                    <li>Has the person with SMRI ever been disqualified from acting as a director of a company?
                    </li>
                    <li>Has the person with SMRI ever been a person with SMRI at a heat network supplier that received a Last Resort Supply Direction from Ofgem?
                    </li>
                    <li>Has the person with SMRI ever been a person with SMRI at a heat network supplier or operator that received a Special Administration Order from Ofgem?
                    </li>
                    <li>Has the person with SMRI been a relevant person regarding premises to which an appropriate tribunal has appointed a manager under section 24 or 24ZA of the Landlord and Tenant Act 1987?
                    </li>
                    <li>Has the person with SMRI been identified on a database of rogue landlords and property agents?
                    </li>
                    <li>Has the person with SMRI owned or managed premises that have been the subject of a Relevant Order under the Housing Act 2004?
                    </li>
                    <li>Has the person with SMRI been refused, had revoked, restricted or terminated any form of authorisation?
                    </li>
                    <li>Has the person with SMRI had any disciplinary, compliance, enforcement or regulatory actions taken by any regulatory body in any jurisdiction? </li>
                </ul>
                
            </div>
          </details>
        </div>
    </div>
    <div class="govuk-grid-row">

    {% set smris = [] %}

    {% for i in range(1, 100) %}
        {% set smris = smris.concat([{
            "added": data["addedsmri" ~ i],
            "firstname": data["smrifirstname" ~ i],
            "lastname": data["smrilastname" ~ i],
            "dob": data["smridobday" ~ i] + " " +  data["smridobmonth" ~ i] + " " +  data["smridobyear" ~ i] ,
            "id": i,
            "role": data["smrirole" ~ i],
            "thirdparty": data["smrithirdparty" ~ i],
            "orgname": data["smriorgname" ~ i]
        }]) %}
    {% endfor %}
    {% set smriCount = 0 %}
    {% for smri in smris %}
    {% if smri.added == "true" %}
    {% set smriCount = smriCount + 1 %}
    {% endif %}
    {% endfor %}
    {% if smriCount > 0 %}
    <div class="govuk-grid-column-full">

        <div class="govuk-form-group {% if data.validationErrors.communalinfo %}govuk-form-group--error{% endif %}">
            {% if data.validationErrors.communalinfo %}
            <p class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span>
                {{data.validationErrors.communalinfo.message}}
            </p>
            {% endif %}



            <table class="govuk-table" id="communalinfo">
                <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">People with significant managerial responsibility or influence</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Name</th>
                        <th scope="col" class="govuk-table__header">Date of birth</th>
                        <th scope="col" class="govuk-table__header"></th>
                    </tr>

                </thead>
                <tbody class="govuk-table__body">

    
                    

                  {% for smri in smris %}

                  {% if smri.added == "true" %}
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">{{smri.firstname}} {{smri.lastname}}</td>
                          <td class="govuk-table__cell">{{smri.dob}}</td>
                          <td class="govuk-table__cell govuk-table__cell--numeric">
                              <a href="cya?id={{ smri.id }}" class="govuk-link govuk-link--no-visited-state govuk-!-margin-right-2">Edit <span class="govuk-visually-hidden">{{smri.firstname}} {{smri.lastname}}</span></a>
                              <a href="remove?id={{ smri.id }}" class="govuk-link link-red govuk-link--no-visited-state">Remove <span class="govuk-visually-hidden">{{smri.firstname}} {{smri.lastname}}</span></a>
                          </td>
                      </tr>
                  {% endif %}

              {% endfor %}


                  </tbody>
    </table>



        </div>

    </div>
    {% endif %}
    <div class="govuk-grid-column-two-thirds">

        {% if smriCount > 0 %}
        <div class="govuk-button-group">
        <a href="personal" class="govuk-button govuk-button--secondary">Add a person with SMRI</a>
        <a href="declaration" class="govuk-button">Submit all completed declarations</a>

            </div>
        {% else %}
        <a href="personal" class="govuk-button">Add a person with SMRI</a>

        {% endif %}
    </div>

</div>

{% endblock %}