{% extends 'layouts/main.html' %}
{% set company %}
{% if data.companyname %}
{{data.companyname}}
{% else %}
Radienteco Ltd
{% endif %}
{% endset %}
{% set title %}
Are you sure you wish to remove {{data.smrifirstname}} {{data.smrilastname}} as a person with SMRI for {{company}}?
{% endset %}
{% set _inError = data.validationError == "true"  %}

{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">


    {{
    govukBackLink ({
    text: 'Back',
    href: 'javascript:history.back()'
    })
    }}
    {% include data.version + "/_partials/headerlinks.html" %}

  </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if _inError %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                {% for name, item in data.validationErrors %}
                <li>
                    <a href="#{{item.anchor}}">{{item.message}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    <form  method="POST" novalidate>

        
    <span class="govuk-caption-l">Add a person with relevant managerial responsibility or influence</span>

    <label for="smriremove">

    <h1 class="govuk-heading-l">
      {{title}}
    </h1>
  </label>
  <div class="govuk-form-group {% if data.validationErrors.smriremove %}govuk-form-group--error{% endif %}">

        {% if data.validationErrors.smriremove %}
        <p class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            {{data.validationErrors.smriremove.message}}
        </p>
        {% endif %}


        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="smriremove" name="smriremove" type="radio" value="Yes" {% if data.smriremove == "Yes" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="smriremove">
                  Yes
              </label>
          </div>
          <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="smriremove-2" name="smriremove" type="radio" value="No" {% if data.smriremove == "No" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="smriremove-2">
                  No
              </label>
          </div>
      </div>

      </div>



      <div class="govuk-button-group">
        {{
          govukButton ({
              html: 'Continue'
          })
        }}
      </div>
</form>

</div>

{% endblock %}