{% extends 'layouts/main.html' %}
{% set title = "Confirm this network's consumer protections" %}
{% set _inError = data.validationError == "true"  %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        <form method="POST" novalidate>

            <div class="govuk-form-group {% if data.validationErrors.protection %}govuk-form-group--error{% endif %}">

                <fieldset class="govuk-fieldset">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">Add a heat network - consumer protections</span>
                        <h1 class="govuk-fieldset__heading">
                            {{title}}
                        </h1>

                    </legend>
                    <p class="govuk-body">Tick to confirm:</p>

                    {% if data.validationErrors.protections %}
                    <p class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{data.validationErrors.protection.message}}
                    </p>
                    {% endif %}

                    <div class="govuk-checkboxes govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="protection" name="protection" type="checkbox" value="There is a procedure in place for domestic consumers and microbusinesses to raise a complaint." aria-describedby="protection-hint" {% for protection in data.protection %}{% if protection=='There is a procedure in place for domestic consumers and microbusinesses to raise a complaint.' %}checked{% endif %}{% endfor %}>
                            <label class="govuk-label govuk-checkboxes__label" for="protection">
                                There is a procedure in place for domestic consumers and microbusinesses to raise a complaint.
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="protection2" name="protection2" type="checkbox" value="There is a procedure in place to identify and support vulnerable domestic consumers." aria-describedby="protection2-hint" {% for protection2 in data.protection2 %}{% if protection2=='There is a procedure in place to identify and support vulnerable domestic consumers.' %}checked{% endif %}{% endfor %}>
                            <label class="govuk-label govuk-checkboxes__label" for="protection2">
                                There is a procedure in place to identify and support vulnerable domestic consumers.
                            </label>
                            <div id="protection2-hint" class="govuk-hint govuk-checkboxes__hint">
                                Vulnerable consumers are either significantly less able to protect or represent the ir interests, or are more likely to suffer 'detriment' due to personal characteristics or their situation.
                            </div>
                        </div>
                        <div class="govuk-radios__divider">or</div>

                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="protection3" name="protection3" type="checkbox" value="These procedures are not yet in place, but will be available by 1 April 2026" aria-describedby="protection3-hint" {% for protection3 in data.protection3 %}{% if protection3=='These procedures are not yet in place, but will be available by 1 April 2026' %}checked{% endif %}{% endfor %}>
                            <label class="govuk-label govuk-checkboxes__label" for="protection3">
                                These procedures are not yet in place, but will be available by 1 April 2026
                            </label>
                        </div>
                    </div>

                </fieldset>


            </div>
                        <input type="hidden" id="protectionscomplete" name="protectionscomplete" value="true" />

            {{
                govukButton ({
                    html: 'Save and continue'
                })
            }}
        </form>
        <a href="cancel" class="govuk-link">Cancel</a>
    </div>

</div>

{% endblock %}