{% extends 'layouts/main.html' %}
{% set title = "Check your answers" %}
{% set cdnumber = "XXX" %}
{% set _inError = data.validationError == "true"  %}

{% set company %}
{% if data.companyname %}
{{data.companyname}}
{% else %}
Radienteco Ltd
{% endif %}
{% endset %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        {% include data.version + "/_partials/logout.html" %}

        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Quarterly monitoring - pricing</span>
        <h1 class="govuk-heading-l">
            {{title}}
        </h1>


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Do you have the information you’ll need
                </dt>
                <dd class="govuk-summary-list__value">
                    
                    {{data.mqpricingnitial}}{% if data.mqpricingnitial == "No" %}<br />
                    {{data.mqpricingnitialtotal}} 
                    {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="initial">Change</a>
                </dd>
             </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Number of domestic customers
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if data.mqcustomersdomestic == "Yes" %}{{data.mqcustomersdomestictotal}}{% else %}0{% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="domestic">Change</a>
                </dd>
            </div>
            {% if data.mqcustomersdomestic == "Yes" %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Domestic customers in debt
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if data.mqcustomersdebt == "Yes" %}{{data.mqcustomersdebttotal}}{% else %}0{% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="debt">Change</a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Domestic customers who self-disconnected
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if data.mqcustomersdisconnect == "Yes" %}{{data.mqcustomersdisconnecttotal}}{% else %}0{% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="disconnections">Change</a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Domestic customers disconnected for not paying their bills
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if data.mqcustomersdisconnected == "Yes" %}{{data.mqcustomersdisconnectedtotal}}{% else %}0{% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="disconnected">Change</a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Domestic customers on a repayment plan
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if data.mqcustomersrepayment == "Yes" %}{{data.mqcustomersrepaymenttotal}}{% else %}0{% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="repayment">Change</a>
                </dd>
            </div>

                     <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Domestic customers who were reconnected
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if data.mqcustomersreconnect == "Yes" %}{{data.mqcustomersreconnecttotal}}{% else %}0{% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="reconnections">Change</a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Domestic customers' meters switched to prepayment meters
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if data.mqcustomersprepayment == "Yes" %}{{data.mqcustomersprepaymenttotal}}{% else %}0{% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="reconnections">Change</a>
                </dd>
            </div>


            {% endif %}

        </dl>
        <form method="POST" novalidate>
            <input type="hidden" id="mqpricingcomplete" name="mqpricingcomplete" value="true" />
            <input type="hidden" id="mqstatus" name="mqstatus" value="In progress" />
            <div class="govuk-button-group">
            {{
                govukButton ({
                    html: 'Save and continue'
                })
            }}
                <a href="/{{data.version}}/monitoring/quarterly-data/pricing/cancel?v={{data.lastpage}}" class="govuk-link">Cancel</a>

        </div>
        </form>



    </div>

</div>

{% endblock %}