{% extends 'layouts/main.html' %}
{% set cdnumber = "XXX" %}

{% set title %} 
Does this tariff use a flat fee based charging format?
{% endset %}
{% set _inError = data.validationError == "true"  %}

{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        {% include data.version + "/_partials/logout.html" %}

        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" mqflatFees="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <form method="POST" novalidate>

            <div class="govuk-form-group {% if data.validationErrors.mqflatFees %}govuk-form-group--error{% endif %}">

                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">Quarterly monitoring - pricing</span>
                        <h1 class="govuk-fieldset__heading">
                            {{title}}
                        </h1>

                    </legend>
                    <p class="govuk-body">
                         A flat fee is the amount charged per day, regardless of the amount of heat used. This is more likely to be applicable to a shared ground loop or unmetered networks. All levels of flat fees within a heat network should be reported as £ per day 
                    </p>
                    <div class="govuk-inset-text">
                        You're submitting quarterly monitoring data for <strong>Seaton city centre</strong>, covering <strong>1 April to 30 June 2026 </strong> period.
                    </div>
                    {% if data.validationErrors.mqflatFees %}
                    <p class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{data.validationErrors.mqflatFees.message}}
                    </p>
                    {% endif %}





                    <div class="govuk-radios" data-module="govuk-radios">

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="mqflatFees-yes" name="mqflatFees" type="radio" value="Yes" data-aria-controls="mqflatFees-conditional" {% if data.mqflatFees == "Yes" %}checked{% endif %} >
                            <label class="govuk-label govuk-radios__label" for="mqflatFees-yes">
                                Yes
                            </label>
                        </div>
                         <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="mqflatFees-conditional" >
                            <div class="govuk-form-group {% if data.validationErrors.mqflatFeestotal %}govuk-form-group--error{% endif %}">

                              {% if data.validationErrors.mqflatFeestotal %}
                              <p class="govuk-error-message">
                                  <span class="govuk-visually-hidden">Error:</span>
                                  {{data.validationErrors.mqflatFeestotal.message}}
                              </p>
                              {% endif %}
                              <div class="govuk-hint" id="flatFee-hint" >
                                        For example, 1.04 or 0.69
                              </div>
                              <label class="govuk-label" for="mqflatFeestotal">
                                Tariff flat fee
                              </label>
                              <div class="govuk-input__wrapper">
                              <div class="govuk-input__prefix" aria-hidden="true">£</div>
                                <input class="govuk-input govuk-!-width-one-third" id="mqflatFeestotal" name="mqflatFeestotal" type="text" value="{{data.mqflatFeestotal}}">
                              <div class="govuk-input__suffix" aria-hidden="true">per day</div>
                            </div>
                            </div>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="mqflatFees-no" name="mqflatFees" type="radio" value="No" {% if data.mqflatFees == "No" %}checked{% endif %} >
                            <label class="govuk-label govuk-radios__label" for="mqflatFees-no">
                                No
                            </label>
                        </div>

                    </div>


                </fieldset>


            </div>
             <div class="govuk-button-group">
                {{
                    govukButton ({
                        html: 'Continue'
                    })
                }}
                <a href="/{{data.version}}/monitoring/quarterly-data/pricing/cancel?v={{data.lastpage}}" class="govuk-link">Cancel</a>
            </div>
        </form>

    </div>

</div>

{% endblock %}