{% extends 'layouts/main.html' %}
{% set cdnumber = "XXX" %}

{% set title %}
What is the unit rate and standing charge for this tariff?
{% endset %}
{% set _inError = data.validationError == "true"  %}

{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        {% include data.version + "/_partials/logout.html" %}

        {{
            govukBackLink ({
                text: 'Back',
                href: 'javascript:history.back()'
            })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" mqmultipleTariffs="alert"
            data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <form method="POST" novalidate>

            <div
                class="govuk-form-group {% if data.validationErrors.mqmultipleTariffs %}govuk-form-group--error{% endif %}">

                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">Quarterly monitoring - pricing</span>
                        <h1 class="govuk-fieldset__heading">
                            {{title}}
                        </h1>

                    </legend>
                    <p class="govuk-body">
                        A unit rate is the rate charged per unit of heat used. A standing charge is a fixed charge that does not change with heat usage.
                    </p>
                    <div class="govuk-inset-text">
                        You're submitting quarterly monitoring data for <strong>Seaton city centre</strong>, covering
                        <strong>1 April to 30 June 2026 </strong> period.
                    </div>
                    {% if data.validationErrors.mqmultipleTariffs %}
                    <p class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{data.validationErrors.mqmultipleTariffs.message}}
                    </p>
                    {% endif %}


                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-input__label" for="techcapacity">
                            Unit rate, per kilowatt hour
                        </label>
                        <div class="govuk-input__wrapper">
                            <div class="govuk-input__prefix" aria-hidden="true">£</div>
                            <input
                                class="govuk-input govuk-input--width-5 {% if data.validationErrors.mqUnitRate %}govuk-input--error{% endif %}"
                                id="mqUnitRate" name="mqUnitRate" type="number">
                            <div class="govuk-input__suffix" aria-hidden="true">per kWh</div>
                        </div>
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-input__label" for="techcapacity">
                            Standing charge, per day
                        </label>
                        <div class="govuk-input__wrapper">
                            <div class="govuk-input__prefix" aria-hidden="true">£</div>
                            <input
                                class="govuk-input govuk-input--width-5 {% if data.validationErrors.mqStandingCharge %}govuk-input--error{% endif %}"
                                id="mqStandingCharge" name="mqStandingCharge" type="number"
                               >
                            <div class="govuk-input__suffix" aria-hidden="true">per day</div>
                        </div>
                    </div>

                </fieldset>


            </div>
            <div class="govuk-button-group">
                {{
                    govukButton ({
                        html: 'Continue'
                    })
                }}
                <a href="/{{data.version}}/monitoring/quarterly-data/pricing/cancel?v={{data.lastpage}}"
                    class="govuk-link">Cancel</a>
            </div>
        </form>

    </div>

</div>

{% endblock %}