{% extends 'layouts/main.html' %}
{% set cdnumber = "081" %}

{% set title %}
Would you like to add a tariff?
{% endset %}
{% set _inError = data.validationError == "true"  %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

        {% include data.version + "/_partials/headerlinks.html" %}
        {{
            govukBackLink ({
                text: 'Back',
                href: 'javascript:history.back()'
            })
        }}
    </div>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        <span class="govuk-caption-l">Add further tariffs</span>
        <h1 class="govuk-heading-l">
            {{title}}
        </h1>

        {% if data.validationErrors.orgparentanother %}
        <p class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            {{data.validationErrors.orgparentanother.message}}
        </p>
        {% endif %}

        {% if data.tariffsEntered.length > 0 %}
        <div class="govuk-inset-text">
            You're submitting quarterly monitoring data for <strong>Seaton city centre</strong>, covering
            <strong>1 April to 30 June 2026 </strong> period.
        </div>

        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Added Rates</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Name</th>
                    <th scope="col" class="govuk-table__header">Type</th>
                    <th scope="col" class="govuk-table__header">Cost</th>
                    <th scope="col" class="govuk-table__header"></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for tariff in data.tariffsEntered %}
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Tariff {{loop.index}}</th>

                    {% if tariff.mqflatFees == "Yes" %}
                    <td class="govuk-table__cell">Flat Fee</td>
                    <td class="govuk-table__cell">£{{tariff.mqflatFeestotal}}</td>
                    {% else %}
                    <td class="govuk-table__cell">
                        Unit Rate<br>Standing Charge
                    </td>
                    <td class="govuk-table__cell">
                        £{{tariff.mqUnitRate}} per kWh<br>£{{tariff.mqStandingCharge}} per day
                    </td>
                    {% endif %}


                    <td class="govuk-table__cell">
                        <form action="remove-tariff" method="post" novalidate>
                            <input type="hidden" name="tariffId" value="{{loop.index}}">

                            <button type="submit"
                                class="button-as-link govuk-link govuk-link--no-visited-state text-red">
                                Remove
                            </button>

                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <form method="post" novalidate>
            <div
                class="govuk-form-group {% if data.validationErrors.mqtariffAddAnother %}govuk-form-group--error{% endif %}">
                <h2 class="govuk-heading-m">Would you like to add another tariff?</h2>

                {% if data.validationErrors.mqtariffAddAnother %}
                <p class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    {{data.validationErrors.mqtariffAddAnother.message}}
                </p>
                {% endif %}

                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="mqtariffAddAnother-yes" name="mqtariffAddAnother"
                            type="radio" value="Yes" data-aria-controls="mqtariffAddAnother-conditional">
                        <label class="govuk-label govuk-radios__label" for="mqtariffAddAnother-yes">
                            Yes
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="mqtariffAddAnother-no" name="mqtariffAddAnother"
                            type="radio" value="No">
                        <label class="govuk-label govuk-radios__label" for="mqtariffAddAnother-no">
                            No
                        </label>
                    </div>
                </div>
            </div>
            {{ govukButton({ html: 'Continue' }) }}
        </form>

        {% else %}
        <p class="govuk-body">You told us that your organisation has multiple tariffs on this heat network, but have not
            added any yet. You must add at least 2.</p>
        <div class="govuk-inset-text">
            You're submitting quarterly monitoring data for <strong>Seaton city centre</strong>, covering
            <strong>1 April to 30 June 2026 </strong> period.
        </div>
        <p class="govuk-body"><a class="govuk-button" href="flat-fee">Add a tariff</a></p>
        {% endif %}

    </div>
</div>

{% endblock %}