{% extends 'layouts/main.html' %}
{% set title = "Check your answers" %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% set cdnumber = "294" %}



{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        {% include data.version + "/_partials/logout.html" %}

        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Add a heat network - technical information</span>
        <h1 class="govuk-heading-l">
            {{title}} 
        </h1>


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            {% if data.introcommunal != "Yes" %}  
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {% if (data.energycentres > 1) %}
                        Does the primary energy centre have a postcode?
                        {% elif data.energycentres == 0 %} 
                        Does the main plot connection point for this heat network have a postcode?
                        {% else %}
                        Does the energy centre have a postcode?
                        {% endif %}                    
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{data.ecaddressHasPostcode}}

                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="addresspostcode">Change </a>
                    </dd>
                </div>
                {% if data.ecaddressHasPostcode == "Yes" %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {% if (data.energycentres > 1) %}
                        Primary energy centre address
                        {% elif data.energycentres == 0 %} 
                        Plot connection point address
                        {% else %}
                       Energy centre address
                        {% endif %}                         
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% set address = data.ecaddressSelected.toString() %}
                        {{address | replace(", , ", ",<br />") | replace(", ", ",<br />") | safe}}

                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="address">Change </a>
                    </dd>
                </div>
                {% else %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {% if (data.energycentres > 1) %}
                        Primary energy centre grid coordinates
                        {% elif data.energycentres == 0 %} 
                        Plot connection point grid coordinates
                        {% else %}
                       Energy centre grid coordinates
                        {% endif %}  
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body"><strong>Latitude:</strong> {{data.ecaddresslatitude}}<br />
                            <strong>Longitude:</strong> {{data.ecaddresslongitude}}</p>

                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="addresscoords">Change</a>
                    </dd>
                </div>
                {% endif %}
            {% endif %}
            {% if data.energycentres >= 1 %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                   Which types of heating, cooling or hot water does the energy centre supply to customers?
                </dt>
                <dd class="govuk-summary-list__value">
                    <p class="govuk-body">{% if data.energytype %}{% for type in data.energytype %}{{type}} <br /> {% endfor %} {% endif %}</p>

                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="type">Change </a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
What is the combined heating and hot water capacity of the energy centre?
                </dt>
                <dd class="govuk-summary-list__value">
                    <p class="govuk-body">{{data.techcapacity}} kW</p>

                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="capacity">Change </a>
                </dd>
            </div>
            {% for energytype in data.energytype %}{% if energytype=='Cooling' %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    What is the cooling capacity of the energy centre?
                </dt>
                <dd class="govuk-summary-list__value">
                    <p class="govuk-body">{{data.techcapacity}} kW</p>

                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="coolingcapacity">Change </a>
                </dd>
            </div>
            {% endif %}{% endfor %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Which technology provides the largest proportion of the heat energy in the energy centre?
                </dt>
                <dd class="govuk-summary-list__value">
                    <p class="govuk-body">{{data.techtechnology}}</p>

                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="technology">Change </a>
                </dd>
            </div>
            {% endif %}









        </dl>
        <form method="POST" novalidate>
            <input type="hidden" id="eccomplete" name="eccomplete" value="true" />
            <input type="hidden" id="HNStatus" name="HNStatus" value="In progress" />
            
            <div class="govuk-button-group">
                {{
                    govukButton ({
                        html: 'Save and continue'
                    })
                }}
                <a href="/{{data.version}}/add-heat-network/energycentre/cancel?v={{data.lastpage}}" class="govuk-link govuk-link--no-visited-state">Cancel</a>

            </div>
        </form>

    </div>

</div>

{% endblock %}


