{% extends 'layouts/main.html' %}

{% block pageTitle %}
    Do you use an agent to deal with metering and billing?
{% endblock %}

{% block beforeContent %}

    <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">

                {{ super() }}

                {{ govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                }) }}

            </div>

    </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="agent-name">

                {% if data['choose-organisation-role'] == "Third party representative"%}
                <h1 class="govuk-caption-l">Lumosense Energy Limited</h1>
                {% endif %}
                <h1 class="govuk-heading-l">Do you use an agent to deal with metering and billing?</h1>

                {{ govukDetails({
                  summaryText: "Help with 'agent'",
                  text: "A metering and billing agent is a company that acts on your behalf to provide metering and billing services to you and generally manages contact with end users for you."
                }) }}            

                {{ govukRadios ({
                    idPrefix: 'agent',
                    name: 'agent',
                    fieldset: {
                        legend: {
                            text: '',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    hint: {
                        text: ''
                    },
                    items: [
                      {
                        value: "Yes",
                        text: "Yes",
                        checked: true if data['agent'] == 'Yes'
                      },
                      {
                        value: "No",
                        text: "No",
                        checked: true if data['agent'] == 'No'
                      }
                    ]
                }) }}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

                <br>

        <a href="../tasklist" class="govuk-link">Cancel</a>


            </form>

        </div>

</div>

{% endblock %}