{% extends 'layouts/main.html' %}

{% block pageTitle %}
    How many building level meters are on the heat network?
{% endblock %}

{% block beforeContent %}

{% if not data['meter-type'] | includes('Building level meters') %}
    {{ 'consumer' | redirect | safe }}
{% endif %}

    <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">

                {{ super() }}

                {{ govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                }) }}

            </div>

    </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="consumer">

                

                
                {% if data['choose-organisation-role'] == "Third party representative"%}
                <h1 class="govuk-caption-l">Lumosense Energy Limited</h1>
                {% endif %}
                

                

                {{ govukInput({
                label: {
                  text: "How many building level meters are on the heat network?",
                  classes: "govuk-label--l",
                  isPageHeading: true
                },
                classes: "govuk-input--width-10",
                hint: {
                  text: "Building level meters are meters that are used to measure the use of a single building on a heat network. They are not used to measure or bill consumers' use."
                },
                id: "level-meters",
                name: "level-meters",
                inputmode: "numeric",
                value: data['level-meters'] if data['level-meters'] else '',
                spellcheck: false
              }) }}

                {{ govukButton({
                text: "Continue"
                }) }}

                <br>

        <a href="../tasklist" class="govuk-link">Cancel</a>

                

            </form>

        </div>

</div>

{% endblock %}