{% extends 'layouts/main.html' %}

{% block pageTitle %}
    Assigning a supplier and operator
{% endblock %}

{% block beforeContent %}

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">

            {{ super() }}

            {{ govukBackLink ({
                text: 'Back',
                href: 'javascript:history.back()'
            }) }}

        </div>

    </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="supplier-type">

                <h1 class="govuk-heading-l">Assigning a supplier and operator</h1>

                <p>
                     To comply with heat network regulations, each heat network must have an operator and a supplier.
                </p>

                <p>
                    These roles might not exist at the moment, so assign the person or organisation best suited to each role. The supplier and operator can be the same person or organisation.
                </p>

                <h2 class="govuk-heading-m">
                    Supplier
                </h2>

                <p>
                    Suppliers are responsible for supplying heat to end users. They also have overall responsibility for billing customers, even if they outsource this to an agent.
                </p>

                <h2 class="govuk-heading-m">
                    Operator
                </h2>

                <p>
                    Operators are responsible for the maintenance of the heat network and its infrastructure.
                </p>

                <p>
                    We recommend assigning someone who already does a similar role. These roles can be done by the same person or company.
                </p>

                <p>
                    <a href="#">
                        Read more about the supplier and operator obligations
                    </a>
                </p>

                {{ govukButton ({
                    html: 'Continue'
                }) }}

                <br>

                {{ govukButton ({
                    html: 'Save and return later',
                    classes: 'govuk-button--secondary',
                    href: '#'
                }) }}

            </form>

        </div>

</div>

{% endblock %}