{% extends 'layouts/main.html' %}

{% block pageTitle %}
    How many industrial buildings does the heat network supply?
{% endblock %}

{% block beforeContent %}

{% if not data['building-type'] | includes('Industrial buildings') %}
    {{ 'building-public' | redirect | safe }}
{% endif %}

    <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">

                {{ super() }}

                {{ govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                }) }}

            </div>

    </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="industrial-consumers">

                

                 <h1 class="govuk-heading-l">How many industrial buildings does the heat network supply?</h1>

                {{ govukDetails({
                  summaryText: "Help with 'industrial buildings'",
                  text: "Enter the total number of buildings currently served by the network that fall into the industrial class. These are typically related to factories or warehouses."
                }) }}

                

                

                {{ govukInput({
                label: {
                  text: "",
                  classes: "govuk-label--l",
                  isPageHeading: true
                },
                classes: "govuk-input--width-10",
                hint: {
                  text: ""
                },
                id: "building-industrial",
                name: "building-industrial",
                inputmode: "numeric",
                value: data['building-industrial'] if data['building-industrial'] else '',
                spellcheck: false
              }) }}

                {{ govukButton({
                text: "Continue"
                }) }}

                <br>

                {{ govukButton ({
                    html: 'Save and return later',
                    classes: 'govuk-button--secondary',
                    href: '#'
                }) }}

                

            </form>

        </div>

</div>

{% endblock %}