{% extends 'layouts/main.html' %}
{% set title %}
{% if (data.energycentres > 1) %}

{% if data.ecaddressHasPostcode == "Yes" %}
Confirm primary energy centre's address
{% else %}
Confirm primary energy centre's coordinates
{% endif %}
{% else %}
{% if data.ecaddressHasPostcode == "Yes" %}
Confirm {{data.energycentretype}} address
{% else %}
Confirm {{data.energycentretype}} coordinates
{% endif %}
{% endif %}
{% endset %}

{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        {% include data.version + "/_partials/logout.html" %}

        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <form method="POST" novalidate>


            <div class="govuk-form-group ">

                <span class="govuk-caption-l">Add a heat network - technical information</span>
                <h1 class="govuk-heading-l">
                            {{title}}
                        </h1>

                        {% if data.ecaddressHasPostcode == "Yes" and data.ecAddress %}
                        <div class="govuk-inset-text">
                            {% set address = data.ecAddress.toString() %}
                            {{address | replace(", , ", ",<br />") | replace(", ", ",<br />") | safe}}
                        </div>
                        {% else %}
                        <p class="govuk-body"><strong>Latitude:</strong> {{data.ecaddresslatitude}}<br />
                            <strong>Longitude:</strong> {{data.ecaddresslongitude}}</p>
                        {% endif %}







            </div>


            <div class="govuk-button-group">
                {% if data.ecaddressHasPostcode == "Yes" %}
                {{
                    govukButton ({
                        html: 'Use this address'
                    })
                }}
    {% else %}
    {{
        govukButton ({
            html: 'Use these coordinates'
        })
    }}
    {% endif %}
    
                <a href="/{{data.version}}/add-heat-network/energycentre/cancel?v={{data.lastpage}}" class="govuk-link govuk-link--no-visited-state">Cancel</a>

            </div>


          
        </form>

    </div>

</div>

{% endblock %}