{% extends 'layouts/main.html' %}
{% set cdnumber = "200" %}

{% set title = "Introduction" %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
            {% include data.version + "/_partials/logout.html" %}


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group ">

                <span class="govuk-caption-l">Add a heat network - technical information</span>
                <h1 class="govuk-heading-l">
                            {{title}}
                        </h1>

                        {% if data.energycentres == 0 %}
                        

                        <p class="govuk-body">We need to know some information about this heat network's main plot connection. </p>
                        <p class="govuk-body">
                            You’ll need to tell us its address or grid coordinates.
                        </p>
  
                        {% else %}
                        <p class="govuk-body">We need to know some information about this heat network's primary energy centre. You’ll need to tell us:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>its address or grid coordinates</li>
    <li>which types of heating, cooling or hot water it supplies to customers</li>
    <li>if it provides heating or hot water, the combined heating and hot water capacity</li>
    <li>if it provides cooling, the cooling capacity</li>
    <li>which type of technology provides the largest proportion of its heat energy</li>
</ul>

                        {% endif %} 
                        
                        <div class="govuk-button-group">
                            {% if data.introcommunal == "Yes" %}  
                            <a href="type" class="govuk-button">Continue</a>
                            
                            {% else %}
                            <a href="addresspostcode" class="govuk-button">Continue</a>
                            
                            {% endif %}
                
                            <a href="/{{data.version}}/add-heat-network/energycentre/cancel?v={{data.lastpage}}" class="govuk-link govuk-link--no-visited-state">Cancel</a>
            
                        </div>



    </div>
</div>

{% endblock %}