{% extends 'layouts/main.html' %}
{% set title = "Confirm you want to sign out" %}
{% set _inError = data.validationError == "true"  %}


{% block pageTitle %}
{{title}}
{% endblock %}


{% block beforeContent %}



{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <form  method="POST" novalidate>

            <div class="govuk-form-group {% if data.validationErrors.companynumber %}govuk-form-group--error{% endif %}">

                <fieldset class="govuk-fieldset" >

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                        <h1 class="govuk-fieldset__heading">
                            {{title}}
                        </h1>

                    </legend>

                    <p class="govuk-body">
                        This will sign you out of your GOV.UK One Login account.
                    </p>
                    <p class="govuk-body">
                        You'll need to sign back in to access any government service you use with your GOV.UK One Login.
                    </p>
                    <div class="govuk-button-group">
                        <a href="sign-out" class="govuk-button">Sign out</a>
                        <a href="javascript:history.back()" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                    </div>
                    



                </fieldset>


            </div>
        </form>
    </div>

</div>

{% endblock %}