{% extends "layouts/main.html" %}
{% set showhelp = false %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-l">Iterations</h2>

    

    <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          v34
        </dt>
        <dd class="govuk-summary-list__value">
          Monitoring end to end journey
        </dd>
        
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="v34/account-information?v=operatorcomplete">Open</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          v33
        </dt>
        <dd class="govuk-summary-list__value">
          Monitoring notifications
        </dd>
        
        <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="v33/account-information?v=operatorcomplete">Open</a>
        </dd>
      </div>
        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          v32
        </dt>
        <dd class="govuk-summary-list__value">
          Finalised registration journey with tweaks for dev
            <p class="govuk-body govuk-!-margin-top-4"><a href="v32/add-heat-network/introduction/intro" class="govuk-link govuk-link--no-visited-state">Registration</a> <strong class="govuk-tag">DEV</strong> </p>

        </dd>
        
        <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="v32/account-information?v=operatorcomplete">Open</a>
        </dd>
      </div>
            
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          v31
        </dt>
        <dd class="govuk-summary-list__value">
          Reduced data set registration journey
        </dd>
        
        <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="v31/account-information?v=ur">Open</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          v30
        </dt>
        <dd class="govuk-summary-list__value">
          Supplier invite process updated for UR
          <p class="govuk-body govuk-!-margin-top-4"><a href="v30/account-information?v=ur" class="govuk-link govuk-link--no-visited-state">Account home</a></p>

        </dd>
        
        <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="v30/setup/company-name">Open</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          v29
        </dt>
        <dd class="govuk-summary-list__value">
          Supplier invite process added
        </dd>
        
        <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="v29/setup/company-name">Open</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          v28
        </dt>
        <dd class="govuk-summary-list__value">
          First pass of end to end registration process
        </dd>
        
        <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="v28/setup/company-name">Open</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          v27
        </dt>
        <dd class="govuk-summary-list__value">
          Further iterations to registration intro process
        </dd>
        
        <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="v27/setup/company-name">Open</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          v26
        </dt>
        <dd class="govuk-summary-list__value">
          Attempt to finalise intro flow, supplier invite flow updated
        </dd>
        
        <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="v26/setup/company-name">Open</a>
          
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          v25
        </dt>
        <dd class="govuk-summary-list__value">
          Further intro flow tweaks (mostly content)
        </dd>
        
        <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="v25/setup/company-name">Open</a>
          
        </dd>
      </div>



      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          v24
        </dt>
        <dd class="govuk-summary-list__value">
          Rework of registration intro flow to build diagram of heat network for user
        </dd>
        
        <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="v24/account-information?v=ur">Open</a>
          
        </dd>
      </div>



      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          v23
        </dt>
        <dd class="govuk-summary-list__value">
          SMRI and supplementary data - dev ready variants
          <p class="govuk-body govuk-!-margin-top-4"><a href="v23/smri/list" class="govuk-link govuk-link--no-visited-state">SMRI</a> <strong class="govuk-tag">DEV</strong></p>
          <p class="govuk-body govuk-!-margin-top-4"><a href="v23/organisation-details/organisation-details" class="govuk-link govuk-link--no-visited-state">Supplementary info</a> <strong class="govuk-tag">DEV</strong></p>
        </dd>
        
        <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="v22/account-information">Open</a>
          
        </dd>
        
      </div>

  
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          v22
        </dt>
        <dd class="govuk-summary-list__value">
          Rework to SMRI, updated registration infro flow for next round of UR. Final fixes to supplementary organisation info.
          <p class="govuk-body govuk-!-margin-top-4"><a href="v22/smri/list" class="govuk-link govuk-link--no-visited-state">SMRI</a></p>
          <p class="govuk-body govuk-!-margin-top-4"><a href="v22/organisation-details/organisation-details" class="govuk-link govuk-link--no-visited-state">Supplementary organisation info</a></p>
          <p class="govuk-body govuk-!-margin-top-4"><a href="v22/add-heat-network/introduction/intro" class="govuk-link govuk-link--no-visited-state">Registration introduction</a></p>
        </dd>
        
        <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="v22/account-information">Open</a>
          
        </dd>
        
      </div>

    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          v21
        </dt>
        <dd class="govuk-summary-list__value">
          Further changes to supplementary data and SMRI. New registration intro flow added for testing.
        </dd>
        
        <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="v21/account-information?v=ur">Open</a>
          
        </dd>
        
      </div>
      
    
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          v20
        </dt>
        <dd class="govuk-summary-list__value">
          Added SMRI flow and updated supplementary organisation data.
        </dd>
        
        <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="v20/account-information">Open</a>
          
        </dd>
      </div>
      
    
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          v19
        </dt>
        <dd class="govuk-summary-list__value">
          Updates to user management.
        </dd>
        
        <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="v19/account-information">Open</a>
          
        </dd>
        
      </div>
      
    
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          v18
        </dt>
        <dd class="govuk-summary-list__value">
          Added third party user management.
          <p class="govuk-body govuk-!-margin-top-4"><a href="v18/manage-users" class="govuk-link govuk-link--no-visited-state">User management</a> <strong class="govuk-tag">DEV</strong> </p>

        </dd>
        
        <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="v18/account-information">Open</a>
          
        </dd>
        
      </div>
      
    
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          v17
        </dt>
        <dd class="govuk-summary-list__value">
          Further updates to user management flow.
          <p class="govuk-body govuk-!-margin-top-4"><a href="v17/account-creation/start" class="govuk-link govuk-link--no-visited-state">Account creation</a> <strong class="govuk-tag">DEV</strong> </p>
        </dd>
        
        <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="v17/account-information">Open</a>
          
        </dd>
        
      </div>
      
    
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          v16
        </dt>
        <dd class="govuk-summary-list__value">
          Updates to user management flow.
        </dd>
        
        <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="v16/account-creation/start">Open</a>
          
        </dd>
        
      </div>
      
    
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          v15
        </dt>
        <dd class="govuk-summary-list__value">
          Basic user management flow added.
        </dd>
        
        <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="v15/account-creation/start">Open</a>
          
        </dd>
        
      </div>
      
    
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          v14
        </dt>
        <dd class="govuk-summary-list__value">
          Full account creation - first version
        </dd>
        
        <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="v14/account-creation/start">Open</a>
          
        </dd>
        
      </div>
      
    
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          v13
        </dt>
        <dd class="govuk-summary-list__value">
          Final flow for ltd company account creation
        </dd>
        
        <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="v13/account-creation/start">Open</a>
          
        </dd>
        
      </div>
      
    
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          v12
        </dt>
        <dd class="govuk-summary-list__value">
          Account creation updated flow
        </dd>
        
        <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="v12/account-creation/start">Open</a>
          
        </dd>
        
      </div>
      
    
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          v11
        </dt>
        <dd class="govuk-summary-list__value">
          Account creation flow added
        </dd>
        
        <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="v11/account-creation/v1/start">Open</a>
          
        </dd>
        
      </div>
      
    
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          v10
        </dt>
        <dd class="govuk-summary-list__value">
          Finalised first round for add heat network
        </dd>
        
        <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="v10/account-information">Open</a>
          
        </dd>
        
      </div>
      
    
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          v9
        </dt>
        <dd class="govuk-summary-list__value">
          Next iteration for add heat network UR
        </dd>
        
        <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="v9/account-information">Open</a>
          
        </dd>
        
      </div>
      
    
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          v8
        </dt>
        <dd class="govuk-summary-list__value">
          Updated ready for next round of UR.
        </dd>
        
        <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="v8/account-information">Open</a>
          
        </dd>
        
      </div>
      
    
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          v7
        </dt>
        <dd class="govuk-summary-list__value">
          Updated for Round 2 of UR - 05/02/2024.
        </dd>
        
        <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="v7/account-information">Open</a>
          
        </dd>
        
      </div>
      
    
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          v6
        </dt>
        <dd class="govuk-summary-list__value">
          Implemented from Mural mock-up v6 - 28 Jun 2023.
        </dd>
        
        <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="v6/organisation-details/start">Open</a>
          
        </dd>
        
      </div>
      
    
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          v5 (/current)
        </dt>
        <dd class="govuk-summary-list__value">
          Implemented from Mural mock-up v5 - 22 Jun 2023.
        </dd>
        
        <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="current/organisation-details/start">Open</a>
          
        </dd>
        
      </div>
      
    
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          v4
        </dt>
        <dd class="govuk-summary-list__value">
          Implemented from Mural mock-up v4 - 12 Jun 2023.
        </dd>
        
        <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="v4/organisation-details/start">Open</a>
          
        </dd>
        
      </div>
      
    
    </dl>
  </div>
</div>

{% endblock %}
