{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-l">Iterations</h2>

    

    {{ govukSummaryList ({
      rows: [
        {
          key: {
            text: 'Current iteration'
          },
          value: {
            text: 'Implemented from Mural mock-up v4'
          },
          actions: {
            items: [
              {
                text: 'Open',
                href: 'current/organisation-details/start'
              }
            ]
          }
        },
        
        {
          key: {
            text: 'v3 - 12 Jun 2023'
          },
          value: {
            text: 'Implemented from Mural mock-up v3'
          },
          actions: {
            items: [
              {
                text: 'Open',
                href: 'v3/start'
              }
            ]
          }
        }
      ]
    }) }}

  </div>
</div>

{% endblock %}
