{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-l">Iterations</h2>

    

    {{ govukSummaryList ({
      rows: [
      {
        key: {
          text: 'v11'
        },
        value: {
          text: 'Account creation flow added'
        },
        actions: {
          items: [
            {
              text: 'Open',
              href: 'v11/account-creation/v1/start'
            }
          ]
        }
      },
      {
        key: {
          text: 'v10'
        },
        value: {
          text: 'Finalised first round for add heat network'
        },
        actions: {
          items: [
            {
              text: 'Open',
              href: 'v10/account-information'
            }
          ]
        }
      },
      {
        key: {
          text: 'v9'
        },
        value: {
          text: 'Next iteration for add heat network UR'
        },
        actions: {
          items: [
            {
              text: 'Open',
              href: 'v9/account-information'
            }
          ]
        }
      },
      {
        key: {
          text: 'v8'
        },
        value: {
          text: 'Updated ready for next round of UR.'
        },
        actions: {
          items: [
            {
              text: 'Open',
              href: 'v8/account-information'
            }
          ]
        }
      },
        {
          key: {
            text: 'v7'
          },
          value: {
            text: 'Updated for Round 2 of UR - 05/02/2024.'
          },
          actions: {
            items: [
              {
                text: 'Open',
                href: 'v7/account-information'
              }
            ]
          }
        },

        {
          key: {
            text: 'v6'
          },
          value: {
            text: 'Implemented from Mural mock-up v6 - 28 Jun 2023.'
          },
          actions: {
            items: [
              {
                text: 'Open',
                href: 'v6/organisation-details/start'
              }
            ]
          }
        },
        
        {
          key: {
            text: 'v5 (/current)'
          },
          value: {
            text: 'Implemented from Mural mock-up v5 - 22 Jun 2023.'
          },
          actions: {
            items: [
              {
                text: 'Open',
                href: 'current/organisation-details/start'
              }
            ]
          }
        },

        {
          key: {
            text: 'v4'
          },
          value: {
            text: 'Implemented from Mural mock-up v4 - 12 Jun 2023.'
          },
          actions: {
            items: [
              {
                text: 'Open',
                href: 'v4/organisation-details/start'
              }
            ]
          }
        }
      ]
    }) }}

  </div>
</div>

{% endblock %}
