{% extends 'layouts/main.html' %}
{% set title = "Heat network summary" %}
{% set buildings %}{{data.introbuildingshowmany - data.introcommunaloperatehowmany}}{% endset %}


{% set HN %}HNB{% if data.introbuildings == "Yes" %}{{buildings}}{% else %}0{% endif %}E{% if data.introenergycentre == "Yes" %}{{data.introenergycentrehowmany}}{% else %}0{% endif %}{% endset %}
{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">



        <div class="govuk-form-group ">

            <span class="govuk-caption-l">Add a heat network - introduction</span>
            <h1 class="govuk-heading-l">
                {{title}}
            </h1>
            <p class="govuk-body">
                Based on the questions you've answered, you’re registering a <strong>district heat network</strong> where you operate:
                                <ul class="govuk-list govuk-list--bullet"> 
                    {% if data.introenergycentre == "Yes" %} <li><strong>{{data.introenergycentrehowmany}} </strong>energy centres</li> {% endif %}
                    {% if data.introbuildings == "Yes" %}<li><strong>{{buildings}} </strong>building connection points</li> {% endif %}</ul>
            </p>
            <h3 class="govuk-heading-m">Your heat network</h3>
            <img src="/public/images/HNS/{{HN}}.png" style="max-width: 100%; max-height: 600px" class="govuk-!-margin-bottom-3" />    

            {% if data.introcommunaloperate == "Yes" %}
            <h3 class="govuk-heading-m">Separate heat network registrations</h3>
            <p class="govuk-body">You also told us that you operate <strong>{{data.introcommunaloperatehowmany}} communal building connection point{% if data.introcommunaloperatehowmany > 1 %}s{% endif %}</strong> on this network. You must register these as separate heat networks.</p>

            </div>
            </div>
            <div class="govuk-grid-row">

                <div class="govuk-grid-column-full">
                    <div class="imagerow">
                        {% for i in range(data.introcommunaloperatehowmany) %}
                            <div class="imageitem">
                                <img src="/public/images/HNS/HNC1.png" class="govuk-!-margin-bottom-3" />
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}







        {% if (data.role == "Both") and (data.introbuildings == "Yes")  %}
        <a href="suppliers" class="govuk-button">Continue</a>

        {% else %}
        <a href="supply20" class="govuk-button">Continue</a>

        {% endif %}

    </div>

</div>

{% endblock %}