{% extends 'layouts/main.html' %}
{% set title = "Check your answers" %}
{% set company %}{% if data.companyname %}{{data.companyname}}{% else %}Radienteco Ltd{% endif %}{% endset %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">People with SMRI at {{company}}</span>
      <h1 class="govuk-heading-l">
            {{title}}
        </h1>


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Full name
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data.smrifirstname}} {{data.smrilastname}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="personal">Change</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data.smridobday}} {{data.smridobmonth}} {{data.smridobyear}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="personal">Change</a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Serious misconduct or mismanagement?
              </dt>
              <dd class="govuk-summary-list__value">
                  {{data.smrimisconduct}}
              </dd>
              <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="fitandproper">Change</a>
              </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Unspent criminal convictions?
            </dt>
            <dd class="govuk-summary-list__value">
                {{data.smriconvictions}}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="fitandproper">Change</a>
            </dd>
        </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Insolvency history?
            </dt>
            <dd class="govuk-summary-list__value">
                {{data.smriinsolvency}}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="fitandproper">Change</a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               Disqualified from acting as a director?
            </dt>
            <dd class="govuk-summary-list__value">
                {{data.smridisqualified}}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="fitandproper">Change</a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Person with SMRI at an operator or supplier that received a Last Resort Supply Direction?
            </dt>
            <dd class="govuk-summary-list__value">
                {{data.smrisignificant}}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="fitandproper">Change</a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Person with SMRI at an operator or supplier that received a Special Administration Order?
            </dt>
            <dd class="govuk-summary-list__value">
                {{data.smrisignificant2}}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="fitandproper">Change</a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Relevant person in respect of premises to which a tribunal has appointed a manager?
            </dt>
            <dd class="govuk-summary-list__value">
                {{data.smrirelevant}}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="fitandproper">Change</a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                On a database of rogue landlords or property agents?
            </dt>
            <dd class="govuk-summary-list__value">
                {{data.smriidentified}}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="fitandproper">Change</a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Owned or managed premised made the subject of a Relevant Order?
            </dt>
            <dd class="govuk-summary-list__value">
                {{data.smriowned}}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="fitandproper">Change</a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Refused, had revoked, restricted or terminated any form of authorisation?
            </dt>
            <dd class="govuk-summary-list__value">
                {{data.smrirevoked}}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="fitandproper">Change</a>
            </dd>
        </div>

        {% if data.smrimoredetails %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Further details
            </dt>
            <dd class="govuk-summary-list__value">
                {{data.smrimoredetails}}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="moredetails">Change</a>
            </dd>
        </div>
        {% endif %}
        
        </dl>
        <form method="POST" novalidate>
            {{
                govukButton ({
                    html: 'Continue'
                })
            }}
        </form>


    </div>

</div>

{% endblock %}