{#
  For guidance on how to use layouts see:
  https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
  #}
  
  {% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
  
  {% set bodyClasses = 'app-ofgem' %}
      {% if data.version and (data.version.replace('v', '')|int >= 31)%}
  {% set govukRebrand = true %}
  {% else %}
    {% set govukRebrand = false %}

  {% endif %}

  
  {% block header %}
    {% if data.version and (data.version.replace('v', '')|int >= 31)%}

          {% include data.version + "/_partials/cookiebanner.html" %}
              
  {{ govukHeader({
    homepageUrl: "/",
    rebrand: true,
    classes: "govuk-header--full-width-border"
  }) }}

  {% else %}

      
  {{ govukHeader({
    homepageUrl: "/",
    rebrand: false,
    classes: "govuk-header--full-width-border"
  }) }}
    {% endif %}





  
  {{ govukServiceNavigation({
    serviceName: serviceName,
    serviceUrl: "/" + data.version + "/account-information"
  }) }}
  
  
  
  
  
  {% endblock %}

  {% block footer %}
  
  {% if (showhelp != false) and (data.noqm != true) and data.version and (data.version.replace('v', '')|int == 32)%}
        {% include data.version + "/_partials/needhelp.html" %}
        
  {% endif %}


{% set footerLinks = [] %}

{% if cdnumber %}
  {% set footerLinks = footerLinks.concat([{
    href: "",
    text: "CD" + cdnumber
  }]) %}
{% endif %}
 {% if data.version and (data.version.replace('v', '')|int >= 31)%}
 {% set footerLinks = footerLinks.concat([
  {
    href: "/" + data.version + "/help/cookies",
    text: "Cookies"
  },
  {
    href: "https://www.ofgem.gov.uk/ofgem-privacy-policy",
    text: "Privacy",
    attributes: {
      target: "_blank",
      rel: "external"
    }
  }
]) %}

 {% endif %}

{% set footerLinks = footerLinks.concat([

  {
    href: "/manage-prototype",
    text: "Manage prototype"
  },
  {
    href: "/manage-prototype/clear-data",
    text: "Clear data"
  },
  {
    href: "/v31/setup/company-name",
    text: "User research"
  }
]) %}

 {% if data.version and (data.version.replace('v', '')|int >= 31)%}

{{ govukFooter({
  rebrand: true,
  meta: {
    items: footerLinks
  }
}) }}

{% else %}
{{ govukFooter({
  rebrand: false,
  meta: {
    items: footerLinks
  }
}) }}
{% endif %}





  {% endblock %}